[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  color: #333;
}

.img-circle.profile_img {
  min-height: 56px;
}

.nav_menu {
  margin-bottom: 0;
}

#menu_toggle {
  cursor: pointer;
}

#left-col-nav .scroll-view-content {
  width: 100%;
}

.site-logo {
  padding: 15px 15px 0;
}
.site-logo, .site-logo span {
  display: block;
}
.site-logo span {
  background: url('../images/globals-s0284991fd0.png') 0 0;
  height: 45px;
  width: 187px;
}
body.nav-sm .site-logo {
  padding: 15px 11px 0;
}
body.nav-sm .site-logo span {
  width: 44px;
}

footer {
  margin-top: 17px;
}

body.dragging,
body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

/* Isotope Transitions
------------------------------- */
.isotope-list,
.isotope-list .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope-list {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope-list .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity;
}

.list-layout h3 {
  color: #73879c;
}
.list-layout .items-list-table tbody tr {
  cursor: pointer;
}
.list-layout .fa-plus {
  padding-right: 10px;
}

.edit-form-layout h3, .edit-form-layout label {
  color: #73879c;
}
.edit-form-layout .one-photo-block .x_panel {
  border-color: #ccc;
}
.edit-form-layout .one-photo-block .photo-wrapper {
  height: 300px;
  text-align: center;
}
.edit-form-layout .one-photo-block img {
  max-width: 100%;
  max-height: 100%;
}
.edit-form-layout .one-photo-block.bad .x_panel {
  border-color: #ce5454;
}
.edit-form-layout .upload-photo-btn-wrapper {
  position: relative;
  overflow: hidden;
}
.edit-form-layout .upload-photo-btn-wrapper input {
  display: block;
  position: absolute;
  right: 0;
  top: -1px;
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
}
.edit-form-layout .chosen-select {
  width: 100%;
}
.edit-form-layout .chosen-container-multi .chosen-choices {
  background-image: none;
  border: solid 1px #c4c4c4;
  padding: 4px 15px;
}
.edit-form-layout .chosen-container-multi .chosen-choices .search-field input {
  color: #a9a9a9;
}
.edit-form-layout .map-block {
  width: 100%;
  height: 300px;
}

.businesses-list {
  overflow: hidden;
}

.business-full-detail-wrapper {
  display: none;
}
.business-full-detail-wrapper .body {
  margin-top: 16px;
}

.business-list-item {
  border-bottom: 1px solid #e6e6e6;
  padding: 4px 10px 2px;
  position: relative;
}
.business-list-item .check-bulk {
  padding: 0 .1em 0 .2em;
  display: table-cell;
  vertical-align: middle;
}
.business-list-item .details {
  display: table-cell;
  width: 100%;
  padding: .1em .8em .5em;
}

.africaone-home-wrapper {
  padding: 0;
}
.africaone-home-wrapper .x_title {
  margin-bottom: 0;
}
.africaone-home-wrapper .businesses-list-items-wrapper,
.africaone-home-wrapper .businesses-full-details-wrapper {
  float: left;
  width: 100%;
  height: 100%;
  overflow: auto;
  -moz-transition: width 0.3s ease-in;
  -o-transition: width 0.3s ease-in;
  -webkit-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}
.africaone-home-wrapper .businesses-full-details-wrapper {
  width: 0;
  padding: 30px;
  border-left: solid 15px #f7f7f7;
}
.africaone-home-wrapper .businesses-list.showing-details .businesses-list-items-wrapper,
.africaone-home-wrapper .businesses-list.showing-details .businesses-full-details-wrapper {
  width: 50%;
}

.side-menu a {
  cursor: pointer;
}

.create-business-form-wrapper h1 {
  margin: 0 0 12px;
}
.create-business-form-wrapper .business-edit-btns {
  margin: 0 0 12px;
}
.create-business-form-wrapper .x_panel {
  margin: 12px 0 0;
  padding: 36px;
}
.create-business-form-wrapper .x_panel .main-form-row {
  margin: 0 -18px;
}
.create-business-form-wrapper .x_panel .main-form-col {
  padding: 0 18px;
}
.create-business-form-wrapper label {
  font-size: 16px;
}
.create-business-form-wrapper .form-group {
  margin-bottom: 16px;
  position: relative;
}
.create-business-form-wrapper .form-group .alert {
  position: absolute;
  right: 0;
  left: auto;
  top: -3px;
}
.create-business-form-wrapper #business-address-1 {
  margin-bottom: 12px;
}
.create-business-form-wrapper .hours-wrapper,
.create-business-form-wrapper .chosen-categories-wrapper {
  margin-bottom: 9px;
}
.create-business-form-wrapper .chosen-category {
  margin-bottom: 3px;
}
.create-business-form-wrapper .chosen-category span {
  padding-right: 9px;
}
.create-business-form-wrapper .hours {
  display: table-row;
  margin-bottom: 3px;
}
.create-business-form-wrapper .hours span {
  display: table-cell;
  padding-right: 9px;
}
.create-business-form-wrapper .hours span.weekday {
  font-weight: bold;
}
.create-business-form-wrapper .hours-select li {
  padding: 0 2px;
}
.create-business-form-wrapper .autocomplete-no-suggestion {
  padding: 6px;
}
.create-business-form-wrapper .autocomplete-suggestion {
  background: #fff;
  border-bottom: solid 1px #ccc;
  padding: 3px 6px;
}
.create-business-form-wrapper .autocomplete-suggestion:hover, .create-business-form-wrapper .autocomplete-suggestion.autocomplete-selected {
  color: #fff;
  background-color: #337ab7;
}
.create-business-form-wrapper .category-spacer {
  margin: 0 6px;
}
.create-business-form-wrapper .gllpLatlonPicker .search-btn {
  margin: 0;
}
.create-business-form-wrapper .gllpLatlonPicker .input-group {
  margin: 0;
}
.create-business-form-wrapper .gllpMap {
  height: 400px;
  background: #eee;
}
.create-business-form-wrapper .business-location-name {
  padding: 15px;
}

#manage-reviews-listing {
  padding: 30px;
}

.manage-review-item {
  border-bottom: solid 1px #eee;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.manage-review-item .row {
  margin: 0 -15px;
}
.manage-review-item .col {
  padding: 0 15px;
}
.manage-review-item img {
  width: 100%;
  height: auto;
  display: block;
}
.manage-review-item .user-img {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.manage-review-item .user-name {
  margin-top: 12px;
}
.manage-review-item .user-name a {
  font-weight: bold;
  line-height: 1.2em;
  font-size: 30px;
}
.manage-review-item .review-images {
  margin-bottom: 0;
}
.manage-review-item .review-text {
  margin: 5px 0 15px;
}
.manage-review-item .business-name {
  font-size: 23px;
  font-weight: bold;
}
.manage-review-item .manage-review-btns .btn {
  display: block;
  width: 100%;
}
.manage-review-item .details {
  margin-top: 30px;
}
.manage-review-item .review-marked {
  font-size: 130%;
}
.manage-review-item .review-img {
  position: relative;
}
.manage-review-item .review-img .delete-btn {
  cursor: pointer;
  color: #fff;
  background: #d9534f;
  position: absolute;
  top: 0;
  right: 10px;
  padding: 9px;
  font-size: 20px;
  line-height: 1em;
}
.manage-review-item .review-stars-date {
  margin: 5px 0;
  line-height: 26px;
}
.manage-review-item .review-stars-date .info-col {
  float: left;
  padding-right: 15px;
}

.review-stars-wrapper {
  background: url('../images/stars_map.png?1487314290') left bottom;
  height: 25px;
  width: 130px;
}
.review-stars-wrapper.rating-4-5 {
  background-position: 0 50px;
}
.review-stars-wrapper.rating-4-0 {
  background-position: 0 75px;
}
.review-stars-wrapper.rating-3-5 {
  background-position: 0 100px;
}
.review-stars-wrapper.rating-3-0 {
  background-position: 0 125px;
}
.review-stars-wrapper.rating-2-5 {
  background-position: 0 150px;
}
.review-stars-wrapper.rating-2-0 {
  background-position: 0 175px;
}
.review-stars-wrapper.rating-1-5 {
  background-position: 0 200px;
}
.review-stars-wrapper.rating-1-0 {
  background-position: 0 225px;
}
.review-stars-wrapper.rating-0-0 {
  background-position: 0 250px;
}

.manage-categories-wrapper .saving-cover {
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 15;
  display: none;
}
.manage-categories-wrapper .saving {
  position: relative;
}
.manage-categories-wrapper .saving .saving-cover {
  display: block;
}
.manage-categories-wrapper .panel_toolbox {
  min-width: 0;
}
.manage-categories-wrapper .form-wrapper {
  display: none;
}
.manage-categories-wrapper .text-field-wrapper {
  width: 214px;
}
.manage-categories-wrapper .super-category-form .text-field-wrapper {
  width: 188px;
}
.manage-categories-wrapper .edit-mode .form-wrapper {
  display: block;
}
.manage-categories-wrapper .edit-mode .info-wrapper {
  display: none;
}
.manage-categories-wrapper .parent-category-col {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 20px;
}
.manage-categories-wrapper .parent-category-col .x_title .super-category-icon {
  width: 26px;
  font-size: 24px;
  cursor: pointer;
}
.manage-categories-wrapper .parent-category-col .x_title .super-category-icon .fa {
  display: block;
}
.manage-categories-wrapper .parent-category-col .x_title .super-category-form .super-category-icon {
  padding: 6px 0;
}
.manage-categories-wrapper .parent-category-col .x_title .panel_toolbox {
  width: 43px;
}
.manage-categories-wrapper .parent-category-col .x_title .panel_toolbox li a {
  padding: 3px 5px;
}
.manage-categories-wrapper .parent-category-col .x_title .panel_toolbox li a .fa {
  display: block;
}
.manage-categories-wrapper .parent-category-col .x_title h2 {
  float: none;
  margin: 0;
}
.manage-categories-wrapper .new-super-category-creator .parent-category-col {
  background: #999;
}
.manage-categories-wrapper .categories-list {
  margin: 0;
}
body.dragging .manage-categories-wrapper .categories-list {
  height: 34px;
  background: #aaa;
}
body.dragging .manage-categories-wrapper .categories-list.original-container {
  background: #eee;
}
.manage-categories-wrapper .placeholder {
  height: 34px;
  background: #aaa;
  border: dotted 3px #ccc;
}
.manage-categories-wrapper .category-item {
  padding-bottom: 3px;
  border-bottom: solid 1px #eee;
}
.manage-categories-wrapper .category-item.last-item {
  border-bottom: none;
  padding-bottom: 0;
}
body.dragging .manage-categories-wrapper .category-item {
  display: none;
}
body.dragging .manage-categories-wrapper .category-item.dragged {
  display: block;
}
body.dragging .manage-categories-wrapper .category-item.last-item {
  display: block;
}
.manage-categories-wrapper .category-item:hover {
  background-color: #eee;
}
.manage-categories-wrapper .category-item .info-wrapper .pull-left {
  padding: 5px;
  width: 24px;
}
.manage-categories-wrapper .category-item .info-wrapper .handle {
  cursor: move;
}
.manage-categories-wrapper .category-item .info-wrapper .name {
  margin: 0 44px 0 24px;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
}
.manage-categories-wrapper .category-item .info-wrapper .panel_toolbox {
  width: 43px;
}
.manage-categories-wrapper .new-category {
  margin-top: 10px;
}
body.dragging .manage-categories-wrapper .new-category {
  display: none;
}
.manage-categories-wrapper .new-category .name {
  padding: 0;
}
.manage-categories-wrapper .new-category .btn-group {
  display: none;
}
.manage-categories-wrapper .new-category.edit-mode .btn-group {
  display: block;
}
.manage-categories-wrapper .new-category.edit-mode .name {
  float: left;
  width: 214px;
}
.manage-categories-wrapper .new-super-category-creator .x_title {
  padding: 0;
  margin: 0;
  border: none;
}
.manage-categories-wrapper .new-super-category-creator .btn-group {
  display: none;
}
.manage-categories-wrapper .new-super-category-creator .text-field-wrapper {
  width: 274px;
}
.manage-categories-wrapper .new-super-category-creator.edit-mode-active .text-field-wrapper {
  width: 198px;
}
.manage-categories-wrapper .new-super-category-creator.edit-mode-active .btn-group {
  display: block;
}

.business-photos-content {
  margin-top: 10px;
}
.business-photos-content .dropzone {
  padding: 25px 30px;
}
.business-photos-content .dropzone .dz-message {
  margin: 0;
  padding-top: 40px;
}
.business-photos-content .dropzone .dz-preview .dz-error-message {
  top: 147px;
}
.business-photos-content .business-img-preview {
  display: none;
  border: solid 1px #ccc;
  min-height: 150px;
  position: relative;
}
.business-photos-content .business-img-preview img {
  display: block;
  margin: 0 auto;
  height: 150px;
  width: auto;
}
.business-photos-content .business-img-preview .view p {
  padding-top: 40px;
}
.business-photos-content .upload-business-photos {
  border: 1px solid #ccc;
  background: #eee;
  min-height: 150px;
  position: relative;
  cursor: pointer;
}
.business-photos-content .upload-business-photos .msg {
  position: absolute;
  width: 100%;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-style: italic;
  text-align: center;
}
.business-photos-content .with-img .dropzone {
  display: none;
}
.business-photos-content .with-img .business-img-preview {
  display: block;
}
.business-photos-content .thumbnail {
  min-height: 190px;
  height: auto;
}
.business-photos-content .business-photos-list img {
  display: block;
  width: 100%;
  height: auto;
}
.business-photos-content .business-photos-list .caption textarea {
  line-height: 1.5em;
  font-size: 13px;
}
.business-photos-content .business-photos-list .caption .caption-form-info {
  font-style: italic;
  margin-top: 6px;
}
.business-photos-content .business-photos-list .caption .caption-form-info.error {
  color: #f00;
  margin-top: 6px;
  font-weight: bold;
  font-style: italic;
  display: none;
}
.business-photos-content .show-loading {
  position: relative;
}
.business-photos-content .show-loading .loading {
  display: block;
  background-color: #000;
}

.filters-wrapper {
  padding: 18px;
}
.filters-wrapper.fixed-at-top {
  width: 100%;
  z-index: 9;
  position: fixed;
  top: 58px;
  border-bottom: solid 15px #F7F7F7;
}

.listings-filters label {
  line-height: 1em;
  margin-bottom: 9px;
  display: block;
  font-size: 120%;
}
.listings-filters .submit-col {
  padding-top: 23px;
}

.chosen-container-multi .chosen-choices {
  min-height: 35px;
}
.chosen-container-multi .chosen-choices li.search-choice {
  margin-top: 6px;
  margin-bottom: 6px;
}
.chosen-container-multi .chosen-choices li.search-field {
  margin-top: 4px;
}

/*# sourceMappingURL=screen.css.map */
