{% extends 'core/base.html' %}
{% load i18n %}

{% block main %}

  <div class="claim-business-page-wrapper claim-business-find-page-wrapper blue-header-h1-top">

    <div class="blue-header-bg"></div>

    <div class="full-page-content-wrapper">

      <div class="find-business-container container">
        <h1>Find and Claim your Business Page on AfricaOne</h1>

        <div class="claim-business-find-form-wrapper">
          {% include 'core/header/form-find-companies.html' %}
        </div>

        <div class="find-business-results-wrapper">
          <div class="no-results-wrapper">Sorry, there were no matches. Please try searching again.<br/><span class="small">Can&rsquo;t find your business? <a href="{% url 'core:business_add' %}">Add a new business to AfricaOne.</a></span></div>
        </div>
      </div>

      {% include 'core/claim-business/why-africaone.html' %}

    </div>

  </div>

{% endblock %}