<div class="why-africaone-wrapper">
  <div class="container">
    <h2>Why AfricaOne?</h2>
    <ul class="why-points-wrapper clearfix">
      <li class="why-point">
        <div class="icon"></div>
        <div class="title">Trusted Reviews</div>
        <div class="desc">AfricaOne reviews are trusted and genuine. Your business will get genuine feedback.</div>
      </li>
      <li class="why-point">
        <div class="icon"></div>
        <div class="title">Spending Decisions</div>
        <div class="desc">AfricaOne reviews are trusted and genuine. Your business will get genuine feedback.</div>
      </li>
      <li class="why-point">
        <div class="icon"></div>
        <div class="title">1,000 hits a day</div>
        <div class="desc">AfricaOne reviews are trusted and genuine. Your business will get genuine feedback.</div>
      </li>
      <li class="why-point">
        <div class="icon"></div>
        <div class="title">Trusted Reviews</div>
        <div class="desc">AfricaOne reviews are trusted and genuine. Your business will get genuine feedback.</div>
      </li>
      <li class="why-point">
        <div class="icon"></div>
        <div class="title">1,000 hits a day</div>
        <div class="desc">AfricaOne reviews are trusted and genuine. Your business will get genuine feedback.</div>
      </li>
      <li class="why-point">
        <div class="icon"></div>
        <div class="title">Trusted Reviews</div>
        <div class="desc">AfricaOne reviews are trusted and genuine. Your business will get genuine feedback.</div>
      </li>
    </ul>
  </div>
</div>

<div class="start-now-btn-wrapper"><a href="#" class="btn">Start now</a></div>