
<div class="scroll-view-content">

  <a href="/manager" class="site-logo"><span></span></a>

  <!-- menu prile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="images/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2>{{request.user.username}}</h2>
    </div>
  </div>
  <!-- /menu prile quick info -->

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

    <div class="menu_section">
      <ul class="nav side-menu">
        <li><a href="{% url 'admin:home' %}"><i class="fa fa-home"></i>Dashboard</a></li>
        <li><a><i class="fa fa-suitcase"></i>Manage Listings<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu" style="display: none">
            <li><a href="{% url 'admin:home' %}">All Listings</a>
            </li>
            <li><a href="{% url 'admin:create_business' %}">Add Listing</a>
            </li>
          </ul>
        </li>
        <li><a href="{% url 'admin:manage_categories' %}"><i class="fa fa-list"></i>Manage Categories</a></li>
        <li><a href="{% url 'admin:manage_reviews' %}"><i class="fa fa-star"></i>Manage Reviews</a></li>
        <li>
          <a><i class="fa fa-user"></i>Manage Users<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu" style="display: none">
            <li><a href="{% url 'admin:manage_users' %}">All Users</a></li>
            <li><a href="{% url 'admin:create_user' %}">Add User</a></li>
          </ul>
        </li>
        <li><a href="{% url 'admin:news_list' %}"><i class="fa fa-list"></i>News</a></li>
        <li><a href="{% url 'admin:news_category_list' %}"><i class="fa fa-list"></i>News Categories</a></li>
        <li><a href="{% url 'admin:event_category_list' %}"><i class="fa fa-list"></i>Event Categories</a></li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->

</div>
