.businesses-listing-wrapper {
  background-color: #f1f1f1;

  .sort-links-wrapper {
    display: table;
    background-color: #0083ae;
    color: #fff;
    width: 100%;

    .sort-tab {
      display: table-cell;
      border-right: 1px solid #006e92;
      height: 80px;
      text-align: center;
      vertical-align: middle;

      &.tab-caption {
        width: 15%;
      }

      &.tab-with-link {
        width: 18%;

        .tab-link {
          cursor: pointer;

          &.selected {
            text-decoration: underline;
          }
        }
      }
    }

    // .col {
    //   float: left;
    //   border-right: solid 1px #006e92;
    // }
    // .col-label {
    //   padding: 30px 30px 30px 40px;
    // }
    // .col-link a {
    //   display: block;
    //   padding: 30px;
    //   color: #fff;
    // }
  }

  .pagination-block {
    height: 52px;
    background-color: #fff;
    padding: 11px;
    text-align: center;

    .pager {
      padding: 0;
      border-bottom: 0;
    }
  }
}

.business-listing-item {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 30px 40px 25px 40px;
  margin-bottom: 2px;
  background-color: #fff;

  .business-photo {
    display: table-cell;
    vertical-align: top;
    width: 20%;

    img {
      width: 100%;
    }
  }

  .business-name-description {
    display: table-cell;
    vertical-align: top;
    width: 30%;
    padding: 0 30px;

    .business-name {
      margin: 0;
      @include ems_font_size(17px, $font-size-base);
      text-transform: uppercase;

      a {
        color: #007fa8;
      }
    }
  }

  .price-sub-categories {
    display: table-cell;
    vertical-align: top;
    width: 25%;
    padding: 0 30px;
    border: 1px solid #f1f1f1;
    border-width: 0 1px 0 1px;

    .price {
      color: #dcdcdc;

      .marked {
        color: #424242;
      }
    }
  }

  .address-phone-website {
    display: table-cell;
    vertical-align: top;
    width: 25%;
    padding: 0 20px;
    word-break:break-all;
  }

  .business-review {
    display: table;
    margin-top: 15px;
    padding-top: 14px;
    border-top: 1px solid #f1f1f1;

    .user-photo {
      display: table-cell;
      vertical-align: top;
      width: 10%;
      padding-right: 20px;

      img {
        width: 100%;
      }
    }

    .user-review {
      display: table-cell;
      vertical-align: top;
      width: 90%;

      a {
        color: #999;

        span {
          color: #70b700;
        }
      }
    }
  }
  
}