.why-africaone-wrapper {
  background: #0083ae;
  color: #fff;
  padding: 70px 0 55px;
  margin: 70px 0 45px;
  h2 {
    text-align: center;
    margin: 0 0 90px;
    text-transform: uppercase;
    @include ems_font_size(28px, $font-size-base);
  }
  .why-points-wrapper {
    list-style: none none;
    margin: 0 -38px;
    padding: 0;
  }
  .why-point {
    float: left;
    width: 33.3%;
    text-align: center;
    @include ems_font_size(15px, $font-size-base);
    padding: 0 38px 65px;
    line-height: 1.4em;
    .title {
      font-weight: bold;
      text-transform: uppercase;
      @include ems_font_size(21px, 15px);
      line-height: 1.4em;
    }
    .icon {
      margin: 0 auto 20px;
      @include border-radius(100%);
      background: #fff;
      width: 162px;
      height: 162px;
    }
  }
}

.start-now-btn-wrapper {
  .btn {
    max-width: 350px;
    line-height: 75px;
    margin: 0 auto;
    font-weight: bold;
    @include ems_font_size(20px, $font-size-base);
    text-transform: uppercase;
  }
}

.find-business-results-wrapper {
  background: #fff;
  .no-results-wrapper {
    border-top: solid 1px #f1f1f1;
    text-align: center;
    padding: 30px 0;
    color: #83898b;
    @include ems_font_size(15px, $font-size-base);
    .small {
      @include ems_font_size(13px, 15px);
    }
    a {
      color: #009fed;
    }
  }
}

.claim-business-find-form-wrapper {
  background: #fff;
  padding: 45px 15px;
}