.home-header {
  .find-companies-caption {
    background-color: rgba(0, 0, 0, 0.7);
    @include ems_font_size(14px, $font-size-base);
    text-align: center;
    color: #fff;
    line-height: 45px;
    margin-top: -45px;
  }
}

.home-header-bg {
  background: image-url('home-page-2-bg.jpg') no-repeat center top;
  height: 650px;
}

.home-page-wrapper {
  margin-top: 60px;

  .top-header {
    padding: 40px;
    text-align: center;

    .header-text {
      font-style: italic;
      color: #333333;
      font-weight: bold;
      @include ems_font_size(25px, $font-size-base);

      span {
        @include ems_font_size(25px, $font-size-base);
        color: #cccccc;

        &.left-quote:before {
          content: "\201c";
          padding-right: 5px;
        }

        &.right-quote:before {
          content: "\201d";
          position: relative;
          bottom: -35px;
          left: -5px;
        }
      }
    }

    a.btn {
      display: inline-block;
      padding: 0 10px;
      margin-top: 20px;
    }
  }

  h2 {
    @include ems_font_size(30px, $font-size-base);
    line-height: 1.1em;
    margin: 0;
  }

  .block-why-join h2 {
    text-transform: uppercase;
  }

  .home-content-wrapper h2 {
    background: #f8f8f8;
    height: 78px;
    padding: 30px 25px 0;
  }

  .small-col h2 {
    @include ems_font_size(20px, $font-size-base);
    text-transform: uppercase;
    padding-top: 38px;
  }
}

.home-logo-menu-strip {
  position: absolute;
  top: 0;
  z-index: 10;
  padding: 30px 0 0 0;
  background: image-url('home-banner-gradient.png') repeat-x top;
  height: 264px;
  width: 100%;
  
  .logo-link {
    display: block;
    left: 45px; top: 30px;
    @include translateY(0);
    background: sprite($global-sprite, 'logo-header-white');
  }

  .header-login-links {
    display: inline-block;
    float: right;
    position: relative;
    right: 0;
    top: 0;
    @include translateY(3px);
    padding: 0 45px 0 35px;
    width: 270px;

    &.clearfix {
      overflow: visible;
    }

    .logged-in-user-name {
      position: absolute;
      top: -23px;
    }
  }

  .main-menu {
    display: block;
    float: right;
    text-align: right;
    height: 45px;

    li {
      border-right: none;
      width: auto;
      float: none;
      display: inline-block;
      overflow: hidden;
      &.first {
        border-left: none;
      }
    }

    .parent-a {
      padding: 0 22px;
    }
  }
}

.home-banner-reviews-wrapper {
  position: absolute;
  top: 180px;
  width: 100%;
  z-index: 5;
  .search-intro {
    position: absolute;
    z-index: 10;
    bottom: 0; left: 0; right: 0;
    background: rgba(0,0,0,.6);
    color: #fff;
    line-height: 45px;
    @include ems_font_size(17px, $font-size-base);
    text-align: center;
  }
}

.banner-review {
  background: no-repeat center top;
  background-size: cover;
  position: relative;
  display: none;
  &.banner-review-0 {
    display: block;
  }
  .unslider & {
    display: block;
    float: left;
  }
}

.home-top-banner-reviews {
  position: absolute;
  top: 180px;
  width: 100%;

  .banner-wrapper {
    width: 625px;
    margin: 0 auto;

    .banner-review-header {
      background: #0083ae;
      background: rgba(0,131,174,.9);
      text-align: center;
      color: #9cff00;
      padding: 18px 6px 14px;
      @include border-top-left-radius(8px);
      @include border-top-right-radius(8px);

      h2 {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 0 6px;
      }
    }

    .banner-review-container,
    .banner-spinner {
      background: #fff;
      @include border-radius(8px);
      margin-top: -8px;
      padding: 25px 55px 35px;
      position: relative;
      min-height: 189px;
    }

    .banner-review-container {
      display: none;
    }

    .banner-spinner {
      text-align: center;

      img {
        padding-top: 50px;
      }
    }

    .review-content {
      width: 100%;
      display: table;

      .business-photo {
        display: table-cell;
        width: 35%;
        padding-right: 30px;
        text-align: center;
        vertical-align: middle;

        img {
          max-width: 100%;
          max-height: 123px;
        }
      }

      .business-info {
        display: table-cell;
        width: 65%;

        .business-name {
          color: #0083ae;
          text-transform: uppercase;
          font-weight: bold;
          @include ems_font_size(20px, $font-size-base);
        }

        .business-rating {
          padding: 4px 0;

          .rating-stars {
            padding-top: 1px;

            .rateit-range {
              cursor: pointer;
            }
          }

          .rating-description {
            color: #666;
            vertical-align: top;
            padding-left: 2px;
          }
        }

        .review-text {
          width: 100%;
          resize: vertical;
          background: #f1f1f1;
          border: solid 1px #f1f1f1;
          padding: 12px 15px;
          outline: none;
          min-height: 50px;
        }

        .button-wrapper {
          display: none;
          position: absolute;
          .btn {
            display: inline-block;
            line-height: 25px;
            @include border-radius(0);
            padding: 0 15px;
          }
        }

        .error-message {
          display: none;
          color: red;
          padding-left: 5px;
        }

        .login-message {
          color: #666;
          a {
            font-weight: bold;
            text-decoration: underline;
          }
        }
      }
    }    
  }

  .slider-btn {
    cursor: pointer;
    position: absolute;
    top: 84px;
    width: 28px; height: 28px;
    background: #f1f1f1;
    @include transition(background-color .3s ease-in);

    .arrow {
      position: absolute;
      left: 50%; top: 50%;
      @include translate(-50%, -50%);
    }

    &:hover {
      background-color: $green;
    }

    &.slider-btn-prev {
      left: 0;

      .arrow {
        background: sprite($global-sprite, 'banner-btn-prev-grey');
        @include sprite-dimensions($global-sprite, 'banner-btn-prev-grey');
      }

      &:hover {
        .arrow {
          background-position: sprite-position($global-sprite, 'banner-btn-prev-white');
        }
      }
    }

    &.slider-btn-next {
      right: 0;

      .arrow {
        background: sprite($global-sprite, 'banner-btn-next-grey');
        @include sprite-dimensions($global-sprite, 'banner-btn-next-grey');
      }

      &:hover {
        .arrow {
          background-position: sprite-position($global-sprite, 'banner-btn-next-white');
        }
      }
    }
  }
}

.banner-review-desc {
  width: 625px;
  margin: 0 auto;
  h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 6px;
  }
  .banner-review-intro {
    background: #0083ae;
    background: rgba(0,131,174,.9);
    text-align: center;
    padding: 18px 6px 14px;
    @include border-top-left-radius(8px);
    @include border-top-right-radius(8px);
    .txt {
      color: #9cff00;
    }
  }
  .banner-review-start {
    background: #fff;
    @include border-radius(8px);
    margin-top: -8px;
    padding: 25px 55px 35px;
    position: relative;
  }
  .business-img {
    float: left;
    background: #f2f2f2;
    width: 115px; height: 115px;
    @include border-radius(6px);
  }
  .business-rating {
    margin-left: 140px;
    h2 {
      color: #0083ae;
      margin: 0;
    }
  }
  textarea {
    width: 100%;
    background: #f1f1f1;
    border: solid 1px #f1f1f1;
    padding: 12px 15px;
    outline: none;
    height: 50px;
  }
  .form-active textarea {
    background: #fff;
    border: solid 1px #ccc;
    height: 180px;
  }
  .banners-arrow {
    position: absolute;
    left: 0; right: 0; top: 50%;
    height: 0;
  }
  .slider-btn {
    cursor: pointer;
    position: absolute;
    left: 0; top: -14px;
    width: 28px; height: 28px;
    background: #f1f1f1;
    @include transition(background-color .3s ease-in);
    .arrow {
      background: sprite($global-sprite, 'banner-btn-prev-grey');
      @include sprite-dimensions($global-sprite, 'banner-btn-prev-grey');
      position: absolute;
      left: 50%; top: 50%;
      @include opacity(1);
      @include translate(-50%, -50%);
      @include transition(opacity .3s ease-in);
      &.white {
        background-position: sprite-position($global-sprite, 'banner-btn-prev-white');
        @include opacity(0);
      }
    }
    &:hover {
      background-color: $green;
      .arrow {
        @include opacity(0);
        &.white {
          @include opacity(1);
        }
      }
    }
  }
  .slider-btn-next {
    left: auto; right: 0;
    .arrow {
      background-position: sprite-position($global-sprite, 'banner-btn-next-grey');
      &.white {
        background-position: sprite-position($global-sprite, 'banner-btn-next-white');
      }
    }
  }
  .btns-wrapper {
    display: none;
    .submit-btn {
      float: right;
      padding: 0 15px;
      line-height: 35px;
    }
    .cancel-review {
      float: right;
      margin: 7px 15px 0 0;
      display: block;
    }
  }
    .form-active .btns-wrapper {
      display: block;
    }
  .error-msg {
    color: #c00;
    line-height: 1.2em;
    display: none;
  }
    .form-error .error-msg {
      display: block;
    }
}

.unslider-wrap {
  position: relative
}
.unslider {
  position: relative;
}
.unslider-nav {
  position: absolute;
  text-align: center;
  left: 0; right: 0;
  top: 510px;
  z-index: 8;
  ol {
    list-style: none none;
    margin: 0; padding: 0;
    font-size: 0;
  }
  li {
    display: inline-block;
    margin: 0 2px;
    background: #fff;
    @include transition(background-color .5s ease-in);
    cursor: pointer;
    width: 20px; height: 5px;
    &:hover,
    &.unslider-active {
      background-color: $green;
    }
  }
}


.home-find-form-wrapper {
  background: #fff;
  padding: 30px 0;
}

.home-content-wrapper {
  padding: 0;
  .big-col {
    float: left;
    width: 100%;
    .inner-wrapper {
      margin-right: 415px;
    }
  }
  .small-col {
    float: left;
    margin-left: -412px;
    width: 412px;
  }
  .block {
    background: #fff;
    margin-bottom: 3px;

    &.block-news {
      background-color: transparent;
    }
  }
  .customers-businesses {
    padding: 40px 30px;
    height: 238px;
    .col {
      float: left;
      width: 50%;
      padding-left: 5%;
      &.customers-col {
        padding: 0 5% 0 0;
      }
    }
    h3 {
      margin: 0;
      font-weight: 500;
      @include ems_font_size(25px, $font-size-base);
    }
    p {
      color: #666;
      margin: 9px 0 0;
      height: 80px;
    }
    .btn {
      width: 105px;
      text-transform: uppercase;
      @include ems_font_size(15px, $font-size-base);
    }
  }
}


.business-categories-filters-wrapper {
  float: left;
  width: 275px;
  .business-category-filter {
    padding: 15px 25px 15px 60px;
    color: #fff;
    background: $blue;
    border-bottom: solid 1px #006c8f;
    position: relative;
    cursor: pointer;
    line-height: 1.5em;
    @include transition(all .3s ease-in);
    &:hover,
    &.active {
      color: $blue;
      background-color: #fff;
      .icon {
        background-color: #ccc;
      }
    }
    &.selected {
      .icon {
        background-color: #ccc;
      }
    }
  }
  .icon {
    position: absolute;
    background: #fff;
    width: 20px; height: 20px;
    left: 25px; top: 17px;
    @include transition(all .3s ease-in);
  }
  .category-name {
    font-weight: 500;
    text-transform: uppercase;
    @include ems_font_size(17px, $font-size-base);
  }
}

.businesses-wrapper {
  margin-left: 310px;
  padding: 35px 35px 15px 0;
  h3 {
    margin: 0 0 25px;
    font-weight: 300;
    @include ems_font_size(25px, $font-size-base);
    color: #6a6a6a;
  }
}

.block-recent-activity {
  .block-content {
    background-color: #fff;
    margin-bottom: 3px;

    .left-column {
      float: left;
      width: 35%;
      padding: 30px 20px 30px 25px;

      .user-photo {
        width: 35%;
        float: left;
        padding: 3px 15px 0 0;

        img {
          width: 100%;
        }
      }

      .user-info {
        width: 65%;
        float: left;

        .user-name {
          color: #007fa8;
          @include ems_font_size(15px, $font-size-base);
          font-weight: bold;
        }

        .user-since {
          color: #858585;
          line-height: 1.5;
        }
      }
    }

    .right-column {
      float: left;
      width: 65%;
      padding: 30px 30px 30px 20px;

      .business-name {
        color: #007fa8;
        @include ems_font_size(16px, $font-size-base);
        font-weight: bold;
      }

      .rating-stars {
        margin-top: 6px;
      }

      .rating-block {
        .rating-description {
          float: left;
          color: #999999;
          line-height: 1;
          padding-left: 2px;
          @include ems_font_size(12px, $font-size-base);
        }

        .date {
          float: right;
          color: #999999;
          line-height: 1;
          @include ems_font_size(12px, $font-size-base);
        }
      }

      .review-text {
        padding-top: 10px;
        color: #666666;
      }

      .review-photos {
        border-top: 1px solid #cccccc;
        padding-top: 16px;
        margin-top: 20px;
        text-align: center;

        a {
          display: inline-block;
          vertical-align: top;
          width: 24%;

          img {
            width: 100%;
          }
        }
      }

      .review-feedback {
        margin: 15px 0;
        padding: 15px 5px;
        border-top: solid 1px #ccc;
        border-bottom: solid 1px #ccc;

        label, a {
          float: left;
        }

        label {
          color: #aaa;
          width: 126px;
          line-height: 32px;
        }

        .btn {
          line-height: 30px;
          padding: 0 20px;
          margin: 0 0 0 4px;
        }
      }

      .share-review-block {
        .share-review-btn {
          display: inline-block;
          cursor: pointer;
          padding-right: 20px;
          line-height: 30px;
        }
      }
    }
  }

  .see-more-activity {
    padding: 10px;
    background-color: #fff;
    text-align: center;

    a.btn {
      display: inline-block;
      padding: 0 50px;
    }
  }
}

.home-business-item {
  display: none;
  padding: 20px 0;
  border-top: 1px solid #f1f1f1;

  .business-photo {
    display: table-cell;
    vertical-align: top;
    width: 30%;
    padding-top: 4px;

    img {
      width: 100%;
    }
  }

  .business-details {
    display: table-cell;
    vertical-align: top;
    width: 55%;
    padding: 0 20px;

    .business-name {
      text-transform: uppercase;
      font-weight: bold;
      @include ems_font_size(17px, $font-size-base);
    }

    .business-rating {
      .raiting-description {
        display: inline-block;
        color: #999999;
        padding-left: 2px;
      }
    }

    .business-description {
      color: #666666;
      line-height: 1.5em;
    }
  }

  .business-user-photos {
    display: table-cell;
    vertical-align: middle;
    width: 15%;
    text-align: center;

    .title {
      color: #999999;
      @include ems_font_size(11px, $font-size-base);
      line-height: 1.1em;
      margin-bottom: 5px;
    }

    .photos-icon-wrapper {
      height: 50px;
      position: relative;
      cursor: pointer;

      img {
        height: 100%;
      }

      span {
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        height: 20px;
        line-height: 20px;
        width: 40px;
        margin-left: -20px;
        margin-top: -10px;
        padding: 0;
        @include ems_font_size(14px, $font-size-base);
      }
    }
  }
}

.review-of-day-block {
  padding: 25px 25px 15px 25px;
  margin-bottom: 3px;

  .review-of-day-footer {
    display: table;

    .business-photo {
      display: table-cell;
      padding-bottom: 15px;
      vertical-align: top;

      img {
        width: 100%;
      }
    }

    .review-info {
      display: table-cell;
      vertical-align: top;
      width: 65%;
      padding: 0 20px 15px 20px;
      @include ems_font_size(15px, $font-size-base);
      color: #999999;

      .username {
        color: #0083ae;
      }

      .business-name {
        color: #0083ae;
      }
    }

    .rating-stars {
      display: block;
      padding: 5px 0;
    }

    .reviews-photo-wrapper {
      width: 100%;

      .img-wrapper {
        display: block;
        float: left;
        width: 33%;
        padding-right: 2px;

        img {
          width: 100%;
        }
      }

    }
  }

  .review-of-day-content {
    color: #666;
  }

  .btn {
    display: inline-block;
    line-height: 30px;
    padding: 0 15px;
    margin-top: 10px;
  }
}