.static-info-container {
    margin-top: -80px;
    .cols-wrapper {
        background: #636667;
    }
    .nav-col {
        float: left;
        width: 235px;
        padding: 80px 0 0;
        .menu-item {
            border-bottom: solid 1px #323434;
        }
        .menu-link {
            display: block;
            background: #414647;
            padding: 20px 30px;
            color: #fff;
            &:hover,
            &.active {
                background-color: $green;
            }
        }
    }
    .content-col {
        margin-left: 235px;
        background: #fff;
        padding-bottom: 30px;
        min-height: 475px;
        .content-wrapper {
            color: #666;
        }
        .img {
            margin: 0 0 30px;
            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
        .text {
            padding: 0 45px;
        }
        p {
            margin: 0 0 30px;
        }
    }
    h1 {
        line-height: 80px;
        background: #f8f8f8;
        padding: 0 45px;
    }
}