.user-auth-page {
  background: #fff;
  padding: 0 65px 40px;
  min-height: 355px;
  .page-desc {
    text-align: center;
    @include ems_font_size(15px, $font-size-base);
    padding: 18px 0 36px;
    color: #666;
  }
  .or {
    margin-bottom: 30px;
    font-weight: bold;
    color: #999;
    line-height: 1em;
    @include ems_font_size(16px, $font-size-base);
    position: relative;
    text-transform: uppercase;
    .text {
      background-color: #fff;
      width: 60px;
      margin: 0 auto;
      z-index: 10;
      position: relative;
      text-align: center;
    }
    .border {
      position: absolute;
      width: 100%;
      left: 0; top: 50%;
      border-top: solid 1px #f1f1f1;
    }
  }
  .submit-btn {
    display: block;
    background-color: #77c301;
    color: #fff;
    border: none;
    font-weight: bold;
    @include ems_font_size(18px, $font-size-base);
    height: 46px;
    text-transform: uppercase;
    width: 100%;
    margin: 25px 0 15px;
  }
  .form-desc {
    text-align: center;
    color: #666;
  }
  .form-desc-2 {
    a {
      color: #00b4ed;
      text-transform: uppercase;
    }
  }
  .form-desc-1 {
    a {
      color: #007295;
      font-style: italic;
    }
  }
}

.user-auth-social-media {
  .social-media-link {
    display: block;
    text-transform: uppercase;
    color: #fff;
    @include border-radius(5px);
    background: #4e6ba3;
    line-height: 50px;
    text-align: center;
    max-width: 350px;
    margin: 0 auto;
    @include ems_font_size(15px, $font-size-base);
    position: relative;
    .icon {
      position: absolute;
      width: 28px; height: 28px;
      top: 11px; left: 10px;
      background: image-url('log-in-social.png') no-repeat 0 0;
    }
    &.google {
      background-color: #e04a39;
      margin-top: 13px;
      .icon {
        background-position: left bottom;
      }
    }
  }
  .desc {
    margin: 20px 0 30px;
    text-align: center;
    color: #666;
  }
}

.user-auth-container {
  max-width: 685px;
  margin-top: -80px;
  h1 {
    text-align: center;
    text-transform: uppercase;
    @include ems_font_size(25px, $font-size-base);
    line-height: 1.3em;
    padding: 20px;
    min-height: 80px;
    background: #f8f8f8;
  }
}

.user-auth-form {
  .form-inner-wrapper {
    padding-bottom: 30px;
  }
  .names-wrapper {
    overflow: hidden;
    margin: 0 -5px;
    .col {
      float: left;
      width: 50%;
      padding: 0 5px;
    }
  }
  &.labels-in-field {
    .email-2,
    .password-2 {
      margin-top: 0;
      input {
        border-top: none;
      }
    }
  }
}

.infield-labels {
  .label-wrapper {
    margin: 18px 0 0;
  }
  label {
    display: block;
    margin: 18px 0 6px;
  }
  input {
    width: 100%;
    height: 46px;
    line-height: 44px;
    padding: 0 18px;
    display: block;
    border: solid 1px #c4c4c4;
    color: #666;
  }
  &.labels-in-field {
    .label-wrapper {
      position: relative;
    }
    label {
      position: absolute;
      z-index: 2;
      margin: 0;
      left: 18px; top: 1px;
      line-height: 44px;
    }
    input {
      position: relative;
      z-index: 1;
    }
  }
}

.login-page-wrapper {
  .page-desc {
    padding: 17px 0 25px;
    a {
      font-weight: bold;
      color: #00afe8;
    }
  }
  .user-name-wrapper {
    margin-top: 0;
  }
  .form-inner-wrapper {
    padding-bottom: 0;
  }
  .form-desc-1 {
    margin: 20px 0 15px;
    a {
      font-style: normal;
    }
  }
  .form-desc-2 {
    a {
      text-transform: none;
      color: #579ebc;
    }
  }
  .or {
    margin: 50px 0;
  }
  .submit-btn {}
}

.forgot-password-page-wrapper {
  .forgot-password-page {
    .page-desc {
      padding: 50px 0 30px;
    }
  }
  .user-auth-form {
    .form-inner-wrapper {
      padding-bottom: 0;
    }
    .user-name-wrapper {
      margin-top: 0;
    }
    .submit-btn {
      margin: 10px 0 0;
    }
  }
}

.sign-up-business-page-wrapper {
  .sign-up-page {
    padding-top: 45px;
    .submit-btn {
      margin-top: 50px;
    }
  }
}

.showing-form-feedback {
  .user-auth-container {
    h1 {
      background: #fff;
      padding: 30px 20px 0;
      min-height: 0;
    }
  }
  .page-desc {
    padding-top: 10px;
  }
}
