
@import "compass/css3";
@import "compass/utilities";

$global-sprite: sprite-map("globals/*.png");

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  color: #333;
}


.img-circle.profile_img {
  min-height: 56px;
}

.nav_menu {
  margin-bottom: 0;
}
#menu_toggle {
  cursor: pointer;
}

#left-col-nav {
  .scroll-view-content {
    width: 100%;
  }
}

.site-logo {
  padding: 15px 15px 0;
  &, span {
    display: block;
  }
  span {
    background: sprite($global-sprite, 'logo-header-white');
    @include sprite-dimensions($global-sprite, 'logo-header-white');
  }
  body.nav-sm & {
    padding: 15px 11px 0;
    span {
      width: 44px;
    }
  }
}

footer {
  margin-top: 17px;
}

body.dragging,
body.dragging * {
  cursor: move !important;
}
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}



/* Isotope Transitions
------------------------------- */
.isotope-list,
.isotope-list .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope-list {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope-list .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property:    -moz-transform, opacity;
  -ms-transition-property:     -ms-transform, opacity;
  -o-transition-property:         top, left, opacity;
  transition-property:         transform, opacity;
}

@import "partials/dashboard";
@import "partials/create_business";
@import "partials/manage_reviews";
@import "partials/manage_categories";
@import "partials/manage_business_photos";
@import "partials/listings";
@import "partials/news";
