
<div class="home-banner-reviews-wrapper">
  <ul class="home-banner-reviews list-unstyled">

    <li class="banner-review banner-review-html-holder" style="background-image: url('/static/africaone/content-images/endiro.jpg');">
      <div class="banner-review-desc">
        <div class="banner-review-intro">
          <h2>Kampala awaits your review</h2>
          <div class="txt">Have you been to <span class="name">Endiro Cafe?</span> What did you think of it?</div>
        </div>
        <div class="banner-review-start">
          <div class="business-img"></div>
          <div class="business-rating">
            <h2>Endiro Cafe</h2>
            <form action="#" method="post" class="start-review-form">
              <input type="hidden" class="business-id" name="business-id" value="" />
              <div class="star-rating-widget clearfix">
                <ul class="rating-stars review-stars stars-0 clearfix list-unstyled">
                  <li class="rating-star-li">
                    <input class="rating-star-input" id="rating-1" name="rating" type="radio" value="1">
                    <label for="rating-1">(Eek! Methinks not.)</label>
                  </li>
                  <li class="rating-star-li">
                    <input class="rating-star-input" id="rating-2" name="rating" type="radio" value="2">
                    <label for="rating-2">(Meh. I've experienced better.)</label>
                  </li>
                  <li class="rating-star-li">
                    <input class="rating-star-input" id="rating-3" name="rating" type="radio" value="3">
                    <label for="rating-3">(A-OK.)</label>
                  </li>
                  <li class="rating-star-li">
                    <input class="rating-star-input" id="rating-4" name="rating" type="radio" value="4">
                    <label for="rating-4">(Yay! I'm a fan.)</label>
                  </li>
                  <li class="rating-star-li">
                    <input class="rating-star-input" id="rating-5" name="rating" type="radio" value="5">
                    <label for="rating-5">(Woohoo! As good as it gets!)</label>
                  </li>
                  <li class="rating-green-stars"></li>
                </ul>
                <div class="rating-description">Select a rating</div>
              </div>
              <div class="textarea-wrapper">
                <textarea name="review-text" class="review-textarea" placeholder="Start your review here ..."></textarea>
              </div>
              <div class="btns-wrapper clearfix">
                <input class="btn submit-btn" type="submit" value="Sign Up and Post" />
                <a href="#" class="cancel-review">Cancel</a>
                <div class="error-msg">Pick a rating and enter your review first.</div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </li>

    <li class="banner-review banner-review-0" style="background-image: url('/static/africaone/content-images/javas.jpg');">
      <div class="banner-review-desc">
        <div class="banner-review-intro">
          <h2>Kampala awaits your review</h2>
          <div class="txt">Have you been to <span class="name">Cafe Javas?</span> What did you think of it?</div>
        </div>
        <div class="banner-review-start">
          <div class="business-img"></div>
          <div class="business-rating">
            <h2>Cafe Javas</h2>
            <div class="write-review-wrapper  white-bg flush-left">
              <div class="review-stars blue">
                <div class="rating"></div>
              </div>
              <div class="txt">Choose Rating</div>
            </div>
            <div class="textarea-wrapper">
              <textarea class="review-textarea" placeholder="Start your review here ..."></textarea>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="banner-review banner-review-2" style="background-image: url('/static/africaone/content-images/gaming.jpg');">
      <div class="banner-review-desc">
        <div class="banner-review-intro">
          <h2>Kampala awaits your review</h2>
          <div class="txt">Have you been to <span class="name">Game City?</span> What did you think of it?</div>
        </div>
        <div class="banner-review-start">
          <div class="business-img"></div>
          <div class="business-rating">
            <h2>Game City</h2>
            <div class="write-review-wrapper  white-bg flush-left">
              <div class="review-stars blue">
                <div class="rating"></div>
              </div>
              <div class="txt">Choose Rating</div>
            </div>
            <div class="textarea-wrapper">
              <textarea class="review-textarea" placeholder="Start your review here ..."></textarea>
            </div>
          </div>
        </div>
      </div>
    </li>

  </ul>
</div>
