<div class="home-top-banner-reviews">
  <div class="banner-wrapper">
    <div class="banner-review-header">
      <h2>Kampala awaits your review</h2>
      <div>
        Have you been to <span class="business-name"></span>? What did you think of it?
      </div>
    </div>
    <div class="banner-spinner">
      <img src="static/africaone/static-images/spinner.gif">
    </div>
    <div class="banner-review-container">
      <div class="slider-btn slider-btn-prev">
        <div class="arrow"></div>
      </div>
      <div class="review-content" data-slide-number="">
        <div class="business-photo">
          <img src="" data-default-src="/static/africaone/static-images/no-logo.jpg">
        </div>
        <form method="post" action="{% url 'core:review_add' 0 %}" class="business-info">
          {% csrf_token %}
          
          <div class="business-name">
            Name
          </div>
          <div class="business-rating">
            <div class="rateit rating-stars" data-rateit-resetable="false" data-rateit-step="1" data-rateit-starwidth="17" data-rateit-starheight="14" data-rateit-value="{{ form.rating.value|default_if_none:'0' }}"></div>
            <input type="hidden" name="rating" value="0">
            <span class="rating-description">Choose rating</span>
          </div>
          <div class="business-review">
            <textarea class="review-text" name="review" placeholder="Start your review here ..."></textarea>
          </div>
          <div class="button-wrapper">
            {% if user.is_authenticated %}
              <input type="button" class="btn post-review-btn" value="Post">
              <span class="error-message">Pick a rating first!</span>
            {% else %}
              <span class="login-message">
                You have to <a href="{% url 'core:login' %}">login</a> to post a review
              </span>
            {% endif %}
          </div>
        </form>
      </div>
      <div class="slider-btn slider-btn-next">
        <div class="arrow"></div>
      </div>
    </div>
  </div>
</div>