<h2>Review of the Day</h2>
<div class="review-of-day-wrapper">
  <div class="review-img clearfix">
    <div class="business-img"></div>
    <div class="details">
      <div class="title">Black Shape</div>
      <div class="business-reviews-stars-number">
        <div class="review-stars-wrapper">
          <div class="review-stars" data-rating="{{review.rating.score}}">
            <div class="review-stars-default default"></div>
            <div class="review-stars-rating rating"></div>
          </div>
        </div>
        <div class="text">4 out of 5 stars</div>
      </div>
      <ul class="photos list-unstyled">
        <li class="img img-0"><img /></li>
        <li class="img img-1"><img /></li>
        <li class="img img-2 more-photos-overlay">
          <img />
          <div class="overlay-text">
            <div class="txt">+10</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="review-snippet">Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</div>
  <div class="review-link">
    <a href="javascript:;" class="btn">Read more</a>
  </div>
</div>
