
<div class="user-review-wrapper businesss-review-item clearfix">
  <div class="review-details-wrapper">
    <div class="review-details clearfix">
      <div class="business-img-name">
        <div class="img"></div>
        <h2><a href="#">{{review.business.name}}</a></h2>
        <div class="sub-categories">
          {% for category in review.business.categories.all %}
            {{category}},
          {% endfor %}
        </div>
        <div class="business-reviews-stars-number">
          <div class="review-stars-wrapper">
            <div class="review-stars" data-rating="">
              <div class="review-stars-default default"></div>
              <div class="review-stars-rating rating"></div>
            </div>
          </div>
          <div class="text">134 reviews</div>
        </div>
        <div class="address">
          {{review.business.address}}<br>
          {{review.busines.city}}
        </div>
        <div class="phone">+256 700 000 000</div>
      </div>
      <div class="review-body-wrapper">
        <div class="business-reviews-stars-number user-business-review">
          <div class="review-stars-wrapper">
            <div class="review-stars" data-rating="{{review.business.get_avg_rating}}">
              <div class="review-stars-default default"></div>
              <div class="review-stars-rating rating"></div>
            </div>
          </div>
          <div class="text">4 out of 5 stars</div>
        </div>
        <div class="title-wrapper">
          <h2 class="review-title">Excellent service, best in town</h2>
          <div class="review-date">Written on {{review.create_date}} by Martha Mukkaa</div>
        </div>
        <div class="review-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div>

        <div class="review-images-wrapper">
          <ul class="review-images-list clearfix list-unstyled">
            <li><img src="/core/static/africaone/content-images/endiro.jpg" /></li>
            <li><img src="/core/static/africaone/content-images/javas.jpg" /></li>
            <li><img src="/core/static/africaone/content-images/patiserrie-medium.jpg" /></li>
          </ul>
        </div>

        <div class="review-feedback clearfix">
          <label>Was this review?</label>
          <a class="btn btn-feedback btn-helpful grey-btn">Helpful</a>
          <a class="btn btn-feedback btn-funny grey-btn">Funny</a>
          <a class="btn btn-feedback btn-cool grey-btn">Cool</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col share-review-col">
    <h2>Share review</h2>
    <div class="share-links">
      <div class="link fb-link">
        <a href="#" class="fb social-btn">
          <span class="icon"></span>
          <span class="txt">Share on Facebook</span>
        </a>
      </div>
      <div class="link twitter-link">
        <a href="#" class="twitter social-btn">
          <span class="icon"></span>
          <span class="txt">Share on Twitter</span>
        </a>
      </div>
    </div>
  </div>
</div>
