<div class="manage-review-item">
  <div class="row">
    <div class="col-md-2 col">
      <div class="user-col">
        <div class="user-img">
          <img src="http://placehold.it/150x150">
        </div>
        <div class="user-name">
          <a href="javascript:;">User Name</a>
        </div>
      </div>
    </div>
    <div class="col-md-8 col">
      <div class="review-col">
        <div class="business-name">Name of Business here</div>
        <div class="business-categories">Universities, Schools, Restaurants</div>
        <ul class="inline">
          <li class="review-stars">
            <div class="review-stars-wrapper rating-2-0"></div>
          </li>
          <li class="review-date">Mon 12 June 2016 05:30pm</li>
        </ul>
        <div class="review-text">
          Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
          risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat
          porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna.<br/>
          Donec sed odio dui. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas faucibus mollis interdum.
          Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam id dolor id nibh ultricies vehicula ut id elit.
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          condimentum nibh, ut fermentum massa justo sit amet risus.
        </div>
        <ul class="review-images list-unstyled row">
          <li class="review-img col-md-2">
            <div class="img"><img src="http://placehold.it/150x150" alt=""></div>
            <div class="caption">Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies</div>
            <div class="delete-btn"><i class="fa fa-trash"></i></div>
          </li>
          <li class="review-img col-md-2">
            <div class="img"><img src="http://placehold.it/150x150" alt=""></div>
            <div class="caption">Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies</div>
            <div class="delete-btn"><i class="fa fa-trash"></i></div>
          </li>
          <li class="review-img col-md-2">
            <div class="img"><img src="http://placehold.it/150x150" alt=""></div>
            <div class="caption">Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies</div>
            <div class="delete-btn"><i class="fa fa-trash"></i></div>
          </li>
          <li class="review-img col-md-2">
            <div class="img"><img src="http://placehold.it/150x150" alt=""></div>
            <div class="caption">Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies</div>
            <div class="delete-btn"><i class="fa fa-trash"></i></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-2 col">
      <div class="operations-col">
        <div class="manage-review-btns">
          <div class="btns-wrapper">
            <a href="javascript:;" class="btn btn-success btn-lg btn-round">Publish Review</a>
            <a href="javascript:;" class="btn btn-danger btn-lg btn-round">Unpublish Review</a>
            <a href="javascript:;" class="btn btn-primary btn-lg btn-round">Feature Review</a>
            <a href="javascript:;" class="btn btn-warning btn-lg btn-round">Unfeature Review</a>
          </div>
          <div class="details">
            <h4>Review marked as:</h4>
            <ul class="review-marked list-unstyled">
              <li>Useful (0 times)</li>
              <li>Funny (0 times)</li>
              <li>Cool (0 times)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>