{% extends 'admin/base.html' %}
{% load admin_extras %}

{% block main %}

  <div class="manage-users-page-wrapper sticky-filters-page-wrapper">

    <h1>Manage Users</h1>

    <!-- filters -->
    <div class="x_panel filters-wrapper">
      <form action="" class="listings-filters">
        <div class="row">
          <div class="col-sm-2">
            <div class="form-group">
              <label class="control-label" for="user-name">User:</label>
              <input type="text" id="username" name="user-name" class="form-control" placeholder="User name ...">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label class="control-label" for="block-status">Blocked:</label>
              <select class="form-control form-select" id="block-status" name="block-status">
                <option value="">Any Status</option>
                <option value="active">Active</option>
                <option value="blocked">Blocked</option>
              </select>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label class="control-label" for="user-roles">User Role:</label>
              <select class="form-control form-select" id="user-roles" name="user-roles">
                <option value="">By user role ...</option>
                <option value="reviewer">Reviewer</option>
                <option value="business-owner">Business Owner</option>
                <option value="content-manager">Content Manager</option>
                <option value="site-administrator">Site Administrator</option>
              </select>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label class="control-label" for="users-sorter">Sort by:</label>
              <select class="form-control form-select" id="users-sorter" name="users-sorter">
                <option value="">Sort by ...</option>
                <option value="name">User name</option>
                <option value="number-of-reviews">Number of reviews</option>
              </select>
            </div>
          </div>
          <div class="col-sm-1">
            <div class="form-group submit-col">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!--/ filters -->

    <!-- list reviews -->
    <div id="manage-users-listing" class="dashboard_graph">
      <ul class="users-list">
        <li class="user-list-item"></li>
      </ul>
    </div>
    <!--/ list reviews -->

    <!-- pagination -->
    <div class="pagination-wrapper">
      <ul class="pagination">
        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
        <li class="active">
          <a href="?page=1">1</a>
        </li>
        <li>
          <a href="?page=2">2</a>
        </li>
        <li>
          <a href="?page=3">3</a>
        </li>
        <li>
          <a href="?page=4">4</a>
        </li>
        <li><a href="?page=2" aria-label="Next"><span aria-hidden="true">»</span></a>
        </li>
      </ul>
    </div>
    <!--/ pagination -->

  </div>

{% endblock %}