{% extends 'admin/base.html' %}

{% block main %}
  <div class="list-layout">
    <div class="x_panel">
      <div class="x_title">
        <h3>News list</h3>
      </div>  
      <div class="x_content">
        <div class="row">
          <div class="col-xs-12">
            <a href="{% url 'admin:news_create' %}" class="btn btn-success"><i class="fa fa-plus"></i>Add News</a>
          </div>
          <div class="col-md-12">
            <div class="x_panel">
              <div class="x_content">
                <table class="table table-hover items-list-table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Category</th>
                      <th>Title</th>
                      <th>Created Date</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for news in news_list %}
                      <tr class="item-row" data-href="{% url 'admin:news_update' news.id %}">
                        <td>{{ news.id }}</td>
                        <td>{{ news.category }}</td>
                        <td>{{ news.title }}</td>
                        <td>{{ news.create_date }}</td>
                        <td>
                          <a href="{% url 'admin:news_delete' news.id %}" class="btn btn-danger btn-xs delete-row-btn">Delete</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      $('.item-row').click(function() {
        document.location = $(this).attr('data-href');
      });

      $('.delete-row-btn').click(function(event) {
        event.stopPropagation();
      })
    });
  </script>
{% endblock %}