
/**
 * not working with mobile-first
 * working with desktop first
 * so set vars below accordingly
 * - mobile-first for singularitygs
 * - breakpoint-default-feature for breakpoint
 */

$font-unit: 1em;
$font-size-base: 13px; //body font size

@include sgs-change('mobile first', false);
$breakpoint-default-feature: max-width;

//@include sgs-change('gutter styles', 'fixed');
@include sgs-change('debug', true);

@mixin ems_font_size($to-size, $from-size) {
  font-size: $font-unit * $to-size / $from-size;
}

@mixin get-vw-font-size($target, $viewport-width) {
  $vw-context: ($viewport-width * 0.01) * 1px;
  font-size: ($target / $vw-context) * 1vw;
}
