@font-face {
  font-family: 'quicksand-light';
  font-style: normal;
  font-weight: 300;
  src: url('./../font/Quicksand-Light.eot'), /*A*/
	url('./../font/Quicksand-Light.eot#iefix') format('embedded-opentype'), /*B*/
    url('./../font/Quicksand-Light.woff') format('woff'), /*C*/
    url('./../font/Quicksand-Light.otf') format('opentype'), /*D*/
    url('./../font/Quicksand-Light.svg') format('svg'), /*E*/
	url('./../font/Quicksand-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'quicksand-regular';
  font-style: normal;
  font-weight: 400;
  src: url('./../font/Quicksand-Regular.eot'), /*A*/
    url('./../font/Quicksand-Regular.eot#iefix') format('embedded-opentype'), /*B*/
    url('./../font/Quicksand-Regular.woff') format('woff'), /*C*/
    url('./../font/Quicksand-Regular.otf') format('opentype'), /*D*/
    url('./../font/Quicksand-Regular.svg') format('svg'), /*E*/
	url('./../font/Quicksand-Regular.ttf') format('truetype');
}

body {
    font-size: 14px
}
h1,
.lp-h1,
.lp-h1 a{
    font-size:45px;
}
h2,
.lp-h2,
.lp-h2 a{
    font-size:35px;
}
h3, .lp-banner-browse-txt,
.lp-h3,
.lp-h3 a, .listing-second-view .widget-box.business-contact .contact-form > h2,
.listing-second-view .widget-box.business-contact .contact-form > h2 a {
    font-size:18px;
}   
h4,
.lp-h4,
.lp-h4 a, .faq-section .faq-form > h3 {
    font-size:19px;
    line-height:24px;
}

#accordion h5 .accordion-title{
    font-size: 14px;
    font-weight: 600;
}
#searchlocation_chosen.chosen-container .chosen-results li{
	font-size:14px;
}

h5, h5 a, .lp-h5,.lp-h5 a,
 .lp-menu .children .page_item_has_children a:after, .listing-second-view .contact-form ul li input[type="submit"],
.lp-menu .sub-menu .menu-item-has-children a:after, blockquote, .lp-blockquote, .listing-second-view .online-booking-form .booking-form input[type="submit"],
.lp-list-pay-btn a i, .iconsmalltext, .md-closer, .popup-post-left-bottom .user-text .user-name, .lp-post-quick-links li a i,
.lp-home-categoires li a span, .lp-sub-title, .lp-signout-btn, .lp-review-btn, .lp-submit-btn, .lp-search-btn, .lp-add-listing-btn li a,
.lp-tabs .lp-list-view .lp-list-view-content-upper h4, .lp-tabs .lp-list-view .lp-list-view-paypal-inner h4,
.listing-second-view .post-price-row > li span, .lp-h4, .lp-h4 a {
    font-size:17px;
}
.paragraph-form, .form-group label, .lp-primary-btn, .file-upload-btn, .lp-secondary-big-btn, .lp-secondary-btn,
.review-post h4, .listing-second-view .post-meta-left-box > p, .listing-second-view .ask-question-area > p, .ui-widget select,
.list-style-none.list-st-img span, .listing-second-view .claim-area a.phone-number.md-trigger.claimformtrigger2, .lp-search-description p,
.listing-second-view .widget-box.viewed-listing > article > .details span.rate, .listing-second-view .listing-post article figure figcaption .listing-ad,
.listing-second-view .widget-box.viewed-listing > article > .details > h4, .listing-second-view .widget-box.viewed-listing > article,
.listing-second-view .listing-post article figure figcaption .listing-price, .listing-second-view .open-hours ul li,
.listing-second-view a.secondary-btn, .lp-tabs .lp-pay-publsh, .lp-tabs .panel-heading li a h4, .lp-listing-form input[type=submit],
.price-plan-content ul li, .extrafield-list li span, .form-review-stars li span, .lp-grid-box-expired, .nav-tabs > li > a,
.listing-page-result-row p, .listing-page-result-row p a, .post-stat li, .lp-blog-grid-author  li a, .tes-msg, .lp-search-input,
.details .top-section > h3, .lp-menu ul li a, .listing-second-view .claim-area .phone-icon,
.widget-box.widget-categories.listing-single-cat .list-st-img li a > span, .lp_confirmation .list-st-img li a.edit-list > span,
.listing-second-view .features-listing > ul > li, .lp-tabs .lp-list-view .lp-list-view-content-upper h4,
.lp-tabs .lp-list-view .lp-list-view-paypal-inner h4, .video-option > h2 {
    font-size:15px;
}
.list_view .lp-grid-box-description > p, .grid_view2 .lp-grid-box-description > p, .listing-second-view .ask-question-area > a.ask_question_popup, .listing-second-view .post-meta-right-box ul li a,
.listing-second-view .rating-section > .rate, .listing-second-view .rating-section > span, .listing-second-view .listing-post article figure figcaption .bottom-area .rate,
.listing-second-view .listing-post article figure figcaption .bottom-area .listing-location, .listing-second-view .listing-post article figure figcaption .bottom-area .listing-cats a,
.listing-second-view .listing-post article figure figcaption .bottom-area .listing-location p, .listing-second-view .post-meta-left-box h1 span.claimed,
.lp-checkout-wrapper .lp-booking-dt, .lp-checkout-wrapper .lp-persons, .lp-checkout-wrapper .lp-duration, .lp-list-view-paypal p,
.lp-checkout-wrapper .lp-booking-type, .solitaire-infinite-scroll a, .solitaire-infinite-scroll a:focus, .lp-list-view-paypal p span,
.lp-list-view-edit li a, .remove-tag, .list_view .categories-area > a, .grid_view2 .categories-area > a, .map-post-address p,
.lp-grid-box-description h4.lp-h4 > a > .listing-pro, .grid_view2 .lp-grid-box-left.pull-left > p > span.icon i {
    font-size: 14px;
}
input, a.browse-imgs, .submit-images > label, .bottom-section ul li a, .lp-input, .form-control,
.details .top-section > time, .grid_view2 .lp-post-quick-links > li .slides_count, .lp-list-view-edit li a > span,
.list_view .lp-post-quick-links > li .slides_count, .grid_view2 .lp-post-quick-links > li a, .list_view .lp-grid-box-left.pull-left > p,
.list_view .lp-post-quick-links > li a, .list_view .lp-grid-box-right a.status-btn, .list_view a.add-to-fav.lp-add-to-fav span,
.grid_view2 a.add-to-fav.lp-add-to-fav span, .vertical_view .lp-price-main .lp-title a, .review_status,
.list_view .lp-grid-box-description .reviewer-details > h4, .element-price-range.list-style-none,
.grid_view2 .lp-grid-box-description .reviewer-details > h4, [data-tooltip]:after, .listing-second-view span.rate,
.lp-listing-clm .lp-booking-dt, .lp-tabs .list-pt-display li, .hours > a.remove-hours, .hours, .open-hours ul li span,
.lp-listing-clm .lp-persons, .lp-listing-clm .lp-duration, .lp-listing-clm .lp-booking-type, .rating, .get-directions > a,
.post-with-map-container-right #searchform .chosen-container-single .chosen-single, .testimonial-slider li .tes-name-tit,
.viewed-listing article .details .post-reviews, .listing-second-view .post-price-row > li, .list-style-none.list-st-img span,
.review-post p, .listing-second-view .features-listing > ul > li span,
.grid_view2 .lp-grid-box-description .lp-grid-box-left p, a.watch-video.popup-youtube, .lp-grid-box-bottom .pull-left a,
.list_view span.rate, .grid_view2 span.rate, #searchform .tags-area.form-inline ul li .checkbox label, .dashboard-content .lp-grid-box-price li > a,
.dashboard-content .dashboard-contnt .dashboard-tab .lp-list-view-content-upper .lp-grid-box-price li > a,
.lp-tabs .lp-list-cnt .lp-grid-box-price li:last-child, .lp-topbar-menu li, .lp-topbar-menu li a, .dashboard-content .list-pt-display li span,
.promotion-sorting .select2-container--default .select2-selection--single .select2-selection__rendered,
.listing_list_view.listing-simple .row.listing-page-result-row.margin-bottom-25 #listing_found p,
.listing_list_view.listing-simple .row.listing-page-result-row.margin-bottom-25 .text-right > p,
.listing_list_view.listing-simple .row.listing-page-result-row.margin-bottom-25 .text-right > p span,
.listing_list_view.listing-simple .row.listing-page-result-row.margin-bottom-25 .text-right > p a ,
.grid_view2 .lp-grid-box-description .reviewer-details > p,
.lp-grid-box-left.pull-left > ul > li {
    font-size:13px;
}
.list_view .lp-grid-box-description .reviewer-details > p,
 .grid_view2 .lp-grid-box-left.pull-left > p,
.listing-simple.listing_list_view .list_view.lp-grid-box-contianer .lp-grid-box-bottom span.text,
.dashboard-content .dashboard-contnt .dashboard-tab .lp-list-view-content-upper .lp-grid-box-price li > a,
.dashboard-content .dashboard-tab .list-pt-display li span.lp-list-sp-icon,
.bottom-section form > span, .breadcrumbs li, .breadcrumbs li > span, .breadcrumbs li > a
 {
  font-size: 12px;
}
.user-description-box > ul li span.count-text, .user-description-box > ul li span.count {
    font-size: 14px;
}
blockquote:after,
.lp-blockquote:after {
    font-size: 71px;
}
.listing-second-view .slides_count, .lp-listing-form input[type=radio]:checked + label:before,
input[type=checkbox]:checked + label:before {
    font-size: 11px;
}
.listing-second-view .widget-box.viewed-listing > h2, .listing-second-view .widget-box, p.lp-list-view-paypal-tit, .listing-second-view .open-hours h2 {
    font-size: 23px;
}
.listing-second-view .listing-post article figure figcaption .bottom-area h4, .listing-second-view .online-booking-form > a.onlineform,
.listing-second-view .listing-post article figure figcaption .bottom-area h4 a, .ui-accordion .ui-accordion-header span,
.secondary-btn, .lp-search-icon,
.lp-grid-box .lp-h4, .lp-grid-box .lp-h4 a {
    font-size: 19px;
}
.listing-second-view .widget-box.viewed-listing > article > .details > p, .help-tooltip > p, .listing-second-view .open-hours ul li a,
.listing-second-view .open-hours ul li a, a.status-btn > span {
    font-size: 12px;
}
.listing-second-view .post-meta-left-box h1 span.claimed i, .lp-grid-box h4.lp-h4 span.verified,
.popup-inner-left-padding .lp-grid-box-left h4.lp-h4 .verified {
    font-size: 8px;
}
.lp-modal-list button.close {
    font-size: 31px;
}
.comments-header h3, .tes-icon i, .listing-second-view .widget-box.paid-listing h2 {
    font-size: 21px;
}
.quick_tip h2 {
  font-size: 22px;
}
.pg-404-p {
    font-size: 27px;
}
.pg-404-tit {
    font-size: 200px;
}
.about-box-icon i, .popup-post-left-upper h1, .popup-post-left-upper h1 a {
    font-size: 29px;
}
.btn-file input[type=file] {
    font-size: 99px;
}
.widget-social li i, .post-rice {
    font-size: 23px;
}
.form-review-stars li i {
    font-size: 33px;
}
.overlay-video-thumb i{
    font-size: 67px;
}
.lp-menu ul li a i{
    font-size: 9px;
}
.vertical_view .lp-price-main .lp-title p {
    font-size: 58px;
}
.lp-grid-box-description  span.rate{
	font-size: 14px !important;
}