<div class="business-page-header">
  <div class="business-name-block">
    <div class="business-name">
      {{ business.name }}
    </div>
    <div class="business-category">
      {% for category in business.categories.all %}
        {{ category }}
      {% endfor %}
    </div>
  </div>

  <div class="rating-block">
    <div class="rateit rating-stars" data-rateit-starwidth="17" data-rateit-starheight="14" data-rateit-value="{{ business.get_avg_rating }}" data-rateit-readonly="true"></div>
    <div class="rating-caption">{{ business.get_no_reviews }} review{{ business.get_no_reviews|pluralize:",s" }}</div>
  </div>

  <div class="start-review-block">
    <div class="start-review-three-buttons-wrapper">
      <div class="rating-button">
        <div class="rateit rating-stars blue" data-rateit-resetable="false" data-rateit-step="1" data-rateit-starwidth="17" data-rateit-starheight="14" data-rateit-value="0"></div>
        <div class="rating-caption">Write a review</div>
      </div>
      <a href="{% url 'core:review_add' business_pk=business.pk %}" class="add-photo-button">
        <div class="photo-icon"></div>
        <div class="photo-icon-caption">Add a photo</div>
      </a>
      <a href="{% url 'core:review_add' business_pk=business.pk %}" class="share-button">
        <div class="share-icon"></div>
        <div class="share-icon-caption">Share</div>
      </a>
    </div>
    <div class="buttons-caption">
      Click start to rate this business
    </div>
  </div>
</div>

{% if business.businessphoto_set.all %}
  <div class="business-photos-wrapper">
    <div class="carousel-block">
      {% for business_photo in business.businessphoto_set.all %}
        <img src="{{ business_photo.photo.url }}">
      {% endfor %}
    </div>
  </div>
{% endif %}