<div class="business-details-wrapper">
  <div class="business-details-block">
    <div class="details-item">
      <div class="open-hours-icon"></div>
      <div class="details-item-description">
        <div>Open hours</div>
        {% if business.start_time and business.end_time %}
          <div>{{ business.start_time }}-{{ business.end_time }}</div>
        {% else %}
          <div>-</div>
        {% endif %}
      </div>
    </div>

    <div class="details-item">
      <div class="telephone-icon"></div>
      <div class="details-item-description">
        {{ business.phone_number }}
      </div>
    </div>

    <div class="details-item">
      <div class="website-icon"></div>
      <div class="details-item-description">
        {{ business.web_address }}
      </div>
    </div>

    <div class="details-item">
      <div class="location-icon"></div>
      <div class="details-item-description">
        <div>{{ business.address }}</div>
        <div>{{ business.city }}</div>
      </div>
    </div>
  </div>

  <div class="business-description-block">
    {{ business.description }}
  </div>

  <div class="business-map-block">
    <div id="map-block" class="business-location" data-business-location="{{ business.latitude.value|default:'0.347596' }},{{ business.longitude.value|default:'32.582520' }}"></div>
  </div>
</div>