<div class="customer-reviews-wrapper">
  <div class="customer-reviews-header">
    <div class="reviews-title"> 
      <div class="title">Customer Reviews</div>
      <div class="rating-block">
        <div class="rateit rating-stars" data-rateit-starwidth="17" data-rateit-starheight="14" data-rateit-value="{{ business.get_avg_rating }}" data-rateit-readonly="true"></div>
        <div class="rating-caption">{{ business.get_no_reviews }} review{{ business.get_no_reviews|pluralize:",s" }}</div>
      </div>
    </div>
    
    <div class="reviews-sort-block">
      <div class="sort-caption">Sort by:</div>
      <a href="?sort=date" class="reviews-sort-btn btn grey-btn">Date</a>
      <a href="?sort=rating" class="reviews-sort-btn btn grey-btn">Rating</a>
    </div>
  </div>

  <div class="trust-info-wrapper">
    <div class="trust-info">
      <p>Your trust is our top concern.</p>
      <p>Businesses can't pay to alter or remove their reviews.</p>
      <a href="javascript:;">Learn more</a>
    </div>

    <div class="trust-write-review">
      <div class="intro">
        Start your review of <strong>{{ business.name }}</strong>
      </div>

      <div class="rating-button">
        <div class="rateit rating-stars blue" data-rateit-resetable="false" data-rateit-step="1" data-rateit-starwidth="17" data-rateit-starheight="14" data-rateit-value="0"></div>
        <div class="rating-caption">Select your rating.</div>
      </div>
    </div>
  </div>

  <div class="customer-reviews-block">
    {% for review in reviews %}
      {% with hide_business_name=True %}
        {% include 'core/reviews/_review_card.html' %}
      {% endwith %}
    {% endfor %}

    <div class="pagination-block">
      {% if is_paginated %}{% load paginator %}{% paginator 2 %}{% endif %}
    </div>
  </div>
</div>