<div class="similar-business-item">
  <div class="business-photo">
    {% if business.banner_photo %}
      <img src="{{ business.banner_photo.url }}">
    {% else %}
      <img src="/static/africaone/static-images/no-logo.jpg">
    {% endif %}
  </div>

  <div class="details">
    <div class="title">
      <a href="{% url 'core:business_detail' pk=business.pk %}">{{ business.name }}</a>
    </div>
    <div class="business-rating">
      <div class="rateit rating-stars" data-rateit-starwidth="17" data-rateit-starheight="14" data-rateit-value="{{ business.get_avg_rating }}" data-rateit-readonly="true"></div>
      <div class="text">{{ business.get_no_reviews }} review{{ business.get_no_reviews|pluralize:",s" }}</div>
    </div>
    <div class="desc">{{ business.description }}</div>
  </div>
</div>