{% extends 'core/base.html' %}
{% load i18n %}

{% block main %}

  <div class="add-business-page-wrapper add-business-success-page-wrapper page-message-wrapper">
    <div class="blue-header-bg"></div>
    <div class="page-container container">
      <div class="message success message-big">
        <div class="icon"></div>
        <div class="msg">Your submission has been received. You&rsquo;re almost there!</div>
      </div>
      <div class="message-wrapper">
        <div class="message-content">
          <h2>Check your email to complete your submission on AfricaOne.</h2>
          <p>To complete your submission of this business on AfricaOne, please click the confirmation link in the email
            that was sent to <strong>sdofn@aodnf.co</strong>.</p>
          <a href="/" class="btn">Back to home page</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}