{% extends 'core/base.html'%}
{% block main %}

<div class="business-page-wrapper">
  <div class="business-page-header-wrapper">
    <div class="container">
      <!-- Business page header -->
      {% include 'core/businesses/_business_page_header.html' %}
    </div>
  </div>

  <div class="container">
    <!-- Business details -->
    {% include 'core/businesses/_business_page_company_details.html' %}
  </div>

  <div class="container">
    <div class="columns-wrapper">
      <div class="left-column">
        <!-- Customer reviews -->
        {% include 'core/businesses/_business_page_customer_reviews.html' %}
      </div>

      <div class="right-column">
        {% if business.features.all %}
          <div class="right-column-block">
            <div class="block-header">Business Features</div>
            <div class="block-content">
              {% for feature in business.features.all %}
                <div>{{ feature }}</div>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        <div class="right-column-block">
          <div class="block-header">Connect on Facebook</div>
          <div class="block-content">
            {% include 'core/static/facebook.html' %}
          </div>
        </div>

        <div class="similar-businesses">
          <div class="block-header">Similar Businesses</div>
          <div class="block-content">
            {% for business in business_set %}
              {% include 'core/businesses/_similar_businesses.html' %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
  <script src="/static/africaone/js/plugins/slick/slick.min.js" type="text/javascript"></script>
  {% include 'core/js_components/js_map_with_static_marker.html' %}
  {% include 'core/js_components/js_review_card.html' %}
  {% include 'core/js_components/js_lightbox.html' %}

  <script>
    $(document).ready(function() {
      $('.rating-button .rating-stars').click(function() {
        location.href = "{% url 'core:review_add' business_pk=business.pk %}";
      });

      loadMapScript();

      $('.carousel-block').slick({
        variableWidth: true,
        adaptiveHeight: true
      });
    });
  </script>
{% endblock %}
