<h2>Top on AfricaOne near you</h2>

<div class="top-businesses-wrapper clearfix">

  <!-- business categories -->
  <ul class="business-categories-filters-wrapper list-unstyled">
    {% for category in categories %}
      <li class="business-category-filter {% ifequal forloop.counter 1 %}selected{% endifequal %}" data-category-id="{{category.id}}">
        <span class="icon"></span>
        <div class="category-name">{{ category }}</div>
        <div class="reviews-no">? reviews</div>
      </li>
    {% endfor %}
  </ul>

  <!-- businesses -->
  <div class="businesses-wrapper">
    <h3 id="current-category-name">{{ categories.all.0 }}</h3>

    <div class="top-businesses-list">
      {% for i in ''|center:10 %}

        <div id="business-item-{{ forloop.counter0 }}" class="home-business-item">
          <div class="business-photo">
            <img src="/static/africaone/static-images/no-logo.jpg">
          </div>

          <div class="business-details">
            <div class="business-name">
              <a href="{% url 'core:business_detail' 1 %}">endiro cafe</a>
            </div>

            <div class="business-rating">
              <div class="rateit rating-stars" data-rateit-starwidth="17" data-rateit-starheight="14" data-rateit-value="0" data-rateit-readonly="true"></div>
              <div class="raiting-description"></div>
            </div>
            
            <div class="business-description">Chicken wings, pizza, salad, the best food in town you just can't miss </div>
          </div>

          <div class="business-user-photos">
            <div class="title">User Photos</div>
            <div class="photos-icon-wrapper">
              <img src="/static/africaone/static-images/fake-user-photos-2.jpg">
              <span>+10</span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
