{% extends 'admin/base.html' %}

{% block main %}
  <div class="event-categories-list-page">
    <div class="x_panel">
      <div class="x_title">
        <h3>Event Categories</h3>
      </div>  
      <div class="x_content">
        <div class="event-categories-list-block row">
          <div class="col-xs-12">
            <a href="{% url 'admin:event_category_create' %}" class="btn btn-success"><i class="fa fa-plus"></i>Add New Category</a>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
              <div class="x_content">
                <table class="table table-hover items-list-table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for category in categories_list %}
                      <tr class="item-row" data-href="{% url 'admin:event_category_update' category.id %}">
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>
                          <a href="{% url 'admin:event_category_delete' category.id %}" class="btn btn-danger btn-xs delete-row-btn">Delete</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      $('.item-row').click(function() {
        document.location = $(this).attr('data-href');
      });

      $('.delete-row-btn').click(function(event) {
        event.stopPropagation();
      })
    });
  </script>
{% endblock %}