
{% include 'core/components/page_head_tags.html' %}

  <div class="full-page-wrapper">

    <header class="page-header">
      <div class="header-strip-1">
        <div class="container clearfix">

          <a href="/" class="logo-link"></a>

          {% include 'core/header/form-find-companies.html' %}

          {% include 'core/header/login-links.html' %}

        </div>
      </div>

      <div class="header-menu-strip">
        <div class="container clearfix">
          {% include 'core/header/menu-main.html' %}
        </div>
      </div>

    </header>

    <div class="main-content-wrapper">
      {% block main %}{% endblock %}
    </div>

    {% include 'core/components/footer.html' %}

  </div>

{% include 'core/components/page_footer_tags.html' %}
