{% extends 'core/base.html' %}
{% block main %}
  <div class="blue-header-bg"></div>

  <form class="add-business-wrapper add-by-business-page container" action="{{ action_url }}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <div class="business-info-wrapper">
      <div class="business-info">
        <div class="column-title">
          ADD A BUSINESS
        </div>
        <div class="column-content">
          <div class="column-description">
            Add information about your business below. Your business page will not appear in search results until this information has been verified and approved by our moderators. Once it is approved, you'll receive an email with instructions on how to claim your business page
          </div>

          {% if form.errors %}
            <div class="form-errors">
              {% for field,error in form.errors.items %}
                <div class="form-error-text">
                  {% if field != '__all__' %}{{ field }}: {% endif %}
                  {{ error|striptags }}
                  {{ message }}
                </div>
              {% endfor %}
            </div>
          {% endif %}

          <div class="business-inputs">
            <input class="app-input" name="name" placeholder="Add Business Name*" type="text" value="{{ form.name.value|default:'' }}">
            <input class="app-input" name="address" placeholder="Add Address Line*" type="text" value="{{ form.address.value|default:'' }}">
            <input class="app-input" name="city" placeholder="Add City*" type="text" value="{{ form.city.value|default:'' }}">
            <input class="app-input" name="phone_number" placeholder="Add Phone Number*" type="text" value="{{ form.phone_number.value|default:'' }}">
            <input class="app-input" name="web_address" placeholder="Add Website Address" type="text" value="{{ form.web_address.value|default:'' }}">
            <div class="open-hours">
              <input type="hidden" name="open_hours" value="{{ form.open_hours.value|default:'' }}">
              <span>Open hours</span>
              <div class="schedule-wrapper"></div>
            </div>
            <input class="app-input" name="email" placeholder="Add your email Address. We will send you an email to verify your address" type="text" value="{{ form.web_address.value|default:'' }}">
            {{ form.categories }}
            <div class="upload-photo-btn-wrapper">
              <div class="upload-btn">
                Click here to Add business photo
                {{ form.photo }}
              </div>
              <span class="file-name">No file chosen</span>
            </div>
          </div>

          <div class="form-buttons-wrapper">
            <input type="submit" class="btn line-45" value="ADD THIS BUSINESS">
            <a href="{% url 'core:claim_business_find' %}" class="btn grey-btn line-45">CANCEL</a>
          </div>
        </div>
      </div>
    
      <div class="business-map">
        <div class="column-title">
          CHOOSE LOCATION ON MAP
        </div>
        <div class="column-content">
          <div id="business-location" class="business-location" data-business-location="{{ form.latitude.value|default:'0.347596' }},{{ form.longitude.value|default:'32.582520' }}"></div>
          <input type="hidden" name="latitude" value="{{ form.latitude.value|default:'0.347596' }}">
          <input type="hidden" name="longitude" value="{{ form.longitude.value|default:'32.582520' }}">
        </div>
      </div>
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function() {
      chosenSelectHandler();
      loadMapScript();
      fileNameHandler();
      openHoursHandler();
    });

    function initializeMap() {
      var mapElm = $('#business-location');
      var mapPos = mapElm.data('business-location').split(',');
      var latLng = new google.maps.LatLng(mapPos[0], mapPos[1]);

      var map = new google.maps.Map(document.getElementById('business-location'), {
        center: latLng,
        zoom: 15,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });

      var marker = new google.maps.Marker({
        position: latLng,
        map: map
      });

      google.maps.event.addListener(map, 'click', function(event) {
        marker.setPosition(event.latLng);
        marker.setMap(map);
        $('input[name="latitude"]').val(event.latLng.lat());
        $('input[name="longitude"]').val(event.latLng.lng());
      });
    }

    function fileNameHandler() {
      $('#id_photo').change(function() {
        $('.file-name').text($(this)[0].files[0].name);
      });
    }

    function chosenSelectHandler() {
      $("#id_categories").chosen({max_selected_options: 5});
    }

    function openHoursHandler() {
      var openHours = $('input[name="open_hours"]').val();

      if (openHours) {
        openHours = JSON.parse(openHours);
      } else {
        openHours = [{ day: 1, start: 9, end: 22}];
      }

      $(document).on('click', '.schedule-add-hours', addHoursHandler);
      $(document).on('click', '.schedule-remove-hours', removeHoursHandler);
      $(document).on('change', '.schedule-day, .schedule-start, .schedule-end', updateOpenHoursField);

      for (var i=0; i<openHours.length; i++) {
        var isLast = (i === openHours.length-1)
        $('.schedule-wrapper').append(createHours(openHours[i], isLast));
      }
      
    }

    function createHours(item, isLast) {
      var $line = $('<div>').addClass('schedule-line clearfix');
      var $day = $('<select>').addClass('schedule-input schedule-day').appendTo($line);
      var $start = $('<select>').addClass('schedule-input schedule-start').appendTo($line);
      var $end = $('<select>').addClass('schedule-input schedule-end').appendTo($line);

      var days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];

      for (var i=0; i<days.length; i++) {
        $day.append($('<option>').attr('value', i+1).text(days[i]));
      }

      for (var i=0; i<24; i++) {
        var t = i%12 == 0 ? 12 : i%12;
        var meridiem = i<12 ? 'am' : 'pm';
        var timeText = t + ':00 ' + meridiem;

        $start.append($('<option>').attr('value', i).text(timeText));
        $end.append($('<option>').attr('value', i).text(timeText));
      }

      $day.val(item.day);
      $start.val(item.start);
      $end.val(item.end);

      if (isLast) {
        $('<div>').addClass('btn schedule-add-hours').text('Add hours').appendTo($line);
      } else {
        $('<div>').addClass('btn grey-btn schedule-remove-hours').text('Remove hours').appendTo($line);
      }

      return $line;
    }

    function addHoursHandler() {
      var currentDay = $(this).parent().children('.schedule-day').val();
      var currentStart = $(this).parent().children('.schedule-start').val();
      var currentEnd = $(this).parent().children('.schedule-end').val();

      var nextDay = Math.min(parseInt(currentDay)+1, 7);
      var item = { day: nextDay, start: currentStart, end: currentEnd };

      toggleScheduleButton($(this));
      $('.schedule-wrapper').append(createHours(item, true));
      updateOpenHoursField();
    }

    function toggleScheduleButton($btn) {
      $btn.removeClass('schedule-add-hours').addClass('grey-btn schedule-remove-hours').text('Remove hours');
    }

    function removeHoursHandler() {
      $(this).parent().remove();
      updateOpenHoursField();
    }

    function updateOpenHoursField() {
      var openHours = [];

      $('.schedule-wrapper .schedule-line').each(function(index) {
        var item = {
          day: $(this).children('.schedule-day').val(),
          start: $(this).children('.schedule-start').val(),
          end: $(this).children('.schedule-end').val()
        }
        openHours.push(item);
      });

      $('input[name="open_hours"]').val(JSON.stringify(openHours));
    }
  </script>
{% endblock %}