{% extends 'core/base.html' %}
{% block main %}
<div class="row">
    <div class="col-md-8">
        <ul class="list-group">
            {% for business in business_list %}
            <li class="list-group-item">
                <img src="{{business.photo.url}}" width="100" height="100">
                {{business.name}}
                <input class="rating" data-size="xs" value="{{business.get_avg_rating}}">
                {{business.get_no_reviews}} reviews
                {{business.address}}
                {{business.city}}
                <a href="#" class="btn-sm btn-primary">Claim Business</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}