{% extends 'core/base.html' %}
{% block main %}
<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Search Events
            </h3>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Featured Events</h3>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Popular Events</h3>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="row">
        <a href="{% url 'core:event_add' %}" class="btn-sm btn-primary">Add an Event</a>
    </div>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Recently Added Events</h3>
        </div>
    </div>
</div>

{% endblock %}