{% extends 'core/base.html' %}

{% block header %}
  <div class="home-header">
    <div class="home-header-bg"></div>
    <div class="home-logo-menu-strip clearfix">
      <a href="/" class="logo-link float left"></a>
      {% include 'core/header/login-links.html' %}
      {% include 'core/header/menu-main.html' %}
    </div>

    {% include 'core/reviews/banner-reviews.html' %}

    <div class="find-companies-caption">
      Search and review businesses near you and around Africa. Start your review today.
    </div>
    <div class="home-find-form-wrapper">
      {% include 'core/header/form-find-companies.html' %}
    </div>
  </div>
{% endblock %}

{% block main %}
  <div class="home-page-wrapper">
    <div class="home-content-wrapper">
      <div class="container">

         <div class="home-row home-row-1 clearfix">
          <div class="big-col wrapper-col">
            <div class="inner-wrapper">
              <div class="block block-why-join">
                <h2 class="big why-join">Why Join AfricaOne</h2>
                <div class="customers-businesses clearfix">
                  <div class="customers-col col">
                    <h3>Customers</h3>
                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                      Nullam id dolor id nibh ultricies vehicula ut id </p>
                    <a class="btn" href="{% url 'core:sign_up' %}">Sign Up</a>
                  </div>
                  <div class="businesses-col col">
                    <h3>Businesses</h3>
                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                      Nullam id dolor id nibh ultricies vehicula ut id </p>
                    <a class="btn" href="{% url 'core:sign_up_business' %}">Sign Up</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="small-col wrapper-col">
            <div class="inner-wrapper">
              <div class="block block-mobile-app">
                <h2>AfricaOne Mobile App</h2>
                <div class="mobile-app-desc">
                  <div class="phones"></div>
                  <div class="desc">
                    <p>Download the AfricaOne Mobile App and use it on the Go. Review
                      businesses and add photos.</p>
                    <div class="app-links">
                      <a href="javascript:;" title="AfricaOne on the App Store"
                         class="apple"></a>
                      <a href="javascript:;" title="AfricaOne on Google Play"
                         class="android"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="home-row home-row-2 clearfix">

          <div class="big-col wrapper-col">
            <div class="inner-wrapper">

              <!-- top on africaone -->
              <div class="block block-top-businesses">
                {% include 'core/businesses/top-africa-one.html' %}
              </div>

              <!-- recent activity -->
              <div class="block-recent-activity">
                <h2>Recent Activity on AfricaOne</h2>
                
                {% for review in recent_activities %}
                  {% include 'core/reviews/_review_card.html' %}
                {% endfor %}
                
                <div class="see-more-activity">
                  <a href="#" class="btn line-35">SEE MORE AFRICAONE RECENT ACTIVITY</a>
                </div>
              </div>

            </div>
          </div>

          <div class="small-col wrapper-col">
            <div class="inner-wrapper">

              <!--review of the day -->
              <div class="block block-review-day">
                {% include 'core/reviews/review-of-the-day.html' %}
              </div>

              <!-- connect facebook -->
              <div class="block block-facebook">
                <h2>Connect on Facebook</h2>
                <div class="connect-fb-wrapper">
                  {% include 'core/static/facebook.html' %}
                </div>
              </div>

              <!-- events -->
              <div class="block block-events">
                {% include 'core/events/sidebar-list-events.html' %}
              </div>

              <!-- news -->
              <div class="block block-news">
                {% include 'core/news/sidebar-list-news.html' %}
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% include 'core/js_components/js_review_card.html' %}
  {% include 'core/js_components/js_lightbox.html' %}

  <script>
    $(document).ready(function() {
      categoriesHandler();
      bannerHandler();
      getBusinessForCategory();
      feedbackHandler();
    });

    function getBusinessForCategory(categoryId, categoryName) {
      if (categoryId === undefined) {
        var categoryId = $('ul.business-categories-filters-wrapper li').first().attr('data-category-id');
      }

      if (categoryName === undefined) {
        categoryName = $('.business-category-filter').children().eq(1).text();
      }

      var captionBlock = $('#current-category-name');
      captionBlock.text('Loading...');

      $.get({
        url: 'get_home_page_businesses',
        data: {
          parent_id: categoryId
        }
      }).done(function(data) {
        try {
          var businesses = JSON.parse(data).businesses;

          categoryName = businesses.length ? categoryName : categoryName+' (no data)';
          captionBlock.text(categoryName);
          replaceBusinessesInfo(businesses);
        } catch (err) {
          captionBlock.text('Server error');
          console.log(err);
        }
      }).fail(function() {
        captionBlock.text('Server error');
      });
    }

    function categoriesHandler() {
      $('.business-category-filter').click(function() {
        var categoryId;
        var categoryName;

        if (!$(this).hasClass('selected')) {
          $('.business-categories-filters-wrapper li').removeClass('selected');
          $(this).addClass('selected');

          categoryName = $(this).children().eq(1).text();
          $('#current-category-name').text(categoryName);
          
          categoryId = $(this).attr('data-category-id');
          getBusinessForCategory(categoryId, categoryName);
        }
      })
    }

    function replaceBusinessesInfo(businesses) {
      $('.home-business-item').hide();

      for (var i=0; i<businesses.length; i++) {
        var businessItem = $('#business-item-'+i);

        var href = businessItem.find($('.business-name a')).attr('href');
        businessItem.find($('.business-name a')).text(businesses[i].name);
        businessItem.find($('.business-name a')).attr('href', href.replace(/\/\d+\//,'/'+businesses[i].id+'/'));

        businessItem.find($('.business-rating .rateit')).rateit('value', businesses[i].rating);
        var isReviews = businesses[i].no_reviews !== 1 ? 's' : '';
        businessItem.find($('.business-rating .raiting-description')).text(businesses[i].no_reviews + ' review' + isReviews);

        var description = businesses[i].description || '';
        if (description.length > 90) {
          description = description.slice(0, 90) + '...';
        }
        businessItem.find($('.business-description')).text(description);

        var imgPath = businesses[i].banner_photo ? businesses[i].banner_photo : '/static/africaone/static-images/no-logo.jpg';
        businessItem.find($('.business-photo img')).attr('src', imgPath);

        businessItem.show();
      }
    }

    function bannerHandler() {
      var location = {
        latitude: 0,
        longitude: 0
      };

      initBanner();

      africaOne.store.bannerItems = [];

      $.post('/get_nearest_businesses/', {
        latitude: location.latitude,
        longitude: location.longitude
      }).done(function (bannerData) {
        var businesses = JSON.parse(bannerData).businesses;
        if (businesses.length) {
          africaOne.store.bannerItems = businesses;
          addBusinessToBanner(businesses[0], 0);
          $('.banner-spinner').hide();
          $('.banner-review-container').show();
        }
      });
    }

    function addBusinessToBanner(business, i) {
      var $banner = $('.banner-wrapper')
      $('.business-name', $banner).text(business.name);
      $('.review-content', $banner).attr('data-slide-number', i);
      $('.rating-stars', $banner).rateit('value', 0);
      $('input[name="rating"]', $banner).val('0')
      $('.review-text', $banner).val('');
      $('.button-wrapper', $banner).hide();
      $('.banner-wrapper .error-message').hide();

      var formAction = $('.banner-wrapper .business-info').attr('action');
      $('.banner-wrapper .business-info').attr('action', formAction.replace(/\/\d+\//,'/'+business.id+'/'));

      var photoUrl;
      if (business.banner_photo) {
        photoUrl = business.banner_photo
      } else {
        photoUrl = $('.business-photo img', $banner).attr('data-default-src');
      }

      $('.business-photo img', $banner).attr('src', '');
      $('.business-photo img', $banner).attr('src', photoUrl);
    }

    function changeSlideHandler(step) {
      return function() {
        var $banner = $('.banner-wrapper');

        var slideNumber = $('.review-content', $banner).attr('data-slide-number');
        var nextSlideNumber = parseInt(slideNumber) + step;

        if (nextSlideNumber > africaOne.store.bannerItems.length - 1) {
          nextSlideNumber = 0;
        }
        if (nextSlideNumber < 0) {
          nextSlideNumber = africaOne.store.bannerItems.length - 1;
        } 

        addBusinessToBanner(africaOne.store.bannerItems[nextSlideNumber], nextSlideNumber);
      }
    }

    function initBanner() {
      $('.banner-wrapper .slider-btn-next').click(changeSlideHandler(1));
      $('.banner-wrapper .slider-btn-prev').click(changeSlideHandler(-1));
      $('.banner-wrapper .review-text').on('keyup', function(event) {
        if ($(this).val() === '') {
          $('.banner-wrapper .button-wrapper').hide();
        } else {
          $('.banner-wrapper .button-wrapper').show();
        }
      });
      $('.banner-wrapper .rating-stars').bind('rated', function(event, value) {
        $('input[name="rating"]').val(value);
      });
      
      $('.banner-wrapper .post-review-btn').click(function(event) {
        event.preventDefault();
        if ($('input[name="rating"]').val() === '0') {
          $('.banner-wrapper .error-message').show();
        } else {
          $('.banner-wrapper .error-message').hide();
          $('.banner-wrapper .business-info').submit();
        }
      });
    }
  </script>
{% endblock%}