{% extends 'core/base.html' %}
{% include 'core/components/page_head_tags.html' %}

{% block main %}
  <div class="home-header-bg"></div>
  {% include 'core/reviews/banner-reviews.html' %}

  <div class="home-page-wrapper full-page-wrapper">
    <div class="home-content-wrapper">
      <div class="container">

        <div class="top-header">
          <div class="header-text">
            <span class="left-quote"></span>
            Trusted reviews of businesses near you and around Africa.
            <span class="right-quote"></span>
          </div>
          <a href="#" class="btn line-35">Learn more</a>
        </div>

        <div class="home-row home-row-1 clearfix">

          <div class="big-col wrapper-col">
            <div class="inner-wrapper">
              <div class="block block-why-join">
                <h2 class="big why-join">Why Join AfricaOne</h2>
                <div class="customers-businesses clearfix">
                  <div class="customers-col col">
                    <h3>Customers</h3>
                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                      Nullam id dolor id nibh ultricies vehicula ut id </p>
                    <a class="btn" href="{% url 'core:sign_up' %}">Sign Up</a>
                  </div>
                  <div class="businesses-col col">
                    <h3>Businesses</h3>
                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                      Nullam id dolor id nibh ultricies vehicula ut id </p>
                    <a class="btn" href="{% url 'core:sign_up_business' %}">Sign Up</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="small-col wrapper-col">
            <div class="inner-wrapper">
              <div class="block block-mobile-app">
                <h2>AfricaOne Mobile App</h2>
                <div class="mobile-app-desc">
                  <div class="phones"></div>
                  <div class="desc">
                    <p>Download the AfricaOne Mobile App and use it on the Go. Review
                      businesses and add photos.</p>
                    <div class="app-links">
                      <a href="javascript:;" title="AfricaOne on the App Store"
                         class="apple"></a>
                      <a href="javascript:;" title="AfricaOne on Google Play"
                         class="android"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="home-row home-row-2 clearfix">

          <div class="big-col wrapper-col">
            <div class="inner-wrapper">

              <!-- top on africaone -->
              <div class="block block-top-businesses">
                {% include 'core/businesses/top-africa-one.html' %}
              </div>

              <!-- recent activity -->
              <div class="block block-recent-activity">
                <h2>Recent Activity on AfricaOne</h2>
                  {% for activity in recent_activities %}
                  <div class="block-content">
                    {{activity}}
                  </div>
                  {% endfor %}
              </div>
            </div>
          </div>

          <div class="small-col wrapper-col">
            <div class="inner-wrapper">

              <!--review of the day -->
              <div class="block block-review-day">
                {% include 'core/reviews/review-of-the-day.html' %}
              </div>

              <!-- connect facebook -->
              <div class="block block-facebook">
                <h2>Connect on Facebook</h2>
                <div class="connect-fb-wrapper">
                  {% include 'core/static/facebook.html' %}
                </div>
              </div>

              <!-- events -->
              <div class="block block-events">
                {% include 'core/events/sidebar-list-events.html' %}
              </div>

              <!-- news -->
              <div class="block block-news">
                {% include 'core/news/sidebar-list-news.html' %}
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
{% endblock %}