{% extends 'core/base.html' %}

{% block main %}
  <div class="blue-header-bg"></div>

  <div class="review-form-wrapper container">
    <div class="row">
      <div class="col-md-8 column-left">
        <div class="column-title">
          Write a Review
        </div>

        <div class="business-block-wrapper clearfix">
          <div class="business-photo">
            {% if bisiness.banner_photo %}
              <img src="{{ bisiness.banner_photo.url }}">
            {% else %}
              <img src="/static/africaone/static-images/no-logo.jpg">
            {% endif %}
          </div>

          <div class="business-details">
            <div class="business-name">
              {{ business.name|upper }}
            </div>

            <div class="business-info clearfix">
              <div class="business-info-left">
                <div class="business-rating">
                  <div class="rateit rating-stars" data-rateit-starwidth="17" data-rateit-starheight="14" data-rateit-value="{{ business.get_avg_rating }}" data-rateit-readonly="true">
                  </div>
                  <span>{{ business.get_no_reviews }} review{{ business.get_no_reviews|pluralize:".,s." }}</span>
                </div>
                
                <div class="business-address">
                  {{ business.address }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="your-review-block">
          <h3>Your Review</h3>

          <form action="{{action_url}}" method="post" enctype="multipart/form-data">
            {%csrf_token%}

            <div class="stars-photo-block">
              <!-- Select Photos:{{form.files}} -->
              <div class="rating-input">
                <div class="rateit rating-stars blue" data-rateit-resetable="false" data-rateit-starwidth="17" data-rateit-starheight="14" data-rateit-value="0">
                </div>
                <span>Choose rating</span>
              </div>
              <div class="photo-input">
                <div class="photo-icon">
                </div>
                <span>Add a photo</span>
              </div>
            </div>

            <div class="stars-comment">
              Click stars to rate this restaurant
            </div>

            <textarea id="new-review-area"></textarea>
            {% if form.errors %}
              {% for field,error in form.errors.items %}
                <div class="text-warning bigger-110 orange">
                  <i class="icon-warning-sign"></i>
                  {% if field != '__all__' %}{{ field }}{% endif %}
                  {{ error|striptags }}
                  {{message}}
                </div>
              {% endfor %}
            {% endif %}

            <input type="submit" class="btn line-45" value="SIGNUP AND POST">
            <input type="button" class="btn grey-btn line-45" value="CANCEL">
          </form>

          <div class="form-comment">
            Please Note that you can always edit or remove your reviews later.
          </div>
        </div>
      </div>

      <div class="col-md-4 column-right">
        <div class="column-title">
          Other Reviews
        </div>

        {# Fake reviews #}
        {% for i in '123' %}
        <div class="other-review-wrapper">
          <div class="review-annotation-block">
            <div class="review-header clearfix">
              <div class="user-photo">
                <img src="/static/africaone/static-images/empty-avatar.jpg">
              </div>
              <div class="header-info">
                <div class="user-name">
                  By Martha Mukasa
                </div>
                <div class="user-since">
                  Member since 11 Aug 2010
                </div>
                <div class="rateit rating-stars" data-rateit-starwidth="17" data-rateit-starheight="14" data-rateit-value="4" data-rateit-readonly="true">
                </div>
                <div class="rating-block clearfix">
                  <div class="rating-description">
                    4 out of 5 stars
                  </div>
                  <div class="date">
                    On May 17, 2012
                  </div>
                </div>
              </div>
            </div>

            <div class="review-container">
              <div class="review-title">
                Excellent service, best in town.
              </div>
              <div class="review-text">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa....
              <a href="#">Read more</a>
              </div>
            </div>

            {% if i == '1'%}
            <div class="review-photos">
              {% for i in '1234' %}
                <img src="/static/africaone/static-images/fake-user-photos-2.jpg">
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}

        {% for review in reviews %}
          {# TODO #}
          {# {% include 'core/review_detail_snippet.html' %} #}
        {% endfor %}
      </div>
    </div>
  </div>
    
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    // var input = document.getElementById('filesToUpload')
    // var list = document.getElementById('fileList')

    //for every file...
    
    // for (var x = 0; x < input.files.length; x++) {
    
    //add to list
    
    // var li = document.createElement('li');
    // li.innerHTML = 'File ' + (x + 1) + ':  ' + input.files[x].name;
      // list.append(li);
    // }

    $(document).ready(function() {
      var area = $('#new-review-area');
      var placeholderText = 'Start your review here.\n\nYour review will help others find and learn about great local businesses. It will also support the local businesses.\n\nPlease don\'t review this business if you received anything for writing this review; or if you are in anyway connected to the owner or employees.';

      if (area.val() === '') {
        area.val(placeholderText);
        area.addClass('clear');
      }
        
      area.focus(function() {
        if($(this).val() === placeholderText) {
          $(this).val('');
          $(this).removeClass('clear');
        }
      });

      area.blur(function() {
        if($(this).val() === '') {
          $(this).val(placeholderText);
          $(this).addClass('clear');
        }    
      });
    });
  </script>


{% endblock %}
