{% extends 'core/base.html' %}

{% block main %}

  {# TODO #}
  {# <form action="{% url 'core:review_list' %}" method="post">{%csrf_token%} #}
  {#     {{form.business_name}} #}
  {#     <input class="btn-sm btn-primary" type="submit" value="Find"/> #}
  {# </form> #}

  <div class="blue-header-bg-lg"></div>

  <div class="reviews-list-page-wrapper container">
    <div class="page-description">
      <h1>KAMPALA AWAITS YOUR REVIEW</h1>
      <h6>Search and review businesses near you. Start your review today.</h6>
    </div>

    <div class="row">

      <div class="col-md-8 column-left">
        <div class="column-title">
          Choose the business you'd like to review
        </div>
        <div class="column-info-line">
          I don't see the business. <a href="{% url 'core:business_user_add'%}">Add a Busines</a>
        </div>
        <div class="column-content">
          {% for business in business_list %}
            <div class="business-block-wrapper clearfix">
              <div class="business-photo">
                <img src="/static/africaone/static-images/fake-logo.jpg">
              </div>

              <div class="business-details">
                <div class="business-name">
                  {{ business.name|upper }}
                </div>

                <div class="business-info clearfix">
                  <div class="business-info-left">
                    <div class="business-rating">
                      {% for i in '1234' %}
                        <img src="/static/africaone/static-images/icon-green-star.jpg">
                      {% endfor %}
                      <img src="/static/africaone/static-images/icon-grey-star.jpg">
                      <span>123 reviews.</span>
                    </div>
                    <div class="business-description">
                      {{ business.description|truncatechars:90 }}
                    </div>
                  </div>

                  <div class="business-info-center">
                    <div class="business-address">
                      {{ business.address }}
                    </div>
                    {{ business.phone_number }}
                  </div>

                  <div class="business-info-right">
                    <span>User photos</span>
                    <div class="photos-icon-wrapper">
                      <img src="/static/africaone/static-images/fake-user-photos.jpg">
                      <span>+10</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="business-bottom-block">
              <div class="write-review-button clearfix">
                <div class="star-block">
                  {% for i in '12345' %}
                    <img src="/static/africaone/static-images/icon-white-star.jpg">
                  {% endfor %}
                </div>
                <a href="{% url 'core:review_add' business_pk=business.pk %}">Write a Review</a>
              </div>
              <span>Click stars to rate this restaurant</span>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-md-4 column-right">
        <div class="column-title">
          Choose by map
        </div>
        <div class="map-block">
          <div class="checkbox-wrapper">
            <input type="checkbox" id="search-on-move" class="fancy-checkbox">
            <label for="search-on-move">Search when I move the map</label>
          </div>
          <img src="/static/africaone/static-images/fake-map.png">
          <a href="#" class="btn line-35">VIEW ON A BIGGER MAP</a>
        </div>

        <div class="couldnt-find-block">
          <h3>COULD NOT FIND A BUSINESS?</h3>
          <h4>TELL US WHAT <b>WE ARE MISSING</b>.</h4>
          <span>If the business you are looking for is not here, please contact us or better still, add it!</span><br>
          <a href="{% url 'core:business_user_add'%}" class="btn line-35">ADD A BUSINESS</a>
        </div>

        <div class="column-title">
          Connect on Facebook
        </div>
        <div class="facebook-block">
          <img src="/static/africaone/static-images/fake-facebook.png">
        </div>

        <div class="advert-block">
          <span>ADVERT</span>
          <img src="/static/africaone/static-images/fake-advert.png">
        </div>

      </div>
    </div>
  </div>
{% endblock %}