{% extends 'core/base.html' %}

{% block main %}
  <div class="blue-header-bg"></div>

  <div class="review-form-wrapper container">
    <div class="row">
      <div class="col-md-8 column-left">
        <div class="column-title">
          Write a Review
        </div>

        <div class="business-block-wrapper clearfix">
          <div class="business-photo">
            {% if bisiness.banner_photo %}
              <img src="{{ bisiness.banner_photo.url }}">
            {% else %}
              <img src="/static/africaone/static-images/no-logo.jpg">
            {% endif %}
          </div>

          <div class="business-details">
            <div class="business-name">
              {{ business.name|upper }}
            </div>

            <div class="business-info clearfix">
              <div class="business-info-left">
                <div class="business-rating">
                  <div class="rateit bigstars" data-rateit-starwidth="17" data-rateit-starheight="14" data-rateit-value="{{ business.get_avg_rating }}" data-rateit-readonly="true">
                  </div>
                  <span>{{ business.get_no_reviews }} review{{ business.get_no_reviews|pluralize:".,s." }}</span>
                </div>
                
                <div class="business-address">
                  {{ business.address }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="your-review-block">
          <h3>Your Review</h3>

          <form action="{{action_url}}" method="post" enctype="multipart/form-data">
            {%csrf_token%}

            <div class="stars-photo-block">
              Select Photos:{{form.files}}
            </div>

            <div class="stars-comment">
              Click stars to rate this restaurant
            </div>

            <textarea id="new-review-area"></textarea>
            {% if form.errors %}
              {% for field,error in form.errors.items %}
                <div class="text-warning bigger-110 orange">
                  <i class="icon-warning-sign"></i>
                  {% if field != '__all__' %}{{ field }}{% endif %}
                  {{ error|striptags }}
                  {{message}}
                </div>
              {% endfor %}
            {% endif %}

            <input type="submit" class="btn line-45" value="SIGNUP AND POST">
            <input type="button" class="btn grey-btn line-45" value="CANCEL">
          </form>

          <div class="form-comment">
            Please Note that you can always edit or remove your reviews later.
          </div>
        </div>
      </div>

      <div class="col-md-4 column-right">
        <div class="column-title">
          Other Reviews
        </div>
        <div class="column-content">
          {% for review in reviews %}
            {# TODO #}
            {# {% include 'core/review_detail_snippet.html' %} #}
            <div class="space-6"></div>
          {% endfor %}
          <div style="padding: 150px 0; text-align: center;">
            Under construction ...
          </div>
        </div>
      </div>
    </div>
  </div>
    
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    // var input = document.getElementById('filesToUpload')
    // var list = document.getElementById('fileList')

    //for every file...
    
    // for (var x = 0; x < input.files.length; x++) {
    
    //add to list
    
    // var li = document.createElement('li');
    // li.innerHTML = 'File ' + (x + 1) + ':  ' + input.files[x].name;
      // list.append(li);
    // }

    $(document).ready(function() {
      var area = $('#new-review-area');
      var placeholderText = 'Start your review here.\n\nYour review will help others find and learn about great local businesses. It will also support the local businesses.\n\nPlease don\'t review this business if you received anything for writing this review; or if you are in anyway connected to the owner or employees.';

      if (area.val() === '') {
        area.val(placeholderText);
        area.addClass('clear');
      }
        
      area.focus(function() {
        if($(this).val() === placeholderText) {
          $(this).val('');
          $(this).removeClass('clear');
        }
      });

      area.blur(function() {
        if($(this).val() === '') {
          $(this).val(placeholderText);
          $(this).addClass('clear');
        }    
      });
    });
  </script>


{% endblock %}
