{% extends 'core/base.html' %}

{% block main %}
  <div class="blue-header-bg"></div>

  <div class="review-form-wrapper container">
    <div class="row">
      <div class="col-md-8 column-left">
        <div class="column-title">
          Write a Review
        </div>
        <div class="column-content">
          <div class="panel-body">
            {% if form.errors %}
              {% for field,error in form.errors.items %}
                <div class="text-warning bigger-110 orange">
                  <i class="icon-warning-sign"></i>
                  {% if field != '__all__' %}{{ field }}{% endif %}
                  {{ error|striptags }}
                  {{message}}
                </div>
              {% endfor %}
            {% endif %}

            <form action="{{action_url}}" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                {% include "core/review_snippet.html" %}
                Select Photos:{{form.files}}
                <br>
                <input type="submit" value="Post"/>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4 column-right">
        <div class="column-title">
          Other Reviews
        </div>
        <div class="column-content">
          for {{business.name}}
          {% for review in reviews %}
            {# TODO #}
            {# {% include 'core/review_detail_snippet.html' %} #}
            <div class="space-6"></div>
          {% endfor %}
          <div style="padding: 150px 0;">
            Under construction ...
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <script type="text/javascript">
    var input = document.getElementById('filesToUpload')
    var list = document.getElementById('fileList')
    //for every file...
    for (var x = 0; x < input.files.length; x++) {
    //add to list
    var li = document.createElement('li');
    li.innerHTML = 'File ' + (x + 1) + ':  ' + input.files[x].name;
      list.append(li);
    }
  </script>
{% endblock %}
