.create-business-form-wrapper {
  h1 {
    margin: 0 0 12px;
  }
  .business-edit-btns {
    margin: 0 0 12px;
  }
  .x_panel {
    margin: 12px 0 0;
    padding: 36px;
    .main-form-row {
      margin: 0 -18px;
    }
    .main-form-col {
      padding: 0 18px;
    }
  }
  label {
    font-size: 16px;
  }
  .form-group {
    margin-bottom: 16px;
    position: relative;
    .alert {
      position: absolute;
      right: 0; left: auto; top: -3px;
    }
  }
  #business-address-1 {
    margin-bottom: 12px;
  }
  .hours-wrapper,
  .chosen-categories-wrapper {
    margin-bottom: 9px;
  }
  .chosen-category {
    margin-bottom: 3px;
    span {
      padding-right: 9px;
    }
  }
  .hours {
    display: table-row;
    margin-bottom: 3px;
    span {
      display: table-cell;
      padding-right: 9px;
      &.weekday {
        font-weight: bold;
      }
    }
  }
  .hours-select {
    li {
      padding: 0 2px;
    }
  }
  .autocomplete-no-suggestion {
    padding: 6px;
  }
  .autocomplete-suggestion {
    background: #fff;
    border-bottom: solid 1px #ccc;
    padding: 3px 6px;
    &:hover,
    &.autocomplete-selected {
      color: #fff;
      background-color: #337ab7;
    }
  }
  .category-spacer {
    margin: 0 6px;
  }
  .gllpLatlonPicker {
    .search-btn {
      margin: 0;
    }
    .input-group {
      margin: 0;
    }
  }
  .gllpMap {
    height: 400px;
    background: #eee;
  }
  .business-location-name {
    padding: 15px;
  }
}
