#manage-reviews-listing {
  padding: 30px;
}

.manage-review-item {
  border-bottom: solid 1px #eee;
  padding-bottom: 30px;
  margin-bottom: 30px;
  .row {
    margin: 0 -15px;
  }
  .col {
    padding: 0 15px;
  }
  img {
    width: 100%;
    height: auto;
    display: block;
  }
  .user-img {
    @include border-radius(10px);
    overflow: hidden;
  }
  .user-name {
    margin-top: 12px;
    a {
      font-weight: bold;
      line-height: 1.2em;
      font-size: 30px;
    }
  }
  .review-images {
    margin-bottom: 0;
  }
  .review-text {
    margin: 5px 0 15px;
  }
  .business-name {
    font-size: 23px;
    font-weight: bold;
  }
  .manage-review-btns {
    .btn {
      display: block;
      width: 100%;
    }
  }
  .details {
    margin-top: 30px;
  }
  .review-marked {
    font-size: 130%;
  }
  .review-img {
    position: relative;
    .delete-btn {
      cursor: pointer;
      color: #fff;
      background: #d9534f;
      position: absolute;
      top: 0;
      right: 10px;
      padding: 9px;
      font-size: 20px;
      line-height: 1em;
    }
  }
  .review-stars-date {
    margin: 5px 0;
    line-height: 26px;
    .info-col {
      float: left;
      padding-right: 15px;
    }
  }
}

.review-stars-wrapper {
  background: image-url('stars_map.png') left bottom;
  height: 25px;
  width: 130px;
  &.rating-4-5 { background-position: 0 50px; }
  &.rating-4-0 { background-position: 0 75px; }
  &.rating-3-5 { background-position: 0 100px; }
  &.rating-3-0 { background-position: 0 125px; }
  &.rating-2-5 { background-position: 0 150px; }
  &.rating-2-0 { background-position: 0 175px; }
  &.rating-1-5 { background-position: 0 200px; }
  &.rating-1-0 { background-position: 0 225px; }
  &.rating-0-0 { background-position: 0 250px; }
}