{% extends 'admin/base.html' %}

{% block main %}
  <div class="list-layout">
    <div class="x_panel">
      <div class="x_title">
        <h3>User list</h3>
      </div>  
      <div class="x_content">
        <div class="row">
          <div class="col-xs-12">
            <a href="{% url 'admin:user_create' %}" class="btn btn-success"><i class="fa fa-plus"></i>Add User</a>
          </div>
          <div class="col-md-12">
            <div class="x_panel">
              <div class="x_content">
                <table class="table table-hover items-list-table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Username</th>
                      <th>Email</th>
                      <th>Superuser</th>
                      <th>Staff</th>
                      <th>Active</th>
                      <th>Date joined</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in user_list %}
                      <tr class="item-row" data-href="{% url 'admin:user_update' user.id %}">
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.is_superuser|yesno:'+,' }}</td>
                        <td>{{ user.is_staff|yesno:'+,' }}</td>
                        <td>{{ user.is_active|yesno:'+,' }}</td>
                        <td>{{ user.date_joined }}</td>
                        <td>
                          <a href="{% url 'admin:user_delete' user.id %}" class="btn btn-danger btn-xs delete-row-btn">Delete</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      $('.item-row').click(function() {
        document.location = $(this).attr('data-href');
      });

      $('.delete-row-btn').click(function(event) {
        event.stopPropagation();
      })
    });
  </script>
{% endblock %}