{% extends 'core/news/news_layout.html' %}

{% block left_column %}
  <div class="column-title">
    News
  </div>

  <div class="news-block-detail">
    <div class="news-photo">
      {% if news.photo %}
        <img src="{{ news.photo.url }}">
      {% else %}
        <img src="/static/africaone/static-images/no-logo.jpg">
      {% endif %}
    </div>

    <div class="news-block">
      <div class="news-title">
        {{ news.title }}
      </div>
      <div class="news-date">
        {{ news.create_date }}
      </div>
      <div class="news-content">
        {{ news.content }}
      </div>
    </div>
  </div>

{% endblock%}