{% extends 'core/news/news_layout.html' %}

{% block left_column %}
  <div class="column-title">
    News
  </div>

  {% if news_list|length == 0%}
    <div class="empty-news-wrapper">
      No news here
    </div>
  {% endif%}

  {% for news in news_list %}
  <div class="news-block-wrapper clearfix">
    <div class="news-photo">
      {% if news.photo %}
        <img src="{{ news.photo.url }}">
      {% else %}
        <img src="/static/africaone/static-images/no-logo.jpg">
      {% endif %}
    </div>

    <div class="news-block">
      <div class="news-title">
        {{ news.title }}
      </div>
      <div class="news-date">
        {{ news.create_date }}
      </div>
      <div class="news-content">
        {{ news.content|truncatechars:280 }}
        {% if news.content|length > 277 %}
          <a href="{% url 'core:news_detail' news.id %}" class="read-more-link">Read more</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}

  {% if is_paginated %}
    <div class="pagination-block">
      {% load paginator %}
      {% paginator 2 category_filter %}
    </div>
  {% endif %}

{% endblock%}