{% extends 'admin/base.html' %}

{% block main %}
  <div class="edit-form-layout">
    <div class="x_panel">
      <div class="x_title">
        {% if object %}
            <h3>Edit Event</h3>
        {% else %}
            <h3>Create Event</h3>
        {% endif %}
      </div>

      <div class="x_content">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal form-label-left">
          {% csrf_token %}
          {% if form.errors %}
              <div class="form-errors">
              {% for field in form %}
                  {% for error in field.errors %}
                      <div class="form-error-text">
                        {% if field != '__all__' %}
                            {{ field.label }}:
                        {% endif %}
                        {{ error }}
                      </div>
                  {% endfor %}
              {% endfor %}
              </div>
          {% endif %}
          <div class="item form-group {{ form.name.errors|yesno:'bad,' }}">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Name</label>
            <div class="col-md-5 col-sm-5 col-xs-12">
              <input class="form-control" name="name" type="text" value="{{ form.name.value|default:'' }}">
            </div>
            <div class="alert">{{ form.name.errors|striptags }}</div>
          </div>

          <div class="item form-group {{ form.where.errors|yesno:'bad,' }}">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Where</label>
            <div class="col-md-5 col-sm-5 col-xs-12">
              <input class="form-control" name="where" type="text" value="{{ form.where.value|default:'' }}">
            </div>
            <div class="alert">{{ form.where.errors|striptags }}</div>
          </div>

          <div class="item form-group {{ form.description.errors|yesno:'bad,' }}">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Description</label>
            <div class="col-md-5 col-sm-5 col-xs-12">
              <textarea class="form-control" name="description" type="text">{{ form.description.value|default:'' }}</textarea>
            </div>
            <div class="alert">{{ form.description.errors|striptags }}</div>
          </div>

          <div class="item form-group {{ form.start_date.errors|yesno:'bad,' }}">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Start date</label>
            <div class="col-md-2 col-sm-4 col-xs-12">
              <input class="form-control" name="start_date" type="text" value="{{ form.start_date.value|default:'' }}">
            </div>
            <div class="alert">{{ form.start_date.errors|striptags }}</div>
          </div>

          <div class="item form-group {{ form.start_time.errors|yesno:'bad,' }}">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Start time</label>
            <div class="col-md-2 col-sm-4 col-xs-12">
              <input class="form-control" name="start_time" type="text" value="{{ form.start_time.value|default:'' }}">
            </div>
            <div class="alert">{{ form.start_time.errors|striptags }}</div>
          </div>

          <div class="item form-group {{ form.finish_date.errors|yesno:'bad,' }}">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Finish date</label>
            <div class="col-md-2 col-sm-4 col-xs-12">
              <input class="form-control" name="finish_date" type="text" value="{{ form.finish_date.value|default:'' }}">
            </div>
            <div class="alert">{{ form.finish_date.errors|striptags }}</div>
          </div>

          <div class="item form-group {{ form.finish_time.errors|yesno:'bad,' }}">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Finish time</label>
            <div class="col-md-2 col-sm-4 col-xs-12">
              <input class="form-control" name="finish_time" type="text" value="{{ form.finish_time.value|default:'' }}">
            </div>
            <div class="alert">{{ form.finish_time.errors|striptags }}</div>
          </div>

          <div class="item form-group {{ form.price.errors|yesno:'bad,' }}">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Price, UGX</label>
            <div class="col-md-2 col-sm-4 col-xs-12">
              <input class="form-control" name="price" type="text" value="{{ form.price.value|default:'' }}">
            </div>
            <div class="alert">{{ form.price.errors|striptags }}</div>
          </div>

          <div class="item form-group {{ form.categories.errors|yesno:'bad,' }}">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Event Categories</label>
            <div class="col-md-5 col-sm-5 col-xs-12">
              {{ form.categories }}
            </div>
            <div class="alert">{{ form.categories.errors|striptags }}</div>
          </div>

          <div class="item form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Event Location</label>
            <div class="col-md-5 col-sm-5 col-xs-12">
              <div id="event-location" class="map-block" data-event-location="{{ form.latitude.value|default:'0.347596' }},{{ form.longitude.value|default:'32.582520' }}"></div>
              <input type="hidden" name="latitude" value="{{ form.latitude.value|default:'0.347596' }}">
              <input type="hidden" name="longitude" value="{{ form.longitude.value|default:'32.582520' }}">
            </div>
          </div>

          <div class="item form-group one-photo-block {{ form.photo.errors|yesno:'bad,' }}">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Photo</label>
            <div class="col-md-5 col-sm-5 col-xs-12">
              <div class="x_panel">
                <div class="x_content">
                  <div class="photo-wrapper">
                    {% if form.photo.value %}
                      <img src="{{ form.photo.value.url }}">
                    {% else %}
                      <img src="">
                    {% endif %}
                  </div>

                  <div class="ln_solid"></div>
                  
                  <button type="button" class="btn btn-primary upload-photo-btn-wrapper">
                    Add photo
                    <input id="id_photo" name="photo" type="file">
                  </button>
                </div>
              </div>
            </div>
            <div class="alert">{{ form.photo.errors|striptags }}</div>
          </div>

          <div class="ln_solid"></div>

          <div class="form-group">
            <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-2">
              <button class="btn btn-primary" type="submit">
                {{ object|yesno:"Update,Create" }}
              </button>
              <a href="{% url 'admin:event_list' %}" class="btn btn-default" type="submit">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      uploadPhotoHabdler();
      chosenSelectHandler();
      loadMapScript();
    });

    function uploadPhotoHabdler() {
      $('#id_photo').on('change', function() {
        var file = $(this)[0].files[0];
        var img = $('.photo-wrapper img');
        var reader = new FileReader();

        reader.onload = (function(aImg) {
          return function(e) {
            aImg.attr('src', e.target.result);
          };
        })(img);

        reader.readAsDataURL(file);
      });
    }

    function chosenSelectHandler() {
      $("#id_categories").chosen({max_selected_options: 5});
    }

    function initializeMap() {
      var mapElm = $('#event-location');
      var mapPos = mapElm.data('event-location').split(',');
      var latLng = new google.maps.LatLng(mapPos[0], mapPos[1]);

      var map = new google.maps.Map(document.getElementById('event-location'), {
        center: latLng,
        zoom: 15,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });

      var marker = new google.maps.Marker({
        position: latLng,
        map: map
      });

      google.maps.event.addListener(map, 'click', function(event) {
        marker.setPosition(event.latLng);
        marker.setMap(map);
        $('input[name="latitude"]').val(event.latLng.lat());
        $('input[name="longitude"]').val(event.latLng.lng());
      });
    }
  </script>
{% endblock %}