
<div class="business-listing-item">
  <div class="business-details-strip clearfix">
    <div class="img col"></div>
    <div class="business-details clearfix">
      <div class="business-name-details col">
        <h3><a href="{% url 'core:business_detail' 1%}">Endiro Cafe</a></h3>
        <div class="business-reviews-stars-number">
          <div class="review-stars-wrapper">
            <div class="review-stars" data-rating="">
              <div class="review-stars-default default"></div>
              <div class="review-stars-rating rating"></div>
            </div>
          </div>
          <div class="text">134 reviews</div>
        </div>
        <div class="desc">Chicken wings, pizza, salad, the best food in town you just can’t miss.</div>
      </div>
      <div class="price-sub-categories col">
        <div class="price"><span>$$</span>$$$</div>
        <div class="sub-categories">Pizza, Coffee, Ice cream</div>
      </div>
      <div class="address-phone-website col">
        <div class="address">Plot 15A,<br/>Nakasero Road, Kampala.</div>
        <div class="phone">+256 700 000 000</div>
        <div class="website"><a href="#">www.endiro.com</a></div>
      </div>
    </div>
  </div>
  <div class="business-review clearfix">
    <div class="user-img"></div>
    <div class="user-review">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat... <a href="#" class="read-more">Read more</a></div>
  </div>
</div>
