
<div class="search-filters-wrapper filters-col">
  <h2>Search Restaurants</h2>

  <div class="filter-div reset-btn-div">
    <button type="button" class="btn reset-filters-btn">Reset filters</button>
  </div>

  <div class="filter-div search-div">
    <input class="search-textbox" type="text" placeholder="Search by name" value="">
  </div>

  <div class="filter-div features-div">
    <div class="div-title">By Features</div>
    <div class="sub-div price-div clearfix">
      <div class="div-sub-title">Price</div>
      <div class="clearfix price-cols">
        <div class="price-col price-col-1">
          <div class="filter filter-price checkbox-wrapper">
            <input type="checkbox" id="price-1" name="price[]" value="1">
            <label for="price-1"><span>$</span>$$$$</label>
          </div>
          <div class="filter filter-price checkbox-wrapper">
            <input type="checkbox" id="price-2" name="price[]" value="2">
            <label for="price-2"><span>$$</span>$$$</label>
          </div>
          <div class="filter filter-price checkbox-wrapper">
            <input type="checkbox" id="price-3" name="price[]" value="3">
            <label for="price-3"><span>$$$</span>$$</label>
          </div>
        </div>
        <div class="price-col price-col-2">
          <div class="filter filter-price checkbox-wrapper">
            <input type="checkbox" id="price-4" name="price[]" value="4">
            <label for="price-4"><span>$$$$</span>$</label>
          </div>
          <div class="filter filter-price checkbox-wrapper">
            <input type="checkbox" id="price-5" name="price[]" value="5">
            <label for="price-5"><span>$$$$$</span></label>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="filter checkbox-wrapper">
      <input type="checkbox" id="filter-credit-cards" name="credit-cards">
      <label for="filter-credit-cards">Accepts Credit Cards</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="checkbox" id="filter-smoking" name="smoking">
      <label for="filter-smoking">Allows smoking</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="checkbox" id="filter-credit-cards-1" name="credit-cards">
      <label for="filter-credit-cards-1">Accepts Credit Cards</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="checkbox" id="filter-smoking-1" name="smoking">
      <label for="filter-smoking-1">Allows smoking</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="checkbox" id="filter-credit-cards-2" name="credit-cards">
      <label for="filter-credit-cards-2">Accepts Credit Cards</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="checkbox" id="filter-smoking-2" name="smoking">
      <label for="filter-smoking-2">Allows smoking</label>
    </div>
    <div class="link-wrapper">
      <a href="javascript:;" class="link">More Features</a>
    </div> -->
  </div>

  <div class="filter-div map-div">
    <div class="div-title">By Map</div>
    <div class="checkbox-wrapper">
      <input type="checkbox" id="search-map">
      <label for="search-map">Search when I move the map</label>
    </div>
    <div class="map-title">Search location</div>
    <div class="filter-map"></div>
    <div class="link-wrapper">
      <a href="javascript:;" class="link">Use bigger map</a>
    </div>
  </div>

  <div class="filter-div sub-categories-div">
    <div class="div-title">By Sub-Category</div>
    {% for category in categories %}
      <div class="filter checkbox-wrapper {% if forloop.counter > 6%}hidden-category{% endif %}">
        <input type="checkbox" id="sub-categories-{{forloop.counter}}" name="sub-categories[]" value="{{ category.id }}">
        <label for="sub-categories-{{forloop.counter}}">"{{category}}"</label>
      </div>
    {% endfor %}
    {% if categories|length > 6%}
      <div class="link-wrapper">
        <div class="view-all-link view-all-subcategories">View all sub-categories</div>
      </div>
    {% endif %}
  </div>

  <div class="filter-div sub-categories-div">
    <div class="div-title">By Reviews</div>
    <div class="filter filter-ratings filter-ratings-1 checkbox-wrapper">
      <input type="radio" id="filter-ratings-1" name="ratings" value="1">
      <label for="filter-ratings-1"></label>
    </div>
    <div class="filter filter-ratings filter-ratings-2 checkbox-wrapper">
      <input type="radio" id="filter-ratings-2" name="ratings" value="2">
      <label for="filter-ratings-2"></label>
    </div>
    <div class="filter filter-ratings filter-ratings-3 checkbox-wrapper">
      <input type="radio" id="filter-ratings-3" name="ratings" value="3">
      <label for="filter-ratings-3"></label>
    </div>
    <div class="filter filter-ratings filter-ratings-4 checkbox-wrapper">
      <input type="radio" id="filter-ratings-4" name="ratings" value="4">
      <label for="filter-ratings-4"></label>
    </div>
    <div class="filter filter-ratings filter-ratings-5 checkbox-wrapper">
      <input type="radio" id="filter-ratings-5" name="ratings" value="5">
      <label for="filter-ratings-5"></label>
    </div>
  </div>

</div>
