
<div class="category-landing-page-banner clearfix">

  <div class="business-col business-col-1">
    <a class="business" href="#"
         style="background-image: url('/static/africaone/content-images/patiserrie-medium.jpg');">
      <span class="info">
        <span class="name">La Patiserrie</span>
        <span class="business-reviews-stars-number">
          <span class="review-stars-wrapper">
            <span class="review-stars" data-rating="None">
              <span class="review-stars-default default"></span>
              <span class="review-stars-rating rating"></span>
            </span>
          </span>
          <span class="text">10,000 reviews</span>
        </span>
      </span>
    </a>
  </div>

  <div class="business-col business-col-2">
    <a class="business" href="#"
         style="background-image: url('/static/africaone/content-images/patiserrie-medium.jpg');">
      <span class="info">
        <span class="name">La Patiserrie</span>
        <span class="business-reviews-stars-number">
          <span class="review-stars-wrapper">
            <span class="review-stars" data-rating="None">
              <span class="review-stars-default default"></span>
              <span class="review-stars-rating rating"></span>
            </span>
          </span>
          <span class="text">10,000 reviews</span>
        </span>
      </span>
    </a>
  </div>

  <div class="business-col-3 business-col">
    <a class="business business-3-1" href="#"
         style="background-image: url('/static/africaone/content-images/patiserrie-medium.jpg');">
      <span class="info">
        <span class="name">La Patiserrie</span>
        <span class="business-reviews-stars-number">
          <span class="review-stars-wrapper">
            <span class="review-stars" data-rating="None">
              <span class="review-stars-default default"></span>
              <span class="review-stars-rating rating"></span>
            </span>
          </span>
          <span class="text">10,000 reviews</span>
        </span>
      </span>
    </a>
    <a class="business business-3-2" href="#"
         style="background-image: url('/static/africaone/content-images/patiserrie-medium.jpg');">
      <span class="info">
        <span class="name">La Patiserrie</span>
        <span class="business-reviews-stars-number">
          <span class="review-stars-wrapper">
            <span class="review-stars" data-rating="None">
              <span class="review-stars-default default"></span>
              <span class="review-stars-rating rating"></span>
            </span>
          </span>
          <span class="text">10,000 reviews</span>
        </span>
      </span>
    </a>
  </div>

</div>
