{% extends 'core/base.html' %}
{% load i18n %}

{% block main %}
  <div class="category-landing-page-wrapper">
    <div class="blue-header-bg"></div>
    <div class="page-container container">

      <div class="filter-businesses-wrapper clearfix">

        {% include 'core/business-category/filters.html' %}

        <div class="filter-content-col">
          <div class="category-landing-page-content">

            <div class="businesses-listing-wrapper">
              <h1>Businesses in Kampala</h1>
              <div class="sort-links-wrapper">
                <div class="sort-tab tab-caption">Sort by:</div>
                <div class="sort-tab tab-with-link">
                  <div class="tab-link">Price (low to high)</div>
                  <div class="tab-link">Price (high to low)</div>
                </div>
                <div class="sort-tab tab-with-link">
                  <div class="tab-link">Highest rated</div>
                </div>
                <div class="sort-tab tab-with-link">
                  <div class="tab-link">Most reviewed</div>
                </div>
                <div class="sort-tab">
                </div>
              </div>

              <div class="items-wrapper">
              </div>
              {% for business in business_list %}
                {% include 'core/business-category/business-listing-item.html' %}
              {% endfor %}

              {% if is_paginated %}
                <div class="pagination-block">
                  {% load paginator %}
                  {% paginator 2 %}
                </div>
              {% endif %}
            </div>
<!-- 
            <div class="landing-strip sub-categories-strip">
              <h2>Restaurant Categories</h2>
              <div class="sub-categories-wrapper clearfix">
                <ul class="list-unstyled sub-categories-list">
                  <li><a href="#">Italian</a></li>
                  <li><a href="#">French</a></li>
                  <li><a href="#">Mediterrannean</a></li>
                  <li><a href="#">Italian</a></li>
                  <li><a href="#">Greek</a></li>
                  <li><a href="#">Eastern</a></li>
                </ul>
                <ul class="list-unstyled sub-categories-list">
                  <li><a href="#">Italian</a></li>
                  <li><a href="#">French</a></li>
                  <li><a href="#">Mediterrannean</a></li>
                  <li><a href="#">Italian</a></li>
                  <li><a href="#">Greek</a></li>
                  <li><a href="#">Eastern</a></li>
                </ul>
                <ul class="list-unstyled sub-categories-list">
                  <li><a href="#">Italian</a></li>
                  <li><a href="#">French</a></li>
                  <li><a href="#">Mediterrannean</a></li>
                  <li><a href="#">Italian</a></li>
                  <li><a href="#">Greek</a></li>
                  <li><a href="#">Eastern</a></li>
                </ul>
                <ul class="list-unstyled sub-categories-list">
                  <li><a href="#">Italian</a></li>
                  <li><a href="#">French</a></li>
                  <li><a href="#">Mediterrannean</a></li>
                  <li><a href="#">Italian</a></li>
                  <li><a href="#">Greek</a></li>
                  <li><a href="#">Eastern</a></li>
                </ul>
              </div>
            </div>
 -->
          </div>
        </div>

      </div>

    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      initLinksToAll();
      loadBusinessItems();
    });

    function initLinksToAll() {
      $('.view-all-subcategories').click(function() {
        $('.checkbox-wrapper', $('.sub-categories-div')).removeClass('hidden-category');
      });
    }

    function loadBusinessItems() {

    }
  </script>
{% endblock%}