{% extends 'core/base.html' %}
{% load i18n %}

{% block main %}

  <div class="static-info-page-wrapper about-page-wrapper">
    <div class="blue-header-bg"></div>
    <div class="container static-info-container">
      <div class="clearfix cols-wrapper">
        <div class="left-col nav-col">
          <ul class="list-unstyled static-info-nav">
            <li class="menu-item"><a href="/about-africaone" class="menu-link active">About AfricaOne</a></li>
            <li class="menu-item"><a href="/terms-conditions" class="menu-link">Terms &amp; Conditions</a></li>
            <li class="menu-item"><a href="/privacy-policy" class="menu-link">Privacy Policy</a></li>
            <li class="menu-item"><a href="/advertising" class="menu-link">Advertising</a></li>
          </ul>
        </div>
        <div class="right-col content-col">
          <h1 class="static-info-h1">About AfricaOne</h1>
          <div class="content-wrapper">
            <div class="img">
              <img src="/static/africaone/static-images/about-africaone.jpg" alt="About AfricaOne" width="969" height="386" />
            </div>
            <div class="text">
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
              <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
              <p>Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}