
.business-photos-content {
  margin-top: 10px;
  .dropzone {
    padding: 25px 30px;
    .dz-message {
      margin: 0;
      padding-top: 40px;
    }
    .dz-preview {
      .dz-error-message {
        top: 147px;
      }
    }
  }
  .business-img-preview {
    display: none;
    border: solid 1px #ccc;
    min-height: 150px;
    position: relative;
    img {
      display: block;
      margin: 0 auto;
      height: 150px; width: auto;
    }
    .view p {
      padding-top: 40px;
    }
  }
  .upload-business-photos {
    border: 1px solid #ccc;
    background: #eee;
    min-height: 150px;
    position: relative;
    cursor: pointer;
    .msg {
      position: absolute;
      width: 100%;
      top: 50%;
      @include translateY(-50%);
      font-style: italic;
      text-align: center;
    }
  }
  .with-img {
    .dropzone {
      display: none;
    }
    .business-img-preview {
      display: block;
    }
  }
  .thumbnail {
    min-height: 190px;
    height: auto;
  }
  .business-photos-list {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    .caption {
      textarea {
        line-height: 1.5em;
        font-size: 13px;
      }
      .caption-form-info {
        font-style: italic;
        margin-top: 6px;
        &.error {
          color: #f00;
          margin-top: 6px;
          font-weight: bold;
          font-style: italic;
          display: none;
        }
      }
    }
  }
  .show-loading {
    position: relative;
    .loading {
      display: block;
      background-color: #000;
    }
  }
}
