.news-list-page,
.news-categories-list-page,
.event-categories-list-block {
  h3 {
    color: #73879c;
  }

  .items-list-table {
    tbody tr {
      cursor: pointer;
    }
  }

  .fa-plus {
    padding-right: 10px;
  }
}

.news-form-page {
  h3, label {
    color: #73879c;
  }

  .news-photo {
    .photo-wrapper {
      height: 300px;
      text-align: center;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }

    &.bad {
      .x_panel {
        border-color: #ce5454;
      }
    }
  }

  #text-editor {
    border: 1px solid #e6e9ed;
    overflow: scroll;
    height: 400px;
    padding: 20px;
  }

  .btn-toolbar.editor {
    margin: 5px 0;
  }

  .upload-photo-wrapper {
    position: relative;
    overflow: hidden;

    input {
      display: block;
      position: absolute;
      right: 0;
      top: -1px;
      font-size: 24px;
      cursor: pointer;
      opacity: 0;
    }
  }
}