{% extends 'core/base.html' %}
{% load i18n %}

{% block main %}

  <div class="user-profile-page-wrapper blue-header-h1-top">

    <div class="blue-header-bg"></div>

    <div class="container page-container">

      <div class="full-page-content-wrapper">

        <div class="user-intro-strip clearfix">
          <div class="col user-pic-name-wrapper"><div class="user-pic-name">
            <div class="user-img-col"><div class="user-img">
              {% if customer.photo %}
                <img src="{{customer.photo.url}}" height="200" width="200"/>
              {% endif %}
            </div></div>
            <div class="user-details">
              <h2>{{customer.user.first_name}} {{customer.user.last_name}}</h2>
              <div class="location-date">
                <div class="location">Kampala</div>
                <div class="date">On Africaone since {{customer.user.date_joined}}</div>
              </div>
              <ul class="user-info">
                <li>45 friends</li>
                <li>{% rating_by_user customer.user on customer.review.rating as vote %} reviews</li>
                <li>12 photos</li>
                <li>8 followers</li>
              </ul>
              <div class="follow-btn-wrapper"><a href="#" class="btn">Follow this user</a></div>
            </div>
          </div></div>
          <div class="col things-love">
            <div class="title">Things I love.</div>
            <div class="things-list">Ice cream, Nature, Cars, Indian food, Chinese food, Rugby, chocolate, cheesecake,
              cake, music, bands, dancing, fashion, clothes, Ice cream, Nature, Cars, Indian food, Chinese food, Rugby,
              chocolate, cheesecake, cake, music, bands, dancing, fashion, clothes
            </div>
          </div>
        </div>

        <div class="user-reviews-list-wrapper">

          <h2 class="user-reviews-title">{{customer.user.first_name}}&rsquo;s Reviews</h2>

          {% for review in customer.review_set.all %}

            {% include 'core/reviews/user-page-review.html' %}

          {% endfor %}

          <ul class="pager pager-listing-businesses">
            <li class="first"><a href="#">&lt;&lt;</a></li>
            <li class="prev"><a href="#">&lt;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li class="active"><a href="#">4</a></li>
            <li class="spacer">........</li>
            <li><a href="#">10</a></li>
            <li class="next"><a href="#">&gt;</a></li>
            <li class="last"><a href="#">&gt;&gt;</a></li>
          </ul>

        </div>

      </div>

    </div>

  </div>

{% endblock %}
