{% extends 'core/base.html' %}
{% load ratings %}
{% load i18n %}

{% block main %}

  <div class="user-profile-page-wrapper blue-header-h1-top">

    <div class="blue-header-bg"></div>

    <div class="container page-container">

      <div class="full-page-content-wrapper">

        <div class="user-intro-strip clearfix">
          <div class="col user-pic-name-wrapper"><div class="user-pic-name">
            <div class="user-img-col"><div class="user-img">
              <img src="/static/africaone/content-images/patiserrie-medium.jpg" />
            </div></div>
            <div class="user-details">
              <h2>Martha Mukkaa</h2>
              <div class="location-date">
                <div class="location">Kampala</div>
                <div class="date">Joined AfricaOne on 09 Nov 2022</div>
              </div>
              <ul class="user-info list-inline list-unstyled">
                <li>45 friends</li>
                <li>9 reviews</li>
                <li>12 photos</li>
                <li>8 followers</li>
              </ul>
              <div class="follow-btn-wrapper"><a href="#" class="btn">Follow this user</a></div>
            </div>
          </div></div>
          <div class="col things-love">
            <div class="title">Things I love.</div>
            <div class="things-list">Ice cream, Nature, Cars, Indian food, Chinese food, Rugby, chocolate, cheesecake,
              cake, music, bands, dancing, fashion, clothes, Ice cream, Nature, Cars, Indian food, Chinese food, Rugby,
              chocolate, cheesecake, cake, music, bands, dancing, fashion, clothes
            </div>
          </div>
        </div>

        <div class="user-reviews-list-wrapper">

          <h2 class="user-reviews-title">Martha&rsquo;s Reviews</h2>

          <div class="user-review-wrapper businesss-review-item clearfix">
            <div class="review-details-wrapper">
              <div class="review-details clearfix">
                <div class="business-img-name">
                  <div class="img">
                    <img src="/static/africaone/content-images/patiserrie-medium.jpg" />
                  </div>
                  <h2><a href="#">Endiro Cafe</a></h2>
                  <div class="sub-categories">
                    <a href="#">Category name</a>, <a href="#">Category name</a>, <a href="#">Category name</a>
                  </div>
                  <div class="business-reviews-stars-number">
                    <div class="review-stars-wrapper">
                      <div class="review-stars" data-rating="">
                        <div class="review-stars-default default"></div>
                        <div class="review-stars-rating rating"></div>
                      </div>
                    </div>
                    <div class="text">134 reviews</div>
                  </div>
                  <div class="address">Plot 15A,<br/>Nakasero Road,<br/>Kampala, Uganda.</div>
                  <div class="phone">+256 700 000 000</div>
                </div>
                <div class="review-body-wrapper">
                  <div class="business-reviews-stars-number user-business-review">
                    <div class="review-stars-wrapper">
                      <div class="review-stars" data-rating="">
                        <div class="review-stars-default default"></div>
                        <div class="review-stars-rating rating"></div>
                      </div>
                    </div>
                    <div class="text">4 out of 5 stars</div>
                  </div>
                  <div class="title-wrapper">
                    <h2 class="review-title">Excellent service, best in town</h2>
                    <div class="review-date">Written on 24 Nov 1999 by Martha Mukkaa</div>
                  </div>
                  <div class="review-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div>

                  <div class="review-images-wrapper">
                    <ul class="review-images-list clearfix list-unstyled">
                      <li><img src="/static/africaone/content-images/endiro.jpg" /></li>
                      <li><img src="/static/africaone/content-images/javas.jpg" /></li>
                      <li><img src="/static/africaone/content-images/patiserrie-medium.jpg" /></li>
                    </ul>
                  </div>

                  <div class="review-feedback clearfix">
                    <label>Was this review?</label>
                    <a class="btn btn-feedback btn-helpful grey-btn">Helpful</a>
                    <a class="btn btn-feedback btn-funny grey-btn">Funny</a>
                    <a class="btn btn-feedback btn-cool grey-btn">Cool</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col share-review-col">
              <h2>Share review</h2>
              <div class="share-links">
                <div class="link fb-link">
                  <a href="#" class="fb social-btn">
                    <span class="icon"></span>
                    <span class="txt">Share on Facebook</span>
                  </a>
                </div>
                <div class="link twitter-link">
                  <a href="#" class="twitter social-btn">
                    <span class="icon"></span>
                    <span class="txt">Share on Twitter</span>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="user-review-wrapper businesss-review-item clearfix">
            <div class="review-details-wrapper">
              <div class="review-details clearfix">
                <div class="business-img-name">
                  <div class="img">
                    <img src="/static/africaone/content-images/patiserrie-medium.jpg" />
                  </div>
                  <h2><a href="#">Endiro Cafe</a></h2>
                  <div class="sub-categories">
                    <a href="#">Category name</a>, <a href="#">Category name</a>, <a href="#">Category name</a>
                  </div>
                  <div class="business-reviews-stars-number">
                    <div class="review-stars-wrapper">
                      <div class="review-stars" data-rating="">
                        <div class="review-stars-default default"></div>
                        <div class="review-stars-rating rating"></div>
                      </div>
                    </div>
                    <div class="text">134 reviews</div>
                  </div>
                  <div class="address">Plot 15A,<br/>Nakasero Road,<br/>Kampala, Uganda.</div>
                  <div class="phone">+256 700 000 000</div>
                </div>
                <div class="review-body-wrapper">
                  <div class="business-reviews-stars-number user-business-review">
                    <div class="review-stars-wrapper">
                      <div class="review-stars" data-rating="">
                        <div class="review-stars-default default"></div>
                        <div class="review-stars-rating rating"></div>
                      </div>
                    </div>
                    <div class="text">4 out of 5 stars</div>
                  </div>
                  <div class="title-wrapper">
                    <h2 class="review-title">Excellent service, best in town</h2>
                    <div class="review-date">Written on 24 Nov 1999 by Martha Mukkaa</div>
                  </div>
                  <div class="review-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div>

                  <div class="review-images-wrapper">
                    <ul class="review-images-list clearfix list-unstyled">
                      <li><img src="/static/africaone/content-images/endiro.jpg" /></li>
                      <li><img src="/static/africaone/content-images/javas.jpg" /></li>
                      <li><img src="/static/africaone/content-images/patiserrie-medium.jpg" /></li>
                    </ul>
                  </div>

                  <div class="review-feedback clearfix">
                    <label>Was this review?</label>
                    <a class="btn btn-feedback btn-helpful grey-btn">Helpful</a>
                    <a class="btn btn-feedback btn-funny grey-btn">Funny</a>
                    <a class="btn btn-feedback btn-cool grey-btn">Cool</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col share-review-col">
              <h2>Share review</h2>
              <div class="share-links">
                <div class="link fb-link">
                  <a href="#" class="fb social-btn">
                    <span class="icon"></span>
                    <span class="txt">Share on Facebook</span>
                  </a>
                </div>
                <div class="link twitter-link">
                  <a href="#" class="twitter social-btn">
                    <span class="icon"></span>
                    <span class="txt">Share on Twitter</span>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <ul class="pager pager-listing-businesses">
            <li class="first"><a href="#">&lt;&lt;</a></li>
            <li class="prev"><a href="#">&lt;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li class="active"><a href="#">4</a></li>
            <li class="spacer">........</li>
            <li><a href="#">10</a></li>
            <li class="next"><a href="#">&gt;</a></li>
            <li class="last"><a href="#">&gt;&gt;</a></li>
          </ul>

        </div>

      </div>

    </div>

  </div>

{% endblock %}
