.filter-businesses-wrapper,
.filter-content-wrapper {
  background: #414647;
}

.filters-col {
  width: 275px;
  float: left;
  color: #fff;
  h2 {
    background: #636667;
    padding: 28px;
    font-weight: bold;
    @include ems_font_size(20px, 13px);
  }
  .filter-div {
    padding: 30px;
    border-bottom: solid 1px #323434;
  }
  .reset-filters-btn {
    line-height: 36px;
    background: #f5f5f5;
    color: #83898b;
    max-width: 145px;
  }
  .search-textbox {
    width: 100%;
    background: #636667;
    color: #fff;
    height: 35px;
    line-height: 35px;
    border: none;
    padding: 0 18px;
  }
  .div-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .div-sub-title {
    color: #d0d0d0;
    margin-bottom: 10px;
  }
  .filter {
    margin: 0 0 10px;
  }
  .link {
    text-transform: uppercase;
    margin: 20px 0 0;
    display: block;
    color: #00c0ff;
  }
  .map-title {
    line-height: 34px;
    background: #636667;
    padding: 0 22px;
    margin: 10px 0 0;
  }
  .filter-map {
    background: #000;
    height: 190px;
  }
  .price-col {
    float: left;
    width: 50%;
  }
  .filter-price {
    color: #858585;
    span {
      color: #fff;
    }
  }
  .filter-ratings {
    label {
      background: image-url('filter-stars.png') no-repeat 0 -60px;
      height: 12px; width: 86px;
      display: inline-block;
    }
      &.filter-ratings-2 {
        label {
          background-position: 0 -72px;
        }
      }
      &.filter-ratings-3 {
        label {
          background-position: 0 -84px;
        }
      }
      &.filter-ratings-4 {
        label {
          background-position: 0 -96px;
        }
      }
      &.filter-ratings-5 {
        label {
          background-position: 0 -108px;
        }
      }
    &.active,
    &.checked,
    &:hover {
      label {
        background-position: 0 0;
      }
        &.filter-ratings-2 {
          label {
            background-position: 0 -12px;
          }
        }
        &.filter-ratings-3 {
          label {
            background-position: 0 -24px;
          }
        }
        &.filter-ratings-4 {
          label {
            background-position: 0 -36px;
          }
        }
        &.filter-ratings-5 {
          label {
            background-position: 0 -48px;
          }
        }
    }
  }
}

.filter-content-col {
  background: #fff;
  margin-left: 275px;
  min-height: 1650px;
  h2 {
    text-transform: uppercase;
    background: #f8f8f8;
    padding: 30px 40px;
  }
  .events-landing-page-wrapper & {
    min-height: 1015px;
  }
}
