
.header-strip-1 {
  background: #fff;
  .container {
    position: relative;
    padding: 30px 0;
  }
}

.logo-link {
  display: block;
  background: sprite($global-sprite, 'logo-header-blue');
  @include sprite-dimensions($global-sprite, 'logo-header-blue');
  position: absolute;
  left: 15px; top: 50%;
  @include translateY(-50%);
}

.header-login-links {
  position: absolute;
  right: 15px; top: 50%;
  width: 190px;
  margin: 0 -2px;
  @include translateY(-50%);
  .btn-col {
    float: left;
    width: 50%;
    padding: 0 2px;
  }
  .btn {
    line-height: 35px;
  }
}

.find-companies-form {
  margin: 0 auto;
  width: 715px;
  .form-wrapper {
    margin: 0 -1px;
  }
  .item-wrapper {
    background: #fff;
    overflow: hidden;
    line-height: 33px;
    position: relative;
    padding: 0 0 0 60px;
    height: 35px;
    border: solid 1px #c4c4c4;
    &:hover,
    &.active {
      border-color: $green;
    }
  }
  label {
    position: absolute;
    left: 0; top: 0;
    color: #85898a;
    width: 60px;
    display: block;
    padding: 0 0 0 10px;
  }
  .form-text {
    display: block;
    width: 100%;
    height: 31px;
    border: none;
    outline: none;
    padding: 0 30px 0 0;
    color: #85898a;
    font-size: 13px;
  }
  .form-item {
    float: left;
    width: 47%;
    padding: 0 1px;
  }
  .form-actions {
    width: 6%;
    .item-wrapper {
      padding: 0;
    }
    .form-submit {
      border: none;
      text-transform: uppercase;
      background: transparent;
      width: 100%;
      height: 35px;
      text-align: center;
      color: #85898a;
    }
  }
}

.header-menu-strip {
  position: absolute;
  left: 0; right: 0; bottom: -45px;
  background: rgba(0,0,0,.5);
  border-top: solid 1px rgba(0,0,0,.8);
}

.main-menu {
  line-height: 45px;
  li {
    float: left;
    height: 45px;
    width: 14.2%;
    border-right: solid 1px rgba(0,0,0,.8);
    &.first {
      width: 14.8%;
      border-left: solid 1px rgba(0,0,0,.8);
    }
  }
  .parent-a {
    display: block;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    &:hover {
      background-color: $green;
    }
  }
  .connect-li {
    padding: 11px 0 0 20px;
    line-height: 22px;
    a, span {
      display: block;
    }
    .connect, a {
      float: left;
      color: #fff;
    }
  }
  .social-link {
    background: sprite($global-sprite, 'header-social-fb-white');
    margin-left: 15px;
    span {
      @include opacity(0);
      @include transition(opacity .3s ease-in);
      background: sprite($global-sprite, 'header-social-fb-blue');
      @include sprite-dimensions($global-sprite, 'header-social-fb-blue');
    }
    &.twitter {
      background-position: sprite-position($global-sprite, 'header-social-twitter-white');
      span {
        background-position: sprite-position($global-sprite, 'header-social-twitter-blue');
      }
    }
    &:hover {
      span {
        @include opacity(1);
      }
    }
  }
}
