{% extends 'core/base.html' %}
{% load i18n %}

{% block main %}

  <div class="forgot-password-page-wrapper user-auth-page-wrapper">
    <div class="blue-header-bg"></div>
    <div class="forgot-password-container container user-auth-container">
     {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        {% endif %}
    </ul> 
      <h1>Forgot Password?</h1>
      <div class="forgot-password-page user-auth-page">
        <div class="page-desc">Please enter your email address and we will send you instructions on how to reset your password.</div>
	<form class="user-auth-form infield-labels" action="{% url 'core:reset_password' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-inner-wrapper">
            <div class="user-name-wrapper label-wrapper">
              <label for="email">Email <span class="required">*</span></label>
              <input id="email" name="email" type="email" placeholder="Email*" />
            </div>
          </div>
          <div class="submit-btn-wrapper">
            <input type="submit" class="submit-btn" value="Reset Password" />
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
