.category-landing-page-wrapper {
  .page-container {
    margin-top: -80px;
  }
  h1 {
    text-transform: uppercase;
    padding: 22px 45px 15px;
    height: 80px;
    background: #f8f8f8;
  }
}

.category-landing-page-banner {
  margin-bottom: 30px;
  background: #414647;
  padding: 25px;
  color: #fff;
  .business {
    height: 375px;
    background: no-repeat center top;
    background-size: cover;
    position: relative;
    &, span {
      display: block;
    }
    .info {
      position: absolute;
      left: 0; right: 0; bottom: 0;
      background: #000;
      background: rgba(0,0,0,.55);
      padding: 25px;
    }
    .name {
      color: #fff;
      margin-bottom: 15px;
      font-weight: bold;
      text-transform: uppercase;
      @include ems_font_size(20px, $font-size-base);
    }
    .business-reviews-stars-number {
      .text {
        color: #fff;
      }
    }
  }
  .business-col {
    float: left;
  }
  .business-col-1 {
    width: 50%;
  }
  .business-col-2 {
    width: 25%;
    padding: 0 5px;
    .business {
      .name {
        @include ems_font_size(17px, $font-size-base);
      }
    }
  }
  .business-col-3 {
    width: 25%;
    .business {
      height: 185px;
      .info {
        padding-top: 15px;
        padding-bottom: 15px;
      }
      .name {
        margin-bottom: 8px;
        @include ems_font_size(15px, $font-size-base);
      }
    }
    .business-3-2 {
      margin-top: 5px;
    }
  }
}

.category-landing-page-content {
  .photos-col {
    float: right;
    width: 353px;
    h2 {
      border-left: solid 3px #f1f1f1;
      padding-left: 35px;
      padding-right: 30px;
    }
    .btn {
      text-transform: uppercase;
      margin: 0 30px 0 35px;
    }
  }
  .reviews-col {
    float: left;
    width: 100%;
    margin-right: -353px;
  }
  .reviews-col-inner {
    margin-right: 353px;
  }
  .recent-photos-list {
    padding: 35px 30px 0 35px;
    li {
      margin-bottom: 3px;
      background-color: #000;
    }
    img {
      display: block;
      width: 100%; height: auto;
    }
  }
  .reviews-wrapper {
    padding: 35px 100px 35px 40px;
    .top-business-item {
      border-top: none;
      border-bottom: solid 1px #f1f1f1;
      &.last-item {
        border-bottom: none;
      }
    }
  }
  .new-businesses-strip {
    border-top: solid 3px #f1f1f1;
    border-bottom: solid 3px #f1f1f1;
    overflow: hidden;
    .h2-btn {
      padding: 25px 30px 25px 0;
      background: #f8f8f8;
      overflow: hidden;
      .h2-wrapper {
        float: left;
        width: 100%;
        margin-right: -353px;
      }
      h2 {
        margin-right: 353px;
        padding-top: 6px;
        padding-bottom: 0;
      }
      .btn {
        float: right;
        width: 288px;
      }
    }
    .new-businesses {
      background: #f1f1f1;
      padding: 4px 0;
      margin: 0 -2px;
      li {
        float: left;
        width: 33.3%;
        padding: 0 2px;
      }
      .new-business {
        background: #fff;
        &,span,img {
          display: block;
        }
        img {
          display: block;
          width: 100%;
          height: auto;
          position: relative;
          z-index: 5;
          &.img-bw {
            z-index: 10;
            position: absolute;
            left: 0; top: 0;
            @include opacity(0);
            @include transition(all .3s ease-in);
          }
        }
        .img {
          position: relative;
        }
        .info {
          padding: 30px 30px 40px 40px;
        }
        .name {
          @include ems_font_size(17px, $font-size-base);
          color: #333;
          margin-bottom: 10px;
          font-weight: bold;
        }
        &:hover {
          img.img-bw {
            @include opacity(1);
          }
        }
      }
    }
  }
  .sub-categories-wrapper {
    padding: 40px 40px 20px 40px;
    .sub-categories-list {
      float: left;
      width: 25%;
      padding-right: 10px;
      li {
        margin-bottom: 20px;
      }
    }
  }
}
