{% extends 'base.html' %}

{% block body %}
    {% block header %}
    <div class="pos-relative">
        <div class="header-container lp-header-bg">
            {% include 'listing/header.html' %}
            {% include 'dynamic_invoice.html' %}
            {% include 'signin_signup.html' %}
            {% include 'pricing_plan.html' %}
            <div class="page-heading listing-page">
                <div class="page-heading-inner-container text-center">
                    <h1>About Us</h1>
                    <ul class="breadcrumbs">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><span>About Us</span></li>
                    </ul>
                </div>
                <div class="page-header-overlay"></div>
            </div>
            </div>
    </div>
    {% endblock header %}
    {% block content %}
        <section>
            <div  id="lp_599daf2571d76" class="lp-section-row">
            <div class="lp_section_inner  clearfix"  style="background-color: #eff3f6;"><div class="container"><div class="row lp-section-content clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"> <div class="about-box-container">	<div class="lp-section-content-container clearfix"><div class="col-md-3 col-sm-6 about-box text-center">
                            <div class="about-box-inner lp-border-radius-5 lp-border">
                                <div class="about-box-slide">
                                    <div class="about-box-icon">
                                        <!-- Inspection icon by Icons8 -->
                                        <i class="fa fa-adjust"></i>
                                    </div>
                                    <div class="about-box-title clearfix">
                                        <h4>PLANNING</h4>
                                    </div>
                                    <div class="about-box-description">
                                        <p class="paragraph-small">
                                            Sed ut perspiciatis unde omnis iste natus error sit v oluptatem accusantium or sit v oluptatem accusantiumor sit v oluptatem
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="col-md-3 col-sm-6 about-box text-center">
                            <div class="about-box-inner lp-border-radius-5 lp-border">
                                <div class="about-box-slide">
                                    <div class="about-box-icon">
                                        <!-- Inspection icon by Icons8 -->
                                        <i class="fa fa-rocket"></i>
                                    </div>
                                    <div class="about-box-title clearfix">
                                        <h4>PASSION</h4>
                                    </div>
                                    <div class="about-box-description">
                                        <p class="paragraph-small">
                                            Sed ut perspiciatis unde omnis iste natus error sit v oluptatem accusantium or sit v oluptatem accusantiumor sit v oluptatem
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="col-md-3 col-sm-6 about-box text-center">
                            <div class="about-box-inner lp-border-radius-5 lp-border">
                                <div class="about-box-slide">
                                    <div class="about-box-icon">
                                        <!-- Inspection icon by Icons8 -->
                                        <i class="fa fa-heart"></i>
                                    </div>
                                    <div class="about-box-title clearfix">
                                        <h4>CARING</h4>
                                    </div>
                                    <div class="about-box-description">
                                        <p class="paragraph-small">
                                            Sed ut perspiciatis unde omnis iste natus error sit v oluptatem accusantium or sit v oluptatem accusantiumor sit v oluptatem
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="col-md-3 col-sm-6 about-box text-center">
                            <div class="about-box-inner lp-border-radius-5 lp-border">
                                <div class="about-box-slide">
                                    <div class="about-box-icon">
                                        <!-- Inspection icon by Icons8 -->
                                        <i class="fa fa-support"></i>
                                    </div>
                                    <div class="about-box-title clearfix">
                                        <h4>SUPPORTIVE</h4>
                                    </div>
                                    <div class="about-box-description">
                                        <p class="paragraph-small">
                                            Sed ut perspiciatis unde omnis iste natus error sit v oluptatem accusantium or sit v oluptatem accusantiumor sit v oluptatem
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>	</div></div></div></div></div></div></div>
            </div>
        </div>
        <div  id="lp_599daf257293f" class="lp-section-row">
            <div class="lp_section_inner  clearfix container" ><div class="row lp-section-content clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="lp-section-content-container clearfix">	<div class="col-md-6">
                            <div class="">
                                <div class="lp-about-section-best-header">
                                    <h3 class="margin-top-0"></h3>
                                    <p></p>
                                </div>
                                <div class="lp-about-section-best-description margin-top-45">
                                    <p class="paragraph-small">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa ntium dolore mque laud antium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi natus error sit olore mque laud anti arc hitecto beatae vitae dicta sunt explicabo mque laud anti arc hitecto beatae vitae dicta sunt explicabo mque laud anti arc hitecto beatae vitae dicta sunt explicabo.
                                    </p>
                                        <ul class="nearby-download nearby-download-about nearby-download-top">
                                            <li>
                                                <a href="#">
                                                    <img src="">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="">
                                                </a>
                                            </li>
                                        </ul>
                                </div>
                            </div><!-- ../section-content-container-->
                        </div>
                        <div class="col-md-6">
                            <div class="">
                                <img src="">
                            </div><!-- ../section-content-container-->
                        </div></div></div></div></div></div>
            </div>
        </div>
        <div  id="lp_599daf257379e" class="lp-section-row">
            <div class="lp_section_inner  clearfix"  style="background-color: #eff3f6;"><div class="container"><div class="row lp-section-content clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="about-gallery  lp-section-content-container popup-gallery clearfix">	<div class="col-md-5 col-sm-5 about-gallery-box">
                                <a href="" class="image-popup">
                                    <img src="">
                                </a>
                            </div>	<div class="col-md-4 col-sm-4 about-gallery-box">
                                <a href="" class="image-popup">
                                    <img src="">
                                </a>
                            </div>	<div class="col-md-3 col-sm-3 about-gallery-box">
                                <a href="" class="image-popup">
                                    <img src="">
                                </a>
                            </div></div></div></div></div></div></div>
            </div>
        </div>
        </section>
    {% endblock content %}

    {% block footer %}
        {% include 'footer.html' %}
    {% endblock footer %}

{% endblock body%}