{% load static %}
<meta charset="UTF-8">
<!-- Mobile Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link rel="shortcut icon" href="{% static 'logo/africa_logo.png' %}"/>
<link rel='dns-prefetch' href='//maps.googleapis.com' />
<link rel='dns-prefetch' href='//html5shim.googlecode.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="Africa One &raquo; Feed" href="/feed/index.html" />
<link rel="alternate" type="application/rss+xml" title="Africa One &raquo; Comments Feed" href="/comments/feed/index.html" />


<link rel='https://api.w.org/' href='./wp-json/index.html' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="./xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="{% static 'includes/wlwmanifest.xml' %}" />

<link rel="canonical" href="/index.html" />
<link rel='shortlink' href='/index.html' />
<link rel="alternate" type="application/json+oembed" href="./wp-json/oembed/1.0/embed/index.html?url=http%3A%2F%2F%2F" />
<link rel="alternate" type="text/xml+oembed" href="./wp-json/oembed/1.0/embed/index.html?url=http%3A%2F%2F%2F&#038;format=xml" />
