{% load static %}
<div class="lp-home-banner-contianer lp-home-banner-with-loc">
        <div class="lp-home-banner-contianer-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center lp_auto_loc_container">

                        <h1 data-locnmethod="withip">Explore <span class="lp-dyn-city">Your city</span></h1>
                        <p class="lp-banner-browse-txt">Let's uncover the best places to eat, drink, and shop nearest to you.</p>
                    </div>
                    <div class="col-md-8 col-xs-12 col-md-offset-2 col-sm-offset-0">
                        {% include 'search_body.html' %}

                        </div>
                        <div class="text-center lp-search-description">
                            <p>Just looking around? Let us suggest you something hot & happening! </p>
                            <img onerror="this.style.display='none'" src="{% static 'images/banner-arrow.png' %}" alt="banner-arrow" class="banner-arrow" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="page-header-overlay"></div>
</div><!-- ../Home Search Container -->