<div  id="lp_599daf179bf1f" class="lp-section-row">
    <div class="lp_section_inner  clearfix"  style="background-color: #eff3f6;">
        <div class="container">
            <div class="row lp-section-content clearfix">
                <div class="lp-section-title-container text-center">
                    <h1>#1 Directory Solution</h1>
                    <div class="lp-sub-title">End-To-End complete solution built for directory listing.</div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="promotional-element listingpro-columns">
                                <div class="listingpro-row padding-top-60 padding-bottom-60">
                                    <div class="promotiona-col-left">
                                        <img src="{{MEDIA_URL}}uploads/2017/03/columns-1.png" alt="">
                                    </div>
                                    <div class="promotiona-col-right">
                                        <article>
                                            <h3>1- Claim</h3>
                                            <p>Best way to start managing your business listing is by claiming it so you can update.</p>
                                        </article>
                                        <article>
                                            <h3>2- Promote</h3>
                                            <p>Promote your business to target customers who need your services or products.</p>
                                        </article>
                                        <article>
                                            <h3>3- Convert</h3>
                                            <p>Turn your visitors into paying customers with exciting offers and services on your page.</p>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>