<div  id="lp_59a90ade0a5d1" class="lp-section-row ">
    <div class="lp_section_inner  clearfix container" >
        <div class="row lp-section-content clearfix">
            <div class="lp-section-title-container text-center ">
                <h1>Happening Cities</h1>
                <div class="lp-sub-title">Cities you must explore this summer</div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="lp-section-content-container clearfix">
                            <div class="col-md-6 col-sm-6  col-xs-12">
                                <div class="city-girds lp-border-radius-8">
                                    <div class="city-thumb">
                                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&w=570&h=455" alt="london" />
                                    </div>
                                    <div class="city-title text-center">
                                        <h3 class="lp-h3">
                                            <a href="./location/boston/index.html">Boston</a>
                                        </h3>
                                        <label class="lp-listing-quantity">1 Listings</label>
                                    </div>
                                    <a href="./location/boston/index.html" class="overlay-link"></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6  col-xs-12">
                                <div class="city-girds lp-border-radius-8">
                                    <div class="city-thumb">
                                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&w=570&h=228" alt="london" />
                                    </div>
                                    <div class="city-title text-center">
                                        <h3 class="lp-h3">
                                            <a href="./location/chicago/index.html">Chicago</a>
                                        </h3>
                                        <label class="lp-listing-quantity">1 Listings</label>
                                    </div>
                                    <a href="./location/chicago/index.html" class="overlay-link"></a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="city-girds lp-border-radius-8">
                                    <div class="city-thumb">
                                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&w=270&h=197" alt="london" />
                                    </div>
                                    <div class="city-title text-center">
                                        <h3 class="lp-h3">
                                            <a href="./location/denver/index.html">Denver</a>
                                        </h3>
                                        <label class="lp-listing-quantity">1 Listings</label>
                                    </div>
                                    <a href="./location/denver/index.html" class="overlay-link"></a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="city-girds lp-border-radius-8">
                                    <div class="city-thumb">
                                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&w=270&h=197" alt="london" />
                                    </div>
                                    <div class="city-title text-center">
                                        <h3 class="lp-h3">
                                            <a href="./location/los-angeles/index.html">Los Angeles</a>
                                        </h3>
                                        <label class="lp-listing-quantity">1 Listings</label>
                                    </div>
                                    <a href="./location/los-angeles/index.html" class="overlay-link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>