<div  id="lp_599daf17a648d" class="lp-section-row">
    <div class="lp_section_inner  clearfix container" >
        <div class="row lp-section-content clearfix">
            <div class="lp-section-title-container text-center">
                <h1>News & Tips</h1>
                <div class="lp-sub-title">checkout latest news and articles from our blog</div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="lp-section-content-container lp-blog-grid-container clearfix">
                            <div class="col-md-4 col-sm-4 lp-blog-grid-box">
                                <div class="lp-blog-grid-box-container lp-border lp-border-radius-8">
                                    <div class="lp-blog-grid-box-thumb">
                                        <a href="./2017/08/23/hello-world/index.html">
                                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&w=372&h=240" alt="blog-grid-1-410x308" />
                                        </a>
                                    </div>
                                    <div class="lp-blog-grid-box-description text-center">
                                        <div class="lp-blog-user-thumb margin-top-subtract-25">
                                            <img class="avatar" src="http://1.gravatar.com/avatar/7f4ed2cfa1bebed28585770e2da94bdc?s=51&#038;d=mm&#038;r=g" alt="">
                                        </div>
                                        <div class="lp-blog-grid-category">
                                            <a href="./category/uncategorized/index.html" >Uncategorized</a>
                                        </div>
                                        <div class="lp-blog-grid-title">
                                            <h4 class="lp-h4">
                                                <a href="./2017/08/23/hello-world/index.html">Hello world!</a>
                                            </h4>
                                        </div>
                                        <ul class="lp-blog-grid-author">
                                            <li>
                                                <a href="./author/admin/index.html">
                                                <i class="fa fa-user"></i>
                                                <span>admin</span>
                                                </a>
                                            </li>
                                            <li>
                                                <i class="fa fa-calendar"></i>
                                                <span>August 23, 2017</span>
                                            </li>
                                        </ul>
                                        <!-- ../lp-blog-grid-author -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 lp-blog-grid-box">
                                <div class="lp-blog-grid-box-container lp-border lp-border-radius-8">
                                    <div class="lp-blog-grid-box-thumb">
                                        <a href="./2017/06/01/hello-world-2/index.html">
                                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&w=372&h=240" alt="blog-grid-1-410x308" />
                                        </a>
                                    </div>
                                    <div class="lp-blog-grid-box-description text-center">
                                        <div class="lp-blog-user-thumb margin-top-subtract-25">
                                            <img class="avatar" src="http://1.gravatar.com/avatar/7f4ed2cfa1bebed28585770e2da94bdc?s=51&#038;d=mm&#038;r=g" alt="">
                                        </div>
                                        <div class="lp-blog-grid-category">
                                            <a href="./category/uncategorized/index.html" >Uncategorized</a>
                                        </div>
                                        <div class="lp-blog-grid-title">
                                            <h4 class="lp-h4">
                                                <a href="./2017/06/01/hello-world-2/index.html">Hello world!</a>
                                            </h4>
                                        </div>
                                        <ul class="lp-blog-grid-author">
                                            <li>
                                                <a href="./author/admin/index.html">
                                                <i class="fa fa-user"></i>
                                                <span>admin</span>
                                                </a>
                                            </li>
                                            <li>
                                                <i class="fa fa-calendar"></i>
                                                <span>June 1, 2017</span>
                                            </li>
                                        </ul>
                                        <!-- ../lp-blog-grid-author -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>