<!-- Modal Packages -->
<div class="modal fade" id="modal-packages" role="dialog">
    <div class="modal-dialog  lp-change-plan-popup">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="lp-existing-plane-container">
                    <div class="modal-header">
                        <h2 class="modal-title">Current Pricing Plan</h2>
                        <p>We recommend you to check details of Pricing Plans before changing.															<a href="./pricing-plan/index.html" target="_blank">Click Here</a>
                        </p>
                    </div>
                    <div class="lp-selected-plan-features">
                        <div class="lp-selected-plan-price">
                            <h3></h3>
                        </div>
                        <div class="lp-selected-plan-price">
                            <h4></h4>
                        </div>
                        <p class="lp-change-plan-btnn">Do you want to change pricing plan?
                            <a class="lp-change-proceed-link" href="" target="_blank">Proceed Here</a>
                        </p>
                    </div>
                </div>
                <div class="lp-new-plane-container"  style="display:none;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Change Pricing Plan</h4>
                        <p>We recommend you to check details of Pricing Plans before changing.															<a href="./pricing-plan/index.html" target="_blank">Click Here</a>
                        </p>
                    </div>
                    <form name="select-plan-form"  id="select-plan-form" method="post" class="select-plan-form">
                        <div class="lp-selected-plan-features select-plan-form">
                            <div class="lp-selected-plan-price">
                                <label class="plan-options">
                                    <div class="radio radio-danger">
                                        <input id="123" type="radio" name="plans-posts" value="123">
                                <label for="123"></label>
                                </div>
                                </label>
                            </div>
                            <div class="selected-plane-price-features">
                                <ul class="clearfix">
                                    <li>
                                        <span></span>
                                        <p>Free</p>
                                    </li>
                                    <li>
                                        <span></span>
                                        <p></p>
                                    </li>
                                    <li>
                                        <span></span>
                                        <p>Unlimited Days</p>
                                    </li>
                                    <li>
                                        <span></span>
                                        <p>Unlimited Listing</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="lp-selected-plan-features select-plan-form">
                            <div class="lp-selected-plan-price">
                                <label class="plan-options">
                                    <div class="radio radio-danger">
                                        <input id="122" type="radio" name="plans-posts" value="122">
                                <label for="122"></label>
                                </div>
                                Basic
                                </label>
                            </div>
                            <div class="selected-plane-price-features">
                                <ul class="clearfix">
                                    <li>
                                        <span></span>
                                        <p>Free</p>
                                    </li>
                                    <li>
                                        <span></span>
                                        <p></p>
                                    </li>
                                    <li>
                                        <span></span>
                                        <p>Unlimited Days</p>
                                    </li>
                                    <li>
                                        <span></span>
                                        <p>Unlimited Listing</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix margin-top-30 margin-bottom-20">
                            <div class="pull-left plane_change_btn"><input type="hidden" value="" name="listing-id" id="listing_id"><input type="hidden" value="" name="listing_status" id="listing_status"><input type="submit" class="btn btn-default" value="Change" name="submit"></div>
                        </div>
                        <div class="clearfix pull-left plane_change_btn"><a href="" class="lp-role-back-to-current-plan">Go Back</a></div>
                    </form>
                    <div class="lp-change-plane-status pull-right">
                        <div class="lp-action-div"></div>
                        <div class="lp-expire-update-status"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>