{% load static %}
<div class="lp-search-bar">
    <form autocomplete="off" class="form-inline" action="{%url 'home_search_listing_all' %}" method="get" accept-charset="UTF-8">
        <div class="form-group lp-suggested-search">
            <div class="input-group-addon lp-border">What</div>
            <div class="pos-relative">
                <div class="what-placeholder pos-relative" data-holder="">
                    <input data-search_url="{% url 'search' %}" autocomplete="off" type="text" class="lp-suggested-search js-typeahead-input lp-search-input form-control ui-autocomplete-input dropdown_fields" name="select" id="select" placeholder="Ex: food, service, barber, hotel" data-prev-value='0' data-noresult = "More results for">
                    <i class="cross-search-q fa fa-times-circle" aria-hidden="true"></i>
                    <img class='loadinerSearch' width="100px" src="{% static 'images/search-load.gif' %}"/>
                </div>
                {% include 'search_cat_default.html' %}
            </div>
        </div>


        <div class="form-group lp-location-search">
            <div class="input-group-addon lp-border lp-where">Where</div>
            <div data-option="no" class="ui-widget border-dropdown">
                <i class="fa fa-crosshairs"></i>
                <select class="chosen-select chosen-select5" name="searchlocation" id="searchlocation">
                    <option id="def_location" value="">Your City...</option>
                    {% for city in cities %}
                        <option  value="{{city.id}}">{{city.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group pull-right">
            <div class="lp-search-bar-right">
                <input value="Search" class="lp-search-btn" type="submit">
                <i class="icons8-search lp-search-icon"></i>
                <img src="{% static 'images/ellipsis.gif' %}" class="searchloading">
                <!--
                    <img src="/static/assets/images/searchloader.gif" class="searchloading">
                -->
            </div>
        </div>
        {% include "search_meta.html" %}
    </form>