<ul class="social-login list-style-none">
    <li>
        <a id="logingoogle" class="google flaticon-googleplus" href="{% url 'social:begin' 'google-oauth2' %}">
            <i class="fa fa-google-plus"></i>
            <span>Google</span>
        </a>
    </li>
    <li>
        <a id="loginfacebook" class="facebook flaticon-facebook" href="{% url 'social:begin' 'facebook' %}">
            <i class="fa fa-facebook"></i>
            <span>Facebook</span>
        </a>
    </li>
    <li>
        <a id="logintwitter" class="twitter flaticon-twitter" href="./wp-login.php?loginTwitter=1" onclick="window.location = './wp-login.php?loginTwitter=1&redirect='+window.location.href; return false;">
            <i class="fa fa-twitter"></i>
            <span>Twitter</span>
        </a>
    </li>
</ul>
