<div  id="lp_599daf17a56f1" class="lp-section-row">
    <div class="lp_section_inner  clearfix"  style="background-color: #eff3f6;">
        <div class="container">
            <div class="row lp-section-content clearfix">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="testimonial lp-section-content-container clearfix">
                                <div class="col-md-6">
                                    <div class="video-thumb">
                                        <img src="{{MEDIA_URL}}uploads/2017/03/image-vid-450-1.png">
                                        <a href="https://vimeo.com/45830194" class="overlay-video-thumb popup-vimeo">
                                        <i class="fa fa-play-circle-o"></i>
                                        </a>
                                    </div>
                                    <!-- ../video-thumb -->
                                </div>
                                <div class="col-md-6">
                                    <div class="testimonial-inner-box">
                                        <h3 class="margin-top-0">People talking about us</h3>
                                        .
                                        <div class="testimonial-description lp-border-radius-5">
                                            <p> We have exceeded our `{`goals for`}` how many people are going to our website, staying on our website and also calling us… We’ve always viewed our relationship with listingpro as an investment to keep us current in our community and to keep us relevant and our brand out there.	</p>
                                        </div>
                                        <!-- ../testimonial-description -->
                                        <div class="testimonial-user-info user-info">
                                            <div class="testimonial-user-thumb user-thumb">
                                                <img src="">
                                            </div>
                                            <div class="testimonial-user-txt user-text">
                                                <label class="testimonial-user-name user-name">Richard Jeans</label><br>
                                                <label class="testimonial-user-position user-position">DX Media. Cortland, OH</label>
                                            </div>
                                        </div>
                                        <!-- ../testimonial-user-info -->
                                    </div>
                                    <!-- ../testimonial-inner-box -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>