<div class="col-md-3 parent-col-wrapper isotope-item">
  <div class="parent-category-col x_panel">
    <div class="x_title clearfix">
      <h2>Parent Category name</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="edit-link" href=""><i class="fa fa-pencil"></i></a></li>
      </ul>
    </div>
    <div class="x_content">
      <ul class="list-unstyled categories-list">
        <li class="category-item clearfix" data-category-id="23">
          <div class="handle pull-left"><i class="fa fa-arrows"></i></div>
          <div class="category-icon pull-left"><i class="fa fa-th-list"></i></div>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="edit" href=""><i class="fa fa-pencil"></i></a></li>
            <li><a class="delete" href=""><i class="fa fa-trash"></i></a></li>
          </ul>
          <div class="name">Category name</div>
        </li>
        <li class="category-item clearfix" data-category-id="23">
          <div class="handle pull-left"><i class="fa fa-arrows"></i></div>
          <div class="category-icon pull-left"><i class="fa fa-th-list"></i></div>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="edit" href=""><i class="fa fa-pencil"></i></a></li>
            <li><a class="delete" href=""><i class="fa fa-trash"></i></a></li>
          </ul>
          <div class="name">Category name</div>
        </li>
        <li class="category-item last-item clearfix" data-category-id="23">
        </li>
      </ul>
      <div class="new-category clearfix">
        <div class="category-icon pull-left"><i class="fa fa-th-list"></i></div>
        <div class="name"><input type="text" placeholder="New Category" class="form-control"/></div>
      </div>
      <div class="potential-dropzone"></div>
    </div>
  </div>
</div>
