{% load static %}
<div class="widget-box business-contact">
    <div class="contact-form quickform">
        <div class="user_text">
            <div class="author-img">
                <img src="http://1.gravatar.com/avatar/7f4ed2cfa1bebed28585770e2da94bdc?s=94&#038;d=mm&#038;r=g"
                     alt="">
            </div>
            <div class="author-social">
                <div class="status">
                    <span class="online"><a>admin</a></span>
                </div>
                <ul class="social-icons post-socials">
                </ul>
            </div>
        </div>

        {% include 'contact_form.html' %}
    </div>
</div>