<div class="post-meta-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="post-meta-left-box">
                            <ul class="breadcrumbs">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li>
                                    {% for cat in listing.categories %}
                                        <a href="{% url 'listing_category' category_id=cat.0 %}">{{cat.1}}</a>
                                    {% endfor %}
                                </li>
                                <li><span>{{listing.name}}</span></li>
                            </ul>
                            <h1>{{listing.name}}
                                {% if listing.claimed %}
                                    <span class="claimed"><i class="fa fa-check"></i> Claimed</span>
                                {% endif %}
                            </h1>
                            <p>{{listing.feature}}</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="post-meta-right-box text-right clearfix margin-top-20">
                            <ul class="post-stat">
                                <li id="fav-container">
                                    <a class="email-address add-to-fav" data-post-type="detail" href=""
                                       data-post-id="{{listing.id}}" data-success-text="Saved">
                                        <i class="fa fa-bookmark-o"></i>
                                        <span class="email-icon">Save</span>
                                    </a>
                                </li>
                                <li class="reviews sbutton">
                                    <a class="reviews-quantity">
                                        <span class="reviews-stars">
                                            <i class="fa fa-share-alt"></i>
                                        </span>Share </a>
                                    <div class="md-overlay hide"></div>
                                    <ul class="social-icons post-socials smenu">
                                        <li>
                                            <a href="https://www.facebook.com/sharer/sharer.php?u={{request.get_host}}{% url 'detail_slug' slug=listing.slug %}"
                                               target="_blank"><!-- Facebook icon by Icons8 -->
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://plus.google.com/share?url={{request.get_host}}{% url 'detail_slug' slug=listing.slug %}"
                                               target="_blank"><!-- Google Plus icon by Icons8 -->
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/intent/tweet?text={{listing.name}}&url={{request.get_host}}{% url 'detail_slug' slug=listing.slug %}&via=Africaone"
                                               target="_blank"><!-- twitter icon by Icons8 -->
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://www.linkedin.com/shareArticle?mini=true&url={{request.get_host}}{% url 'detail_slug' slug=listing.slug %}"
                                               target="_blank"><!-- linkedin icon by Icons8 -->
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://pinterest.com/pin/create/button/?url={{request.get_host}}{% url 'detail_slug' slug=listing.slug %}"
                                               target="_blank"><!-- pinterest icon by Icons8 -->
                                                <i class="fa fa-pinterest"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.reddit.com/login?dest=https%3A%2F%2Fwww.reddit.com%2Fsubmit%3Ftitle%3D{{listing.name}}%26url%3D{{request.get_host}}{% url 'detail_slug' slug=listing.slug %}"
                                               target="_blank"><!-- reddit icon by Icons8 -->
                                                <i class="fa fa-reddit"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.stumbleupon.com/submit?title={{listing.title}}&url={{request.get_host}}{% url 'detail_slug' slug=listing.slug %}"
                                               target="_blank"><!-- stumbleupon icon by Icons8 -->
                                                <i class="fa fa-stumbleupon"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://del.icio.us/login?log=out&provider=sharethis&title={{listing.name}}&url={{request.get_host}}{% url 'detail_slug' slug=listing.slug %}&v=5"
                                               target="_blank"><!-- delicious icon by Icons8 -->
                                                <i class="fa fa-delicious"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="padding-top-30">
                                <span class="rating-section">
                                    <span class="no-review">Be the first one to rate!</span></span>
                                <a href="#reply-title" class="secondary-btn" id="clicktoreview">
                                    <i class="fa fa-star"></i>
                                    Submit Review </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>