<div class="pos-relative">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
    <div class="single-page-slider-container style1">
        <div class="row">
            <div class="">
                <div class="listing-slide img_3" data-images-num="3">
                    <div class="slide">
                        <a href="{{MEDIA_URL}}{{listing.banner_photo}}" rel="prettyPhoto[gallery1]">
                            <img src="{{MEDIA_URL}}{{listing.banner_photo}}" width="400" height="300" alt="{{MEDIA_URL}}{{listing.banner_photo}}"/>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>