{% load static %}
<div class="content-white-area">
    <div class="container single-inner-container single_listing">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                {% if listing.video_url %}
                <div class="video-option  margin-bottom-30">
                    <h2>
                            <span><i class="fa fa-play-circle-o"></i></span>
                            <span>Checkout</span>
                            {{listing.name}}<a href="{{listing.video_url}}" class="watch-video popup-youtube"> Watch Video </a>
                    </h2>
                </div>
                {% endif %}

                <!-- <img src="/assets/images/play-video.png" alt="">
                <div class="widget-video widget-box widget-bg-color lp-border-radius-5">

                                                            <iframe width="900" height="506" src="https://www.youtube.com/embed/oMxLKOv_3t0?feature=oembed" frameborder="0" allowfullscreen></iframe>																				</div> -->

                <div class="post-row">
                    <div class="post-detail-content">
                        <p>{{listing.description}}</p>
                    </div>
                </div>
                {% include 'listing/listing_faq.html' %}
                {% include 'listing/review.html' %}
                {% include 'listing/review_form.html' %}
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="sidebar-post">
                    {% include 'listing/business_hours.html' %}

                    {% include 'listing/detail_item_map.html' %}
                    <div class="widget-box listing-price">

                        <div class="price-area">

                            <div class="post-row price-range">
                                <ul class="list-style-none post-price-row line-height-16">
                                    <li class="grayscale-dollar">
                                                <span class="simptip-position-top simptip-movable"
                                                      data-tooltip="{{listing.cost_type.label}}" title="{{listing.cost_type.label}}"><span
                                                        class="active">{{listing.cost_type.icon}}</span><span class="grayscale">{{listing.cost_type.reminder}}</span></span>
                                    </li>
                                    <li>
                                        <span class="post-rice">
                                            <span class="text">Price Range</span>${{listing.price_min}} - ${{listing.price_max}}</span>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="md-modal md-effect-3 single-page-popup" id="modal-2">
                            <div class="md-content claimform-box">
                                <!-- <h3> ( Arizona Luxury Art Club )</h3> -->
                                <div class="">
                                    <form class="form-horizontal" method="post" id="claimform">
                                        <div class="col-md-5 col-xs-12 padding-0">
                                            <div class="claim-text">
                                                <h1>
                                                    Claim To <span>Unlock</span>
                                                    <small>Your Business</small>
                                                    <span class="big">Listing</span>
                                                </h1>
                                                <img src="{% static 'images/claim1.png' %}" alt="">

                                            </div>
                                        </div>
                                        <div class="col-md-7 col-xs-12 padding-0">
                                            <div class="claim-details">
                                                <h3>Start Managing your listing like a pro</h3>
                                                <h2>
                                                    All from <span>One</span>
                                                    dashboard </h2>
                                                <ul>
                                                    <li>
                                                        <i class="fa fa-check-square-o"></i>
                                                        Edit business listing, add photos, video etc.
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-check-square-o"></i>
                                                        Promote your listing with ads to drive sales.
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-check-square-o"></i>
                                                        Start recieving messages from lead.
                                                    </li>
                                                </ul>
                                                <div class="form-group">
                                                    <input type="hidden" class="form-control" name="post_title"
                                                           value="{{listing.name}}">
                                                    <input type="hidden" class="form-control" name="post_url"
                                                           value="{% url 'detail_slug' slug=listing.slug %}">
                                                    <input type="hidden" class="form-control"
                                                           name="author_nicename" value="{{listing.auther.name}}">
                                                    <input type="hidden" class="form-control" name="author_url"
                                                           value="./author/admin/">
                                                    <input type="hidden" class="form-control"
                                                           name="author_email" value="{{listing.auther.email}}">
                                                    <input type="hidden" class="form-control" name="post_id"
                                                           value="{{listing.id}}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Fill the details below to claim for
                                                        free!</label>
                                                    <input type="text" name="fullname" id="fullname"
                                                           placeholder="Full Name">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" name="phone" id="phone"
                                                           placeholder="Phone#">
                                                </div>
                                                <div class="form-group">
                                                            <textarea class="form-control textarea1" rows="5"
                                                                      name="message" id="message"
                                                                      placeholder="Additional proof to expedite your claim approval..."
                                                                      required></textarea>
                                                </div>
                                                <div class="form-group mr-bottom-0">
                                                    <input type="submit" value="Claim your business now!"
                                                           class="lp-review-btn btn-second-hover">
                                                    <i class="fa fa-circle-o-notch fa-spin fa-2x formsubmitting"></i>
                                                    <span class="statuss"></span>
                                                </div>
                                                <div class="secure-text">
                                                    <i class="fa fa-lock"></i>
                                                    <span>Secure claim process</span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <a class="md-close"><i class="fa fa-close"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Popup Close -->
                        <div class="md-overlay"></div>

                        <div class="claimform">
                            <h3>Claim This Listing</h3>
                            <div class="">
                                <form class="form-horizontal" method="post" id="claimformmobile">
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" name="post_title"
                                               value="{{listing.name}}">
                                        <input type="hidden" class="form-control" name="post_url"
                                               value="{% url 'detail_slug' slug=listing.slug %}">
                                        <input type="hidden" class="form-control" name="author_nicename"
                                               value="{{listing.auther.name}}">
                                        <input type="hidden" class="form-control" name="author_url"
                                               value="./author/admin/">
                                        <input type="hidden" class="form-control" name="author_email"
                                               value="{{listing.auther.email}}">
                                        <input type="hidden" class="form-control" name="post_id" value="{{listing.id}}">
                                    </div>
                                    <div class="form-group">
                                                <textarea class="form-control textarea1" rows="5" name="message"
                                                          id="message" placeholder="Message:"></textarea>
                                    </div>
                                    <div class="form-group mr-bottom-0">
                                        <input type="submit" value="Submit"
                                               class="lp-review-btn btn-second-hover">
                                        <i class="fa fa-circle-o-notch fa-spin fa-2x formsubmitting"></i>
                                        <span class="statuss"></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% include 'listing/business_contact_card.html' %}

                </div>
            </div>
        </div>
    </div>
</div>