<div class="md-modal md-effect-3" data-preview="1" id="modal-1{{listing.id}}">
    <div class="container">
        <div class="md-content">
            <div class="row popup-inner-left-padding">
                <div class="col-md-6 lp-insert-data">
                    <div class="lp-grid-box-thumb">
                        {% comment %}{% for img in listing.business_photo %} {% endcomment %}
                            <div class="slide">
                                <img src="{{MEDIA_URL}}{{listing.banner_photo}}" alt="{{MEDIA_URL}}{{listing.banner_photo}}"/>
                            </div>
                        {% comment %}{% endfor %}{% endcomment %}
                    </div>
                    <div class="lp-grid-desc-container lp-border clearfix">
                        <div class="lp-grid-box-description">
                            <div class="lp-grid-box-left pull-left">
                                <h4 class="lp-h4">
                                    <a href="{% url 'detail_slug' listing.slug %}">{{listing.name}}</a>
                                </h4>
                                <ul>
                                    <li>
                                        {{listing.review_count}} Reviews
                                    </li>
                                    <li class="middle">

                                        <span class="element-price-range list-style-none">
                                            <span class="grayscale simptip-position-top simptip-movable"
                                                  data-tooltip="{{listing.cost_type.}}"
                                                  title="{{listing.cost_type}}">{{listing.cost_type.icon}}</span>
                                        </span></li>
                                    <li>
                                        {% for cat in listing.categories %}
                                            <span class="cat-icon">
                                                <img onerror="this.style.display='none'" class="icon icons8-Food" src="{{MEDIA_URL}}{{cat.2}}" alt="{{cat.1}}">
                                            </span>
                                            <a href="{% url 'listing_category' category_id=cat.0 %}"> {{cat.1}} </a>

                                        {% endfor %}
                                    </li>
                                    <li>
                                        <a href="tel:{{listing.phone}}">{{listing.phone}}</a>
                                    </li>
                                </ul>
                                <div class="lp-grid-desc">
                                    <p>{{listing.description}}</p>
                                </div>
                            </div>
                            <div class="lp-grid-box-right pull-right">
                            </div>
                        </div>
                        <div class="lp-grid-box-bottom">
                            <div class="pull-left">
                                <span class="cat-icon">
                                    <img class="icon icons8-Food" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAABv0lEQVRoge1ZUbGDMBA8CUhAAhKQUAlIqILsOkBCJSABCUhAAhJ4Hw1vGB4tB82R9A07c7+Z3dxmuQSRCxcuBAPJwjlHAC2ADsDgqwfQOOdIsojN8w9Ilp7wqKyOZBWbt5AsdhJfExKnI37Xhw/ITzWQLL+V/G+dJoJkHpr8rBP2dsIzYUKTn6o3JU/yZkh+xNNKlZkAfJY42hpMyPvI1JJoSZYkC5K571y7owt5cAH+C6shUJPM1tYAUGvWcM4xuAAAjXLnV8nP1tF0orUQ0Ctaf9taRxkE4c+BUkCuEJDFErD58QooYLQQsBmhSguVCgGdhQBNgmwePijDILgAbYy+i0CSd80aAOrgAnaOEd00XZLMvG00Oz8CRuOE9vCFKJMvsYgIgMcJAhoT8iIiJKsTdr+yFGBto8HMPhNga6OHKXkR0y6cc6UUMetC+Ox/BYMu2Ht/CSgvJ8nt/gTfhT4A+X7rEmQpQjNZvi3NBGsK7JhxkrDOEt5KR17q4llniSNWim6dJbAvleJbZw1QPpkkY50lFNGaju9fwT+/r5E//0fGUawd6uQO7Rbmd2iS99h8DsG/QqSZOBcu/BP8AL+XHO7G8elbAAAAAElFTkSuQmCC" alt="cat-icon">
                                </span>
                                <span class="text gaddress">{{listing.address}}</span>
                            </div>

                            <div class="pull-right">
                                <a href="#" class="status-btn">
                                    <span class="grid-{% if listing.business_hours.status %}opened{% else %}closed{% endif %}">{{listing.business_hours_show.label}}</span>
                                </a>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="quickmap{{listing.id}}" class="quickmap"></div>
                    <a class="md-close widget-map-click"><i class="fa fa-close"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
