{% load static %}
<div class="header-filter pos-relative form-group margin-bottom-0 col-md-6 " style="display: block;">
    <form autocomplete="off" class="form-inline top-search-form" action="{%url 'home_search_listing_all' %}" method="get"
          accept-charset="UTF-8">
        <div class="search-form-field input-group width-49-percent margin-right-15 ">
            <div class="input-group-addon lp-border">What</div>
            <div class="pos-relative">
                <div class="what-placeholder pos-relative" data-holder="">
                    <input data-search_url="{% url 'search' %}" autocomplete="off" type="text"
                           class="lp-suggested-search js-typeahead-input lp-search-input form-control ui-autocomplete-input dropdown_fields"
                           name="select" id="select" placeholder="Ex: food, service, barber, hotel" value=""
                           data-prev-value="0" data-noresult="More results for">
                    <i class="cross-search-q fa fa-times-circle" aria-hidden="true"></i>
                    <img class="loadinerSearch" width="100px" src="{% static 'images/search-load.gif' %}">
                </div>

                {% include 'search_cat_default.html' %}

            </div>

        </div>

        <div class="input-group width-49-percent ">
            <div class="input-group-addon lp-border">Where</div>
            <div class="ui-widget border-dropdown">
                <input autocomplete="off" id="searchlocation" name="searchlocation" class="form-control" data-country="" value=""
                       placeholder="Your City...">
            </div>

        </div>


        <div class="lp-search-btn-header pos-relative">
            <input value="" class="lp-search-btn lp-search-icon" type="submit">
            <img src="{% static 'images/ellipsis.gif' %}" class="searchloading loader-inner-header">
        </div>

        {% include "search_meta.html" %}

    </form>

</div>