{% load static %}
<div class="header-filter pos-relative form-group margin-bottom-0 col-md-6 " style="display: block;">
    <form autocomplete="off" class="form-inline top-search-form" action="{%url 'home_search_listing_all' %}" method="get"
          accept-charset="UTF-8">
        <div class="search-form-field input-group width-49-percent margin-right-15 ">
            <div class="input-group-addon lp-border">What</div>
            <div class="pos-relative">
                <div class="what-placeholder pos-relative" data-holder="">
                    <input autocomplete="off" type="text"
                           class="lp-suggested-search js-typeahead-input lp-search-input form-control ui-autocomplete-input dropdown_fields"
                           name="select" id="select" placeholder="Ex: food, service, barber, hotel" value=""
                           data-prev-value="0" data-noresult="More results for">
                    <i class="cross-search-q fa fa-times-circle" aria-hidden="true"></i>
                    <img class="loadinerSearch" width="100px" src="{% static 'images/search-load.gif' %}">
                </div>

                <div id="input-dropdown">
                    <ul>
                        {% for cat in parent_categories %}
                            <li class="lp-wrap-cats" data-catid="{{cat.id}}">
                                <img onerror="this.style.display='none'" class="d-icon" src="{{MEDIA_URL}}{{cat.icon}}" />
                                <span class="lp-s-cat">{{cat.name}}</span>
                            </li>
                        {% endfor %}
                    </ul>
                    <div style="display:none" id="def-cats">
                        {% for cat in parent_categories %}
                            <li class="lp-wrap-cats" data-catid="{{cat.id}}">
                                <img onerror="this.style.display='none'" class="d-icon" src="{{cat.icon}}" />
                                <span class="lp-s-cat">{{cat.name}}</span>
                            </li>
                        {% endfor %}
                    </div>
                </div>

            </div>

        </div>

        <div class="input-group width-49-percent ">
            <div class="input-group-addon lp-border">Where</div>
            <div class="ui-widget border-dropdown">
                <input autocomplete="off" id="searchlocation" name="searchlocation" class="form-control" data-country="" value=""
                       placeholder="Your City...">
            </div>

        </div>


        <div class="lp-search-btn-header pos-relative">
            <input value="" class="lp-search-btn lp-search-icon" type="submit">
            <img src="{% static 'images/ellipsis.gif' %}" class="searchloading loader-inner-header">
        </div>

        <input type="hidden" name="city_id" id="city_id">
        <input type="hidden" name="category_id" id="category_id">
        <input type="hidden" name="s" value="home">
        <input type="hidden" name="post_type" value="listing">

    </form>

</div>