<footer class="page-footer">
  <div class="footer-strip-1">
    <div class="container">
      <ul class="footer-menu list-unstyled">
        <li class="first">
          <a href="#">About AfricaOne</a>
        </li>
        <li>
          <a href="#">AfricaOne News</a>
        </li>
        <li>
          <a href="#">Claim your Business</a>
        </li>
        <li>
          <a href="#">Advertising</a>
        </li>
        <li>
          <a href="#">The Blog</a>
        </li>
      </ul>
      <div class="footer-btns">
        <a href="#" class="btn">A-Z Business Listing</a>
        <a href="#" class="btn">Recently Added Business</a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">Copyright &copy; AfricaOne</div>
</footer>
