<ul class="pager pager-listing-businesses">
  <li class="first"><a href="?page=1{{ filter }}" disabled>&lt;&lt;</a></li>

  <li class="prev"><a href="?page={{ prev_item }}{{ filter }}">&lt;</a></li>

  {% for i in page_numbers %}
    {% if page_number == i %}
      <li class="active"><a href="?page={{ i }}{{ filter }}">{{ i }}</a></li>
    {% else %}
      <li><a href="?page={{ i }}{{ filter }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}

  {% if show_dots %}
    <li class="spacer">........</li>
  {% endif %}

  {% if show_last %}
    <li><a href="?page={{ total_pages }}{{ filter }}">{{ total_pages }}</a></li>
  {% endif %}

  <li class="next"><a href="?page={{ next_item }}{{ filter }}">&gt;</a></li>

  <li class="last"><a href="?page={{ total_pages }}{{ filter }}">&gt;&gt;</a></li>
</ul>