{% extends 'admin/base.html' %}
{% load admin_extras %}

{% block main %}

  <div class="manage-reviews-page-wrapper sticky-filters-page-wrapper">

    <h1>Manage Reviews</h1>

    <!-- filters -->
    <div class="x_panel filters-wrapper">
      <form action="" class="listings-filters">
        <div class="row">
          <div class="col-sm-2">
            <div class="form-group">
              <label class="control-label" for="business-name">Listing:</label>
              <input type="text" id="business-name" name="business-name" class="form-control"
                     placeholder="Listing name ...">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label class="control-label" for="user-name">User:</label>
              <input type="text" id="username" name="user-name" class="form-control" placeholder="User name ...">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label class="control-label" for="publish-status">Published:</label>
              <select class="form-control form-select" id="publish-status" name="publish-status">
                <option value="">Any Status</option>
                <option value="published">Published</option>
                <option value="unpublished">Unpublished</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="category">Category:</label>
              <select class="form-control form-select chosen-select categories-chosen-select" id="category"
                      name="categories" multiple="multiple" data-placeholder="Select categories ...">
                <option value="">Select categories</option>
              </select>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label class="control-label" for="review-sorter">Sort by:</label>
              <select class="form-control form-select" id="review-sorter" name="review-sorter">
                <option value="">Sort by ...</option>
                <option value="rating-hi-lo">Rating (high to low)</option>
                <option value="rating-lo-hi">Rating (low to high)</option>
                <option value="date-new-old">Date (Newest first)</option>
                <option value="date-old-new">Date (Oldest first)</option>
                <option value="business-name">Business Name</option>
                <option value="username">User Name</option>
              </select>
            </div>
          </div>
          <div class="col-sm-1">
            <div class="form-group submit-col">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!--/ filters -->

    <!-- list reviews -->
    <div id="manage-reviews-listing" class="dashboard_graph">
      {% include 'admin/reviews/manage_review_item.html' %}
      {% include 'admin/reviews/manage_review_item.html' %}
      {% include 'admin/reviews/manage_review_item.html' %}
      {% include 'admin/reviews/manage_review_item.html' %}
      {% include 'admin/reviews/manage_review_item.html' %}
      {% include 'admin/reviews/manage_review_item.html' %}
      {% include 'admin/reviews/manage_review_item.html' %}
      {% include 'admin/reviews/manage_review_item.html' %}
    </div>
    <!--/ list reviews -->

    <!-- pagination -->
    <div class="pagination-wrapper">
      <ul class="pagination">
        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
        <li class="active">
          <a href="?page=1">1</a>
        </li>
        <li>
          <a href="?page=2">2</a>
        </li>
        <li>
          <a href="?page=3">3</a>
        </li>
        <li>
          <a href="?page=4">4</a>
        </li>
        <li><a href="?page=2" aria-label="Next"><span aria-hidden="true">»</span></a>
        </li>
      </ul>
    </div>
    <!--/ pagination -->

  </div>

{% endblock %}