<ul class="main-menu list-unstyled clearfix">
  <li class="first"><a class="parent-a" href="{% url 'core:home' %}">Home</a></li>
  <li><a class="parent-a" href="{% url 'core:review_list'%}">Write a Review</a></li>
  <li><a class="parent-a" href="{% url 'core:claim_business_find' %}">Business Owners</a></li>
  <li><a class="parent-a" href="{% url 'core:news_list' %}">Blog</a> </li>
  <li><a class="parent-a" href="{% url 'core:events_landing' %}">Events</a></li>
  <li><a class="parent-a" href="{% url 'core:about_africaone'%}">About</a></li>
  <li class="last connect-li">
    <span class="connect">Connect</span>
    <a href="https://facebook.com/" title="AfricaOne on Facebook" class="social-link fb"><span></span></a>
    <a href="https://twitter.com/" title="AfricaOne on Twitter" class="social-link twitter"><span></span></a>
  </li>
</ul>
