<script>
  $(document).ready(function() {
    $('.btn-feedback').click(function(event) {
      var params = {};
      event.preventDefault();

      var $responseContainer = $('.feedback-vote', $(this).parent().parent())

      params['csrfmiddlewaretoken'] = '{{ csrf_token }}';
      params['tag'] = $(this).attr('data-tag');
      params['review_id'] = parseInt($(this).parent().parent().attr('data-review-id'));

      $.post('/tag_review/', params).done(function(response) {
        $responseContainer.html('Your vote is "'+params.tag+'"')
      }).fail(function(err) {
        console.log(err);
      });
    });
  });
</script>