{% extends 'core/base.html' %}
{% load i18n %}

{% block main %}
  <div class="blue-header-bg"></div>

  <form class="add-event-wrapper container" action="{% url 'core:events_create' %}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    
    <div class="event-info-wrapper">
      <div class="event-info">
        <div class="column-title">
          CREATE A NEW EVENT
        </div>
        <div class="column-content">

          {% if form.errors %}
              <div class="form-errors">
              {% for field in form %}
                  {% for error in field.errors %}
                      <div class="form-error-text">
                        {% if field != '__all__' %}
                            {{ field.label }}:
                        {% endif %}
                        {{ error }}
                      </div>
                  {% endfor %}
              {% endfor %}
              </div>
          {% endif %}

          <div class="event-inputs">
            <input class="app-input" name="name" placeholder="Event Name*" type="text" value="{{ form.name.value|default:'' }}">
            
            <div class="app-form-group start-datetime-group">
              <div class="input-label">When*</div>
              <div class="app-form-group-input clearfix">
                <input class="app-input date-input" name="start_date" type="text" value="{{ form.start_date.value|default:'' }}" placeholder="Start date: DD/MM/YYYY">
                <input class="app-input time-input" name="start_time" type="text" value="{{ form.start_time.value|default:'' }}" placeholder="Time: 12:00am">
              </div>
            </div>

            <div class="app-form-group">
              <div class="input-label"></div>
              <div class="app-form-group-input clearfix">
                <input class="app-input date-input" name="finish_date" type="text" value="{{ form.finish_date.value|default:'' }}" placeholder="End date: DD/MM/YYYY">
                <input class="app-input time-input" name="finish_time" type="text" value="{{ form.finish_time.value|default:'' }}" placeholder="Time: 12:00am">
              </div>
            </div>

            <div class="app-form-group">
              <div class="input-label">Where*</div>
              <div class="app-form-group-input">
                <input class="app-input" name="where" type="text" value="{{ form.where.value|default:'' }}">
              </div>
            </div>

            <textarea class="app-input" name="description" placeholder="Description*">{{ form.description.value|default_if_none:'' }}</textarea>
            
            <input class="app-input" name="website_url" placeholder="Website URL" type="text" value="{{ form.website_url.value|default:'' }}">
            
            <div class="app-form-group">
              <div class="input-label">Price*</div>
              <div class="app-form-group-input clearfix">
                <input class="app-input price-input" name="price" type="text" value="{{ form.price.value|default:'' }}" placeholder="UGX">
                <div class="price-checkbox-wrapper">
                  <input type="checkbox" class="event-checkbox" value="">
                  <span>This is a free event</span>
                </div>
              </div>
            </div>

            {{ form.categories }}

            <div class="upload-photo-btn-wrapper">
              <div class="upload-btn">
                Click here to Add Event photo
                {{ form.photo }}
              </div>
              <span class="file-name">No file chosen</span>
            </div>
          </div>

          <div class="form-buttons-wrapper">
            <input type="submit" class="btn line-45 create-btn" value="CREATE EVENT">
            <a href="{% url 'core:events_landing' %}" class="btn link line-45 cancel-btn">Cancel</a>
          </div>
        </div>
      </div>
    
      <div class="event-map">
        <div class="column-title">
          LOCATION ON MAP
        </div>
        <div class="column-content">
          <div id="event-location" class="event-location" data-event-location="{{ form.latitude.value|default:'0.347596' }},{{ form.longitude.value|default:'32.582520' }}"></div>
          <input type="hidden" name="latitude" value="{{ form.latitude.value|default:'0.347596' }}">
          <input type="hidden" name="longitude" value="{{ form.longitude.value|default:'32.582520' }}">
        </div>
      </div>
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function() {
      chosenSelectHandler();
      loadMapScript();
      fileNameHandler();
      checkboxHandler();
      formHandler();
    });

    function initializeMap() {
      var mapElm = $('#event-location');
      var mapPos = mapElm.data('event-location').split(',');
      var latLng = new google.maps.LatLng(mapPos[0], mapPos[1]);

      var map = new google.maps.Map(document.getElementById('event-location'), {
        center: latLng,
        zoom: 15,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });

      var marker = new google.maps.Marker({
        position: latLng,
        map: map
      });

      google.maps.event.addListener(map, 'click', function(event) {
        marker.setPosition(event.latLng);
        marker.setMap(map);
        $('input[name="latitude"]').val(event.latLng.lat());
        $('input[name="longitude"]').val(event.latLng.lng());
      });
    }

    function fileNameHandler() {
      $('#id_photo').change(function() {
        $('.file-name').text($(this)[0].files[0].name);
      });
    }

    function chosenSelectHandler() {
      $("#id_categories").chosen({max_selected_options: 5});
    }

    function checkboxHandler() {
      $('.event-checkbox').iCheck({
        checkboxClass: 'icheckbox_square-green',
        increaseArea: '20%'
      });

      $('.event-checkbox').on('ifChecked', function() {
        $('input[name="price"]').val('0');
        $('input[name="price"]').attr('disabled', true);
      });

      $('.event-checkbox').on('ifUnchecked', function() {
        $('input[name="price"]').val('');
        $('input[name="price"]').attr('disabled', false);
      });

      // Check state on load 
      if ($('input[name="price"]').val() === '0') {
        $('.event-checkbox').iCheck('check');
      }
    }

    function formHandler() {
      $('.add-event-wrapper').submit(function() {
        $('input[name="price"]').attr('disabled', false);
      });
    }
  </script>
{% endblock %}