
<div class="search-filters-wrapper filters-col">
  <h2>Search Events</h2>

  <div class="filter-div reset-btn-div">
    <a href="javascript:;" class="btn reset-filters-btn">Reset filters</a>
  </div>

  <div class="filter-div features-div">
    <div class="div-title">Narrow by time</div>
    <div class="filter checkbox-wrapper">
      <input type="checkbox" id="filter-credit-cards" name="credit-cards">
      <label for="filter-credit-cards">Today</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="checkbox" id="filter-smoking" name="smoking">
      <label for="filter-smoking">Tomorrow</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="checkbox" id="filter-credit-cards-1" name="credit-cards">
      <label for="filter-credit-cards-1">This Weekend</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="checkbox" id="filter-smoking-1" name="smoking">
      <label for="filter-smoking-1">This Week</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="checkbox" id="filter-credit-cards-2" name="credit-cards">
      <label for="filter-credit-cards-2">Next Week</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="checkbox" id="filter-smoking-2" name="smoking">
      <label for="filter-smoking-2">Week after Next</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="checkbox" id="filter-smoking-2" name="smoking">
      <label for="filter-smoking-2">Past</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="checkbox" id="filter-smoking-2" name="smoking">
      <label for="filter-smoking-2">Choose Date</label>
    </div>
  </div>

  <div class="filter-div sub-categories-div">
    <div class="div-title">Sort by</div>
    <div class="filter checkbox-wrapper">
      <input type="checkbox" id="sub-categories-1" name="sub-categories[]">
      <label for="sub-categories-1">Most popular</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="checkbox" id="sub-categories-2" name="sub-categories[]">
      <label for="sub-categories-2">Recently Added</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="checkbox" id="sub-categories-3" name="sub-categories[]">
      <label for="sub-categories-3">Date</label>
    </div>
  </div>

  <div class="filter-div sub-categories-div">
    <div class="div-title">By Category</div>
    <div class="filter checkbox-wrapper">
      <input type="checkbox" id="sub-categories-1" name="sub-categories[]">
      <label for="sub-categories-1">Sub-category name</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="checkbox" id="sub-categories-2" name="sub-categories[]">
      <label for="sub-categories-2">Sub-category name</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="checkbox" id="sub-categories-3" name="sub-categories[]">
      <label for="sub-categories-3">Sub-category name</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="checkbox" id="sub-categories-4" name="sub-categories[]">
      <label for="sub-categories-4">Sub-category name</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="checkbox" id="sub-categories-5" name="sub-categories[]">
      <label for="sub-categories-5">Sub-category name</label>
    </div>
  </div>

</div>
