
<div class="search-filters-wrapper filters-col">
  <h2>Search Events</h2>

  <div class="filter-div reset-btn-div">
    <button type="button" class="btn reset-filters-btn">Reset filters</button>
  </div>

  <div class="filter-div features-div">
    <div class="div-title">Narrow by time</div>
    <div class="filter checkbox-wrapper">
      <input type="radio" id="filter-today" name="narrow" value="today">
      <label for="filter-today">Today</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="radio" id="filter-tomorrow" name="narrow" value="tomorrow">
      <label for="filter-tomorrow">Tomorrow</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="radio" id="filter-this-weekend" name="narrow" value="this-weekend">
      <label for="filter-this-weekend">This Weekend</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="radio" id="filter-this-week" name="narrow" value="this-week">
      <label for="filter-this-week">This Week</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="radio" id="filter-next-week" name="narrow" value="next-week">
      <label for="filter-next-week">Next Week</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="radio" id="filter-week-after-next" name="narrow" value="week-after-next">
      <label for="filter-week-after-next">Week after Next</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="radio" id="filter-past" name="narrow" value="past">
      <label for="filter-past">Past</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="radio" id="filter-choose-date" name="narrow" value="choose-date">
      <label for="filter-choose-date">Choose Date</label>
    </div>
  </div>

  <div class="filter-div sub-categories-div">
    <div class="div-title">Sort by</div>
    <div class="filter checkbox-wrapper">
      <input type="radio" id="sort-popular" name="sort-type" value="popular" checked>
      <label for="sort-popular">Most popular</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="radio" id="sort-recent" name="sort-type" value="recently">
      <label for="sort-recent">Recently Added</label>
    </div>
    <div class="filter checkbox-wrapper">
      <input type="radio" id="sort-date" name="sort-type" value="date">
      <label for="sort-date">Date</label>
    </div>
  </div>

  <div class="filter-div sub-categories-div">
    <div class="div-title">By Category</div>
    {% for category in categories %}
      <div class="filter checkbox-wrapper">
        <input type="checkbox" id="category-{{ forloop.counter }}" name="categories[]" value="{{ category.id }}">
        <label for="category-{{ forloop.counter }}">{{ category.name }}</label>
      </div>
    {% endfor %}
  </div>
</div>