{% extends 'core/base.html' %}
{% load i18n %}

{% block main %}

  <div class="events-landing-page-wrapper">
    <div class="blue-header-bg"></div>
    <div class="page-container container">

      <div class="filter-businesses-wrapper filter-content-wrapper clearfix">

        {% include 'core/events/filters.html' %}

        <div class="filter-content-col">
          <div class="events-landing-page-content clearfix">

            <div class="events-list-wrapper">
              <div class="events-col">

                <div class="featured-events">
                </div>

                <div class="sorted-events">
                </div>

                <input type="hidden" name="page" value="1">

              </div>
            </div>

            <div class="add-recent-events-col">

              <div class="add-event"><a href="{% url 'core:events_create' %}" class="btn add-event-btn">Add an event</a></div>

              <div class="recently-added-events">
                <h2>Recently Added Events</h2>
                <div class="block-content">
                  <ul class="sidebar-events-news-list sidebar-events-list smaller-teasers list-unstyled">
                    {% for event in recent_events %}
                    <li>
                      {% include 'core/events/sidebar-view.html' %}
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      loadEvents();
      resetFilterHandler();
      filterHandlers();
      paginatorHandler();
    });

    function loadEvents(scroll) {
      onResetFilterEvent = false;
      $('.featured-events, .sorted-events').hide();

      var categories = [];
      $('input[name="categories[]"]:checked').each(function() {
        categories.push(parseInt($(this).val()));
      });

      var params = {
        'page': $('input[name="page"]').val(),
        'narrow': $('input[name="narrow"]:checked').val(),
        'sort-type': $('input[name="sort-type"]:checked').val(),
        'categories[]': categories,
      };

      params['csrfmiddlewaretoken'] = '{{ csrf_token }}';

      scroll = scroll || false;

      $.post('/events/', params).done(function(data) {
        if (data.hasOwnProperty('featured_events')) {
          $('.featured-events').html(data.featured_events).show();
        }
        if (data.hasOwnProperty('sorted_events')) {
          $('.sorted-events').html(data.sorted_events).show();
        }
        if (scroll) {
          $("html, body").animate({ scrollTop: $('.sorted-events').offset().top }, "slow");
        }
      }).fail(function(error) {
        console.log(error);
      })
    }

    function resetFilterHandler() {
      onResetFilterEvent = false;

      $('.reset-filters-btn').click(function() {
        onResetFilterEvent = true;
        $('input[name="narrow"]').iCheck('uncheck');
        $('input[name="categories[]"]').iCheck('uncheck');
        $('#sort-popular').iCheck('check');
        loadEvents();
      });
    }

    function filterHandlers() {
      $('input[name="narrow"]').on('ifChecked', function() {
        if (!onResetFilterEvent) {
          loadEvents();
        }
      });
      $('input[name="sort-type"]').on('ifChecked', function() {
        if (!onResetFilterEvent) {
          loadEvents();
        }
      });
      $('input[name="categories[]"]').on('ifChanged', function() {
        if (!onResetFilterEvent) {
          loadEvents();
        }
      });
    }

    function paginatorHandler() {
      $(document).on('click', '.pagination-block a', function(event) {
        event.preventDefault();
        var page = $(this).attr('href').split('=')[1]
        $('input[name="page"]').val(page);
        loadEvents(true);
      });
    }
  </script>
{% endblock %}