<a href="{% url 'core:event_detail' event.id %}" class="sidebar-event-item">
  <div class="event-photo-wrapper">
    {% if event.photo %}
      <img src="{{ event.photo.url }}">
    {% else %}
      <img src="/static/africaone/static-images/no-logo.jpg">
    {% endif %}
  </div>
  <div class="event-details-warapper">
    <div class="title">
      {{ event.name }}
    </div>
    <div class="date">
      {{ event.event_date|date:'D d M Y' }} at {{ event.event_date|date:'h:i a' }}
    </div>
  </div>
</a>