<div class="business-full-detail-wrapper" id="business-full-detail-{{ business.pk }}">

  <div class="btns-row row">
    <div class="business-btns btn-group col-sm-10">
      <a class="btn btn-icon btn-default" href="javascript:;"><i class="fa fa-comment"></i> See Reviews</a>
      <a class="btn btn-icon btn-default" href="javascript:;"><i class="fa fa-eye"></i> View on website</a>
      <a class="btn btn-icon btn-default" href="{% url 'admin:update_business' business.pk %}"><i class="fa fa-edit"></i> Edit</a>
      <a class="btn btn-icon btn-danger" href="javascript:;"><i class="fa fa-trash"></i> Delete</a>
    </div>
    <div class="close-btn-col col-sm-2">
      <a class="btn btn-icon btn-default pull-right" href="javascript:;"><i class="fa fa-close"></i> Close</a>
    </div>
  </div>

  <div class="row title-pic-row">
    <div class="img-col col-md-3">
      {{ business.img }}
    </div>
    <div class="business-details-col col-md-9">
      <h2>{{ business.name }}</h2>
      <div class="no-reviews">{{ business.get_no_reviews }} reviews</div>
      <div class="owner">Owned by: Yusuf Boy</div>
      <div class="created">Created on: 18 Jan 2015 08:00hrs</div>
      <div class="updated">Last updated on: 19 Jan 2016 09:00 hrs</div>
    </div>
  </div>

  <div class="more-details">
    <div class="address row">
      <div class="col-md-1">Address: </div>
      <div class="value col-md-11"> {{ business.address }}</div>
    </div>
    <div class="tel row">
      <div class="col-md-1">Tel:</div>
      <div class="value col-md-11">{{ business.phone }}</div>
    </div>
    <div class="email row">
      <div class="col-md-1">Email:</div>
      <div class="value col-md-11">{{ business.email }}</div>
    </div>
  </div>

  <div class="body">
    {{ business.description }}
  </div>

</div>
