{% extends 'admin/base.html' %}
{% load admin_extras %}

{% block main %}

  <div class="admin-dashboard-index-page-wrapper">

    <!-- top tiles -->
    <div class="row tile_count">
      <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
          <span class="count_top"><i class="fa fa-user"></i> Businesses</span>
          <div class="count">{{ no_of_businesses }}</div>
        </div>
      </div>
      <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
          <span class="count_top"><i class="fa fa-clock-o"></i>Events</span>
          <div class="count">{{ no_of_events }}</div>
        </div>
      </div>
      <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
          <span class="count_top"><i class="fa fa-user"></i> Reviews</span>
          <div class="count green">{{ no_of_reviews }}</div>
        </div>
      </div>
      <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
          <span class="count_top"><i class="fa fa-user"></i> Users</span>
          <div class="count">{{ no_of_users }}</div>
        </div>
      </div>
      <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
          <span class="count_top"><i class="fa fa-user"></i> Business Owners</span>
          <div class="count">{{ no_of_business_owners }}</div>
        </div>
      </div>

    </div>
    <!-- /top tiles -->

    <!-- filters -->
    <div class="x_panel filters-wrapper">
      <form action="" class="listings-filters">
        <div class="row">
          <div class="col-sm-2">
            <div class="form-group">
              <label class="control-label" for="name">Name:</label>
              <input type="text" id="name" name="name" class="form-control" placeholder="Search by name ...">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="category">Category:</label>
              <select class="form-control form-select chosen-select" id="category" name="categories" multiple="multiple"
                      data-placeholder="Select categories ...">
                <option value="">Select categories</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="location">Location:</label>
              <input type="text" id="location" name="location" class="form-control" placeholder="Location ...">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="claim-status">Claim Status</label>
              <select class="form-control form-select" id="claim-status" name="claim-status">
                <option value="">Select claim status</option>
                <option value="claimed">Claimed Businesses</option>
                <option value="unclaimed">Unclaimed businesses</option>
              </select>
            </div>
          </div>
          <div class="col-sm-1">
            <div class="form-group submit-col">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- /filters -->

    <div class="dashboard_graph africaone-home-wrapper">
      <div class="x_title businesses-list-heading">
        <h3>Businesses
          <small>Listing of all businesses</small>
        </h3>
      </div>
      <div class="businesses-list clearfix">
        <div class="businesses-list-items-wrapper">
          {% for business in business_list %}
            {% include 'admin/businesses/business_list_item.html' %}
          {% endfor %}
        </div>
        <div class="businesses-full-details-wrapper">
          {% for business in business_list %}
            {% include 'admin/businesses/business_full_detail.html' %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="pagination-wrapper">
      <ul class="pagination">

        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span
              aria-hidden="true">&laquo;</span></a></li>
        {% else %}
          <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        {% endif %}

        {% for num in page_obj.paginator.num_pages|get_range %}
          {% if num == page_obj.number %}
            <li class="active">
              <a href="?page={{ num }}">{{ num }}</a>
            </li>
          {% else %}
            <li>
              <a href="?page={{ num }}">{{ num }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
          </li>
        {% else %}
          <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        {% endif %}

      </ul>

    </div>

  </div>

{% endblock %}
