.sidebar-events-news-list {
  li {
    border-bottom: solid 1px #f1f1f1;
  }
}

a.sidebar-event-item {
  display: block;
  padding: 20px;
  color: #579ebc;
  @include clearfix();
  @include transition(all 0.3s ease-in);

  .event-photo-wrapper {
    float: left;
    width: 25%;

    img {
      width: 100%;
    }
  }

  .event-details-warapper {
    float: left;
    width: 75%;
    padding-left: 15px;

    .title {
      line-height: 1.3em;
      @include ems_font_size(15px, $font-size-base);
      margin-bottom: 3px;
    }

    .date {
      @include ems_font_size(11px, $font-size-base);
      color: #868686;
      @include transition(color .3s ease-in);
    }
  }

  &:hover {
    background-color: $green;
    color: #fff;
    .date {
      color: #fff;
    }
  }
}


ul.events-list {
  margin: 0 -13px;
  li {
    float: left;
    width: 50%;
    padding: 0 13px;
  }
  &.events-list-3-col {
    margin: 0 -7px;
    li {
      width: 33.3%;
      padding: 0 7px;
    }
  }
}

.event-teaser {
  padding-bottom: 15px;
  a {
    display: block;
  }
  img {
    display: block;
    max-height: 100%; 
    max-width: 100%;
    background: #dbdbdb;
    position: absolute;
    bottom: 0;
  }
  .img {
    position: relative;
    width: 100%;
    margin-bottom: 8px;

    .events-list-2-col & {
      margin-bottom: 15px;
      height: 180px;
    }

    .events-list-3-col & {
      margin-bottom: 15px;
      height: 120px;
    }
  }

  .name-date {
    height: 80px;
  }

  .name {
    a {
      font-weight: bold;
      color: #333;
      line-height: 1.4em;
      &:hover {
        color: #0083ae;
      }
      .events-list-2-col & {
        @include ems_font_size(15px, $font-size-base);
      }
    }
  }
  .date {
    @include ems_font_size(11px, $font-size-base);
    color: #666;
  }
}

.events-list-item {
  @include clearfix();
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: solid 2px #f1f1f1;

  .item-photo {
    width: 35%;
    float: left;
    img {
      width: 100%;
    }
  }

  .item-details {
    width: 65%;
    float: left;
    padding-left: 20px;

    .item-name {
      a {
        text-transform: uppercase;
        color: $blue;
        font-weight: bold;
        line-height: 1.2em;
        @include ems_font_size(14px, $font-size-base);
      }
    }

    .item-where {
      padding-bottom: 15px;
    }

    .item-submitted-by {
      padding-top: 10px;
      text-align: right;

      span {
        font-weight: bold;
      }
    }
  }
}


.add-event-wrapper {
  margin-top: -80px;

  .column-title {
    padding-left: 40px;
  }

  .event-info-wrapper {
    margin-bottom: 3px;
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .event-info {
    width: 50%;
    float: left;
    padding-right: 1px;

    .column-content {
      min-height: 460px;
      padding: 25px 40px 45px 40px;

      .column-description {
        color: #666666;
        @include ems_font_size(13px, $font-size-base);
        padding-bottom: 15px;
      }
    }

    .event-inputs {
      input {
        margin-bottom: 10px;
      }

      .chosen-container-multi .chosen-choices {
        background-image: none;
        border: solid 1px #c4c4c4;
        padding: 8px 15px;

        .search-field input {
          color: #a9a9a9;
        }
      }

      textarea {
        width: 100%;
        height: 110px;
        resize: vertical;
        padding: 10px 15px;
        margin-bottom: 10px;
      }

      .app-input.date-input {
        display: block;
        float: left;
        width: 64.5%;
      }

      .app-input.time-input {
        display: block;
        float: right;
        width: 35%;
      }

      .start-datetime-group .app-input {
        margin-bottom: 0.5%;
      }

      .app-form-group-input {
        .app-input.price-input {
          display: block;
          float: left;
          width: 55%;
        }
        .price-checkbox-wrapper {
          float: right;
          width: 44%;
          background-color: #f1f1f1;
          border: 1px solid #c4c4c4;
          color: #666;
          padding-left: 10px;
          line-height: 43px;

          span {
            margin-left: 10px;
          }
        }
      }

    }
  }

  .event-map {
    width: 50%;
    float: left;
    padding-left: 1px;

    .column-content {
      min-height: 682px;
      padding: 40px;
    }

    .event-location {
      width: 100%;
      height: 602px;
    }
  }

  .review-wrapper {
    .column-content {
      padding: 30px 40px;
    }
  }


  .form-buttons-wrapper {
    margin-top: 25px;
  }


  .btn {
    display: inline-block;

    &.create-btn {
      padding: 0 36px;
      margin-right: 6px;
      @include border-radius(0);
      @include transition(all 0.3s ease-in);
    }

    &.link:hover {
      text-decoration: underline;
    }
  }
}