.page-footer {
  background: #fff;
  margin-top: 65px;
}
.footer-copyright {
  background: $blue;
  color: #fff;
  text-align: center;
  padding: 25px 0;
}
.footer-btns {
  margin: 45px 0;
  text-align: center;
  .btn {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 40px;
  }
}
ul.footer-menu {
  text-align: center;
  padding: 25px 0 0;
  font-size: 0;
  li {
    display: inline-block;
    padding: 0 15px 25px;
    font-size: 14px;
    border-bottom: solid 1px #f1f1f1;
  }
  a {
    text-transform: uppercase;
    color: #666;
    &:hover {
      color: #007fa8;
    }
  }
}