.reviews-list-page-wrapper {
  margin-top: -225px;

  .page-description {
    height: 145px;
    text-align: center;
    padding-top: 40px;

    h1 {
      color: #fff;
      @include ems_font_size(34px, $font-size-base);
    }

    h6 {
      color: #9cff00;
      @include ems_font_size(13px, $font-size-base);
      font-weight: normal;
      margin: 0;
    }
  }

  .column-left {
    padding-right: 2px; 
  }

  .column-right {
    padding-left: 2px;

    .map-block {
      background-color: #fff;
      padding: 15px 30px 20px 30px;
      margin-bottom: 4px;

      .checkbox-wrapper {
        padding-bottom: 15px;
        padding-left: 2px;
        label {
          padding-left: 10px;
          color: #666666;
        }
      }

      img {
        display: block;
        width: 100%;
        margin-bottom: 2px;
      }

      .btn {
        font-weight: bold;
        @include ems_font_size(15px, $font-size-base);
      }
    }

    .couldnt-find-block {
      margin-bottom: 4px;
      background: image-url('couldnt-find-bg.png') no-repeat center top rgba(0, 127, 169, 1);
      @include background-size(cover);
      padding: 45px 45px 45px 35px;
      color: #fff;

      h3 {
        @include ems_font_size(36px, $font-size-base);
        line-height: 1.2;
        margin: 0;
      }

      h4 {
        @include ems_font_size(20px, $font-size-base);
        line-height: 2.8;
        margin: 0;
        font-weight: normal;
      }

      span {
        display: block;
        @include ems_font_size(14px, $font-size-base);
        margin-bottom: 15px;
      }

      .btn {
        font-weight: bold;
        @include ems_font_size(15px, $font-size-base);
      }
    }

    .facebook-block {
      background-color: #fff;
      padding: 20px 20px 45px 20px;
      margin-bottom: 4px;

      img {
        display: block;
        width: 100%;
      }
    }

    .advert-block {
      background-color: #fff;
      padding: 20px 20px 45px 20px;
      margin-bottom: 4px;

      span {
        display: block;
        text-align: right;
        padding-bottom: 2px;
        @include ems_font_size(15px, $font-size-base);
        color: #999999;
      }

      img {
        display: block;
        width: 100%;
      }
    }
  }

  .column-title {
    background-color: #f8f8f8;
    color: #333333;
    height: 80px;
    line-height: 80px;
    @include ems_font_size(26px, $font-size-base);
    font-weight: bold;
    padding-left: 30px;
  }

  .column-info-line {
    background-color: #0083ae;
    padding-left: 30px;
    line-height: 40px;
    @include ems_font_size(13px, $font-size-base);
    color: #fff;

    a {
      color: #9cff00;
    }
  }

  .business-block-wrapper {
    padding: 30px 30px 15px 30px;
    background-color: #fff;
  
    .business-photo {
      float: left;
      padding-top: 5px;
      width: 25%;

      img {
        width: 100%;
        @include border-radius(2px);
        display: block;
      }
    }

    .business-details {
      float: left;
      padding-left: 30px;
      width: 75%;

      .business-name {
        color: #007fa8;
        @include ems_font_size(16px, $font-size-base);
        font-weight: bold;
        padding-bottom: 10px;
      }

      .business-info {
        display: table;
        color: #666666;
        @include ems_font_size(12px, $font-size-base);
        width: 100%;
        line-height: 1.6;

        .business-info-left {
          display: table-cell;
          min-width: 45%;
          padding-right: 25px;

          .business-rating {
            width: 100%;
            margin-left: -2px;

            img {
              margin-right: -4px;
            }

            span {
              color: #999999;
              padding-left: 10px;
            }
          }
        }

        .business-info-center {
          display: table-cell;
          vertical-align: middle;
          width: 30%;
          padding: 0 25px;
          border: 1px solid #f1f1f1;
          border-width: 0 1px;

          .business-address {
            padding-bottom: 10px;
          }
        }

        .business-info-right {
          text-align: center;
          @include ems_font_size(11px, $font-size-base);
          display: table-cell;
          vertical-align: middle;
          width: 25%;
          padding: 0 25px;

          .photos-icon-wrapper {
            height: 50px;
            position: relative;
            cursor: pointer;

            img {
              height: 100%;
            }

            span {
              position: absolute;
              left: 50%;
              top: 0;
              display: block;
              height: 50px;
              line-height: 50px;
              width: 50px;
              color: #fff;
              margin-left: -25px;
              @include ems_font_size(20px, $font-size-base);
            }
          }
        }
      }

    }
  }

  .business-bottom-block {
    height: 65px;
    background-color: #fff;
    margin: 2px 0 5px 0;
    padding-left: 30px;
    padding-top: 16px;

    .write-review-button {
      display: inline-block;
      vertical-align: bottom;
      height: 33px;
      line-height: 33px;
      background-color: #77c200;
      @include border-radius(2px);

      .star-block {
        float: left;
        height: 23px;
        padding: 5px 0 0 15px;

        img {
          cursor: pointer;
        }
      }

      a {
        display: inline-block;
        color: #fff;
        padding: 0 20px 0 10px;
        @include ems_font_size(12px, $font-size-base);
      }
    }

    span {
      display: inline-block;
      line-height: 33px;
      color: #999999;
      height: 33px;
      padding-left: 10px;
      @include ems_font_size(12px, $font-size-base);
    }
  }

  .pagination-block {
    height: 52px;
    background-color: #fff;
    padding: 11px;
    text-align: center;

    .pagination-wrapper {
      color: #666666;
      display: inline-block;
      height: 30px;
      @include ems_font_size(14px, $font-size-base);
      line-height: 30px;

      a {
        display: inline-block;
        min-width: 35px;
        height: 100%;
        color: #666666;
        text-align: center;

        &.selected {
          color: #fff;
          background-color: #007fa8;

          &:hover {
            background-color: #007fa8;
          }
        }

        &:hover {
          background-color: #f1f1f1;
        }
      }

      span {
        display: inline-block;
        min-width: 35px;
        height: 100%;
        color: #999999;
        text-align: center;
      }
    }
  }
}


.review-stars {
  background: sprite($global-sprite, 'five-star-grey');
  @include sprite-dimensions($global-sprite, 'five-star-grey');
  &.darker {
    background-position: sprite-position($global-sprite, 'five-star-grey-darker');
  }
  .rating {
    background: sprite($global-sprite, 'five-star-green');
    height: 14px; width: 0;
  }
  &.blue {
    .rating {
      background-position: sprite-position($global-sprite, 'five-star-blue');
    }
  }
}
.business-reviews-stars-number {
  position: relative;
  padding-left: 115px;
  line-height: 14px;
  color: #999;
  .text {
    overflow: hidden;
    white-space: nowrap;
  }
  .review-stars-wrapper {
    position: absolute;
    left: 0; top: 0;
  }
  .review-stars {
  }
}
.business-reviews-stars-box {
  color: #666;
  padding-left: 140px;
  line-height: 34px;
  .review-stars-wrapper {
    background-color: #f1f1f1;
    border: solid 1px #c4c4c4;
    @include border-radius(2px);
    padding: 9px 15px;
  }
}

.write-review-wrapper {
  color: #fff;
  background: $green;
  @include border-radius(3px);
  line-height: 40px;
  padding: 0 15px 0 125px;
  overflow: hidden;
  position: relative;
  .review-stars {
    position: absolute;
    left: 15px; top: 50%;
    @include translateY(-50%);
  }
  &.white-bg {
    background: #fff;
    color: #666;
  }
  &.flush-left {
    padding-left: 110px;
    .review-stars {
      left: 0;
    }
  }
}

.review-of-day-wrapper {
  padding: 30px 45px 20px 25px;
  color: #666;
  .btn {
    width: 105px;
    line-height: 30px;
  }
  .review-snippet {
    margin: 19px 0 12px;
  }
  img {
    display: block;
    width: 100%; height: auto;
  }
  .review-img {
    position: relative;
    min-height: 92px;
    padding: 0 0 0 155px;
    .business-img {
      position: absolute;
      left: 0; top: 0;
      min-height: 92px;
      width: 130px;
      background: #ccc;
      @include border-radius(3px);
      overflow: hidden;
    }
    .title {
      font-weight: bold;
      @include ems_font_size(17px, $font-size-base);
      text-transform: uppercase;
      color: $blue;
    }
    .business-reviews-stars-number {
      margin: 10px 0;
    }
  }
  .photos {
    margin: 0 -2px;
    img {
      background: #ccc;
      min-height: 40px;
    }
    li {
      padding: 0 2px;
      float: left;
      width: 33.3%;
    }
    .overlay-text {
      left: 2px;
    }
  }
}

.star-rating-widget {
  line-height: 40px;
  padding: 0 15px 0 125px;
  overflow: hidden;
  position: relative;
  .rating-stars {
    position: absolute;
    left: 0;
    top: 50%;
    width: 110px;
    @include translateY(-50%);
  }
  .rating-star-li {
    float: left;
    overflow: hidden;
    margin: 0 2px 0 0;
    width: 20px;
    position: relative;
    cursor: pointer;
    z-index: 5;
  }
  .rating-green-stars {
    z-index: 1;
    position: absolute;
    left: 0; top: 0;
    background: sprite($global-sprite, 'five-star-green');
    width: 0; height: 14px;
  }
    .stars-1 .rating-green-stars {
      width: 20%;
    }
    .stars-2 .rating-green-stars {
      width: 40%;
    }
    .stars-3 .rating-green-stars {
      width: 60%;
    }
    .stars-4 .rating-green-stars {
      width: 80%;
    }
    .stars-5 .rating-green-stars {
      width: 100%;
    }
  .rating-star-input {
    width: 20px; height: 14px;
    display: block;
    cursor: pointer;
    @include opacity(0);
    @include appearance('none');
  }
  label {
    display: none;
  }
  .rating-description {
  }
}